# Process US County-level Data from NYT

In [1]:
# Import packages
import pandas as pd
import numpy as np
from datetime import datetime
import geopandas as gpd
import mapclassify as mc

Step0:  
Read data and get basic county groups

0.0 Report Data

In [2]:
# Read updated CSV file
df_counties_original = pd.read_csv("./us-counties.csv", dtype={"date": np.string_, 
                                                             "county": np.string_,
                                                             "state": np.string_,
                                                             "fips": np.string_,
                                                            "cases": np.int32,
                                                            "deaths": np.string_})
# Change 'Unknown' fips to '00000' 
df_counties_original['fips'] = df_counties_original['fips'].replace({np.nan: '00000'})
# Change 'Unknown' deaths to 0 and death column to int32 type
df_counties_original['deaths'] = df_counties_original['deaths'].replace({np.nan: 0})
df_counties_original = df_counties_original.astype({'deaths': 'int32'})
df_counties_original.sort_values("fips", ascending=True)

              date      county                     state   fips  cases  deaths
336076  2020-07-15     Unknown                 Minnesota  00000    134      40
238999  2020-06-14     Unknown  Northern Mariana Islands  00000     30       2
238994  2020-06-14     Unknown              North Dakota  00000      3       3
31623   2020-04-04     Unknown                  Kentucky  00000     77       3
466657  2020-08-25     Unknown                    Alaska  00000     52       0
...            ...         ...                       ...    ...    ...     ...
670312  2020-10-26  St. Thomas            Virgin Islands  78030    779      14
109295  2020-05-02  St. Thomas            Virgin Islands  78030     37       0
61584   2020-04-15  St. Thomas            Virgin Islands  78030     35       0
673554  2020-10-27  St. Thomas            Virgin Islands  78030    780      14
809849  2020-12-08  St. Thomas            Virgin Islands  78030    921      15

[839386 rows x 6 columns]

0.1 GeoJSON Data

In [3]:
# Read GeoJson data
old_counties_geojson_df = gpd.read_file(r"./counties_update_new.geojson")
old_counties_geojson_df.head(5)

,NAME,state_name,GEOID,population,geometry
0,Bladen,North Carolina,37017,33778,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ..."
1,Stanly,North Carolina,37167,61114,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ..."
2,Summit,Ohio,39153,541810,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ..."
3,Sullivan,Pennsylvania,42113,6177,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ..."
4,Upshur,Texas,48459,40769,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ..."

0.2 Group Data to Counties

In [4]:
# Transform cases/deaths data table to pivot table using fips as main index
pivot_counties = pd.pivot_table(df_counties_original , index=['state','county','fips'],
                       columns=['date'])
pivot_counties = pivot_counties.replace(np.nan, 0)
pivot_counties

                            cases                                              \
date                   2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state   county   fips
Alabama Autauga  01001        0.0        0.0        0.0        0.0        0.0
        Baldwin  01003        0.0        0.0        0.0        0.0        0.0
        Barbour  01005        0.0        0.0        0.0        0.0        0.0
        Bibb     01007        0.0        0.0        0.0        0.0        0.0
        Blount   01009        0.0        0.0        0.0        0.0        0.0
...                           ...        ...        ...        ...        ...
Wyoming Teton    56039        0.0        0.0        0.0        0.0        0.0
        Uinta    56041        0.0        0.0        0.0        0.0        0.0
        Unknown  00000        0.0        0.0        0.0        0.0        0.0
        Washakie 56043        0.0        0.0        0.0        0.0        0.0
        Weston   56045        0.0        0.0        0.0        0.0        0.0

                                                                               \
date                   2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30
state   county   fips
Alabama Autauga  01001        0.0        0.0        0.0        0.0        0.0
        Baldwin  01003        0.0        0.0        0.0        0.0        0.0
        Barbour  01005        0.0        0.0        0.0        0.0        0.0
        Bibb     01007        0.0        0.0        0.0        0.0        0.0
        Blount   01009        0.0        0.0        0.0        0.0        0.0
...                           ...        ...        ...        ...        ...
Wyoming Teton    56039        0.0        0.0        0.0        0.0        0.0
        Uinta    56041        0.0        0.0        0.0        0.0        0.0
        Unknown  00000        0.0        0.0        0.0        0.0        0.0
        Washakie 56043        0.0        0.0        0.0        0.0        0.0
        Weston   56045        0.0        0.0        0.0        0.0        0.0

                        ...     deaths                                   \
date                    ... 2020-12-08 2020-12-09 2020-12-10 2020-12-11
state   county   fips   ...
Alabama Autauga  01001  ...       42.0       42.0       42.0       42.0
        Baldwin  01003  ...      141.0      141.0      141.0      141.0
        Barbour  01005  ...       30.0       30.0       30.0       30.0
        Bibb     01007  ...       39.0       39.0       40.0       40.0
        Blount   01009  ...       46.0       47.0       47.0       47.0
...                     ...        ...        ...        ...        ...
Wyoming Teton    56039  ...        2.0        2.0        2.0        2.0
        Uinta    56041  ...        6.0        7.0        7.0        7.0
        Unknown  00000  ...        0.0        0.0        0.0        0.0
        Washakie 56043  ...       10.0       11.0       11.0       11.0
        Weston   56045  ...        2.0        2.0        2.0        2.0

                                                                               \
date                   2020-12-12 2020-12-13 2020-12-14 2020-12-15 2020-12-16
state   county   fips
Alabama Autauga  01001       41.0       41.0       41.0       43.0       43.0
        Baldwin  01003      141.0      141.0      141.0      141.0      145.0
        Barbour  01005       30.0       30.0       30.0       30.0       30.0
        Bibb     01007       40.0       40.0       40.0       39.0       42.0
        Blount   01009       47.0       47.0       47.0       49.0       50.0
...                           ...        ...        ...        ...        ...
Wyoming Teton    56039        2.0        2.0        2.0        2.0        2.0
        Uinta    56041        7.0        7.0        7.0        7.0        7.0
        Unknown  00000        0.0        0.0        0.0        0.0        0.0
        Washakie 56043       11.0       11.0       11.0       11.0       11.0
        Weston   56045        2.0        2.0        2.0        2.0        2.0


date                   2020-12-17
state   county   fips
Alabama Autauga  01001       43.0
        Baldwin  01003      145.0
        Barbour  01005       30.0
        Bibb     01007       42.0
        Blount   01009       52.0
...                           ...
Wyoming Teton    56039        2.0
        Uinta    56041        7.0
        Unknown  00000        0.0
        Washakie 56043       11.0
        Weston   56045        2.0

[3273 rows x 664 columns]

0.3 Get Date Info

In [5]:
# Get dates from data table
date= pivot_counties['cases'].columns
date

Index(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       ...
       '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17'],
      dtype='object', name='date', length=332)

In [6]:
# Sort dates and get the start/end
date_str = np.sort(date)
dt_str_start=np.min(date_str)
dt_str_end=np.max(date_str)

In [7]:
# Format dates and create a list
start = datetime.strptime(dt_str_start, "%Y-%m-%d")
end = datetime.strptime(dt_str_end, "%Y-%m-%d")
dt_range = pd.date_range(start=start,end=end)
print(len(dt_range), dt_range)
dt_range_str = list(map(lambda x: x.strftime("%Y-%m-%d"), dt_range.tolist()))
print(len(dt_range_str), dt_range_str)

332 DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30',
               ...
               '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11',
               '2020-12-12', '2020-12-13', '2020-12-14', '2020-12-15',
               '2020-12-16', '2020-12-17'],
              dtype='datetime64[ns]', length=332, freq='D')
332 ['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17']

Step1:  
Add Cases Time Series, First Case Date, Death Time Series, First Death Date

In [8]:
# import json
# pivot_counties['cases_ts'] = json.dumps({"values": pivot_counties['cases'].values.tolist()[0]})
# pivot_counties['deaths_ts'] =  json.dumps({"values": pivot_counties['deaths'].values.tolist()[0]})

# Create time series of cases/deaths
pivot_counties['cases_ts'] =  pivot_counties['cases'].values.tolist()
pivot_counties['deaths_ts'] =  pivot_counties['deaths'].values.tolist()

In [9]:
# Get the date of first case/death
pivot_counties['dt_first_case'] = (pivot_counties['cases'] > 0).idxmax(axis=1)
pivot_counties['dt_first_death'] = (pivot_counties['deaths'] > 0).idxmax(axis=1)
# For death reports, deal with no deaths counties
pivot_counties.loc[pivot_counties['deaths'].iloc[:, -1] <= 0, 'dt_first_death'] = np.nan
pivot_counties.head(5)

                           cases                                              \
date                  2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state   county  fips
Alabama Autauga 01001        0.0        0.0        0.0        0.0        0.0
        Baldwin 01003        0.0        0.0        0.0        0.0        0.0
        Barbour 01005        0.0        0.0        0.0        0.0        0.0
        Bibb    01007        0.0        0.0        0.0        0.0        0.0
        Blount  01009        0.0        0.0        0.0        0.0        0.0

                                                                              \
date                  2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30
state   county  fips
Alabama Autauga 01001        0.0        0.0        0.0        0.0        0.0
        Baldwin 01003        0.0        0.0        0.0        0.0        0.0
        Barbour 01005        0.0        0.0        0.0        0.0        0.0
        Bibb    01007        0.0        0.0        0.0        0.0        0.0
        Blount  01009        0.0        0.0        0.0        0.0        0.0

                       ...     deaths                                   \
date                   ... 2020-12-12 2020-12-13 2020-12-14 2020-12-15
state   county  fips   ...
Alabama Autauga 01001  ...       41.0       41.0       41.0       43.0
        Baldwin 01003  ...      141.0      141.0      141.0      141.0
        Barbour 01005  ...       30.0       30.0       30.0       30.0
        Bibb    01007  ...       40.0       40.0       40.0       39.0
        Blount  01009  ...       47.0       47.0       47.0       49.0

                                             \
date                  2020-12-16 2020-12-17
state   county  fips
Alabama Autauga 01001       43.0       43.0
        Baldwin 01003      145.0      145.0
        Barbour 01005       30.0       30.0
        Bibb    01007       42.0       42.0
        Blount  01009       50.0       52.0

                                                                cases_ts  \
date
state   county  fips
Alabama Autauga 01001  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Baldwin 01003  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Barbour 01005  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Bibb    01007  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Blount  01009  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                                               deaths_ts  \
date
state   county  fips
Alabama Autauga 01001  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Baldwin 01003  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Barbour 01005  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Bibb    01007  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
        Blount  01009  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                      dt_first_case dt_first_death
date
state   county  fips
Alabama Autauga 01001    2020-03-24     2020-04-06
        Baldwin 01003    2020-03-14     2020-04-01
        Barbour 01005    2020-04-03     2020-04-29
        Bibb    01007    2020-03-30     2020-05-08
        Blount  01009    2020-03-25     2020-05-17

[5 rows x 668 columns]

Step2:  
Add today_case, today_new_case, today_death, today_new_death

In [10]:
# Get the latest case/death
yesterday = date.values[-2]
pivot_counties['today_case'] = pivot_counties['cases'][dt_str_end]
pivot_counties['today_new_case'] = pivot_counties['cases'][dt_str_end] - pivot_counties['cases'][yesterday]
pivot_counties['today_death'] = pivot_counties['deaths'][dt_str_end]
pivot_counties['today_new_death'] = pivot_counties['deaths'][dt_str_end] - pivot_counties['deaths'][yesterday]

Step3:  
Extract necessary columns

In [11]:
# Only keep the necessary columns
report_df = pivot_counties[['cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']]
report_df = report_df.reset_index()
report_df.columns = ['state','county','fips','cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']
report_df.head(5)

,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Alabama,Autauga,01001,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-03-24,2020-04-06,3570.0,60.0,43.0,0.0
1,Alabama,Baldwin,01003,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-03-14,2020-04-01,11364.0,152.0,145.0,0.0
2,Alabama,Barbour,01005,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-04-03,2020-04-29,1309.0,13.0,30.0,0.0
3,Alabama,Bibb,01007,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-03-30,2020-05-08,1548.0,28.0,42.0,0.0
4,Alabama,Blount,01009,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-03-25,2020-05-17,4036.0,86.0,52.0,2.0

Step4:  
Assign geometries to counties

In [12]:
# Merge case dataframe and geometry
final_df = pd.merge(old_counties_geojson_df, report_df, how='left', left_on=['NAME','state_name'], right_on = ['county','state'])
final_df.columns

Index(['NAME', 'state_name', 'GEOID', 'population', 'geometry', 'state',
       'county', 'fips', 'cases_ts', 'deaths_ts', 'dt_first_case',
       'dt_first_death', 'today_case', 'today_new_case', 'today_death',
       'today_new_death'],
      dtype='object')

In [13]:
final_df.head(1)

,NAME,state_name,GEOID,population,geometry,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Bladen,North Carolina,37017,33778,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",North Carolina,Bladen,37017,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2020-04-03,2020-05-06,1611.0,27.0,23.0,1.0

In [14]:
final_df[final_df["cases_ts"].isna()==True]

,NAME,state_name,GEOID,population,geometry,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
121,Winchester,Virginia,51840,27789,"MULTIPOLYGON (((-78.18779 39.20487, -78.13744 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,Covington,Virginia,51580,5582,"MULTIPOLYGON (((-80.00500 37.76535, -79.98740 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,Staunton,Virginia,51790,24452,"MULTIPOLYGON (((-79.09590 38.18508, -79.03379 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,Aleutians West,Alaska,02016,5750,"MULTIPOLYGON (((179.48132 51.97530, 179.58286 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,Juana Díaz,Puerto Rico,72075,46960,"MULTIPOLYGON (((-66.54722 18.15313, -66.52190 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,Denali,Alaska,02068,2232,"MULTIPOLYGON (((-152.42808 63.18317, -152.4281...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3073,Alexandria,Virginia,51510,156505,"MULTIPOLYGON (((-77.11080 38.84345, -77.08781 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3080,Lexington,Virginia,51678,7110,"MULTIPOLYGON (((-79.46155 37.78372, -79.45333 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3087,Fairbanks North Star,Alaska,02090,99653,"MULTIPOLYGON (((-148.66120 65.20987, -147.5577...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3194,Skagway,Alaska,02230,1061,"MULTIPOLYGON (((-135.47744 59.79963, -135.2311...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Step5:  
Deal with nan values

In [15]:
# Replace NAN values with 0
final_df[['today_case','today_new_case','today_death','today_new_death']] = final_df[['today_case','today_new_case','today_death','today_new_death']].replace(np.nan,0)
final_df['fips'] = final_df['fips'].replace(np.nan, final_df['GEOID'])

In [16]:
# Create template
template = final_df[~final_df['cases_ts'].isna()]['cases_ts']
template = template.iloc[0]
template

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 4.0,
 4.0,
 4.0,
 6.0,
 7.0,
 10.0,
 10.0,
 13.0,
 20.0,
 21.0,
 25.0,
 27.0,
 27.0,
 29.0,
 34.0,
 40.0,
 45.0,
 50.0,
 51.0,
 52.0,
 54.0,
 60.0,
 63.0,
 66.0,
 68.0,
 70.0,
 71.0,
 73.0,
 78.0,
 81.0,
 83.0,
 91.0,
 92.0,
 94.0,
 94.0,
 94.0,
 94.0,
 94.0,
 95.0,
 100.0,
 101.0,
 105.0,
 104.0,
 106.0,
 132.0,
 143.0,
 153.0,
 162.0,
 165.0,
 163.0,
 164.0,
 173.0,
 186.0,
 188.0,
 194.0,
 196.0,
 199.0,
 214.0,
 220.0,
 232.0,
 262.0,
 307.0,
 310.0,
 321.0,
 333.0,
 341.0,
 344.0,
 349.0,
 357.0,
 366.0,
 371.0,
 379.0,
 384.0,
 397.0,
 398.0,
 399.0,
 399.0,
 406.0,
 411.0,
 419.0,
 424.0,
 430.0,
 438.0,
 446.0,
 455.0,
 457.0,
 464.0,
 474.0,
 480.0,
 485.0,
 487.0,
 493.0,
 509.0,
 508.0,
 514.0,
 523.0,
 528.0,
 536.0,
 539.0,
 549.0,
 563.0,
 563.0,
 577.0,
 584.0,
 589.0,
 591.0,
 596.0,
 603.0,
 608.0,
 623.0,
 623.0,
 625.0,
 626.0,
 627.0,
 634.0,
 640.0,
 651.0,
 652.0,
 653.0,
 658.0,
 659.0,
 663.0,
 668.0,
 670.0,
 669.0,
 674.0,
 680.0,
 684.0,
 689.0,
 694.0,
 702.0,
 708.0,
 716.0,
 724.0,
 729.0,
 738.0,
 748.0,
 762.0,
 764.0,
 763.0,
 771.0,
 770.0,
 779.0,
 783.0,
 798.0,
 799.0,
 799.0,
 803.0,
 808.0,
 814.0,
 810.0,
 818.0,
 820.0,
 821.0,
 825.0,
 831.0,
 837.0,
 893.0,
 896.0,
 906.0,
 907.0,
 914.0,
 925.0,
 930.0,
 934.0,
 938.0,
 939.0,
 944.0,
 950.0,
 955.0,
 968.0,
 973.0,
 976.0,
 981.0,
 983.0,
 988.0,
 993.0,
 1004.0,
 1014.0,
 1030.0,
 1035.0,
 1042.0,
 1050.0,
 1060.0,
 1068.0,
 1069.0,
 1073.0,
 1073.0,
 1077.0,
 1080.0,
 1088.0,
 1090.0,
 1097.0,
 1099.0,
 1105.0,
 1104.0,
 1106.0,
 1121.0,
 1128.0,
 1126.0,
 1132.0,
 1141.0,
 1143.0,
 1148.0,
 1158.0,
 1166.0,
 1174.0,
 1180.0,
 1187.0,
 1196.0,
 1205.0,
 1213.0,
 1233.0,
 1244.0,
 1258.0,
 1265.0,
 1271.0,
 1276.0,
 1289.0,
 1289.0,
 1323.0,
 1334.0,
 1339.0,
 1343.0,
 1353.0,
 1372.0,
 1390.0,
 1414.0,
 1427.0,
 1441.0,
 1447.0,
 1450.0,
 1463.0,
 1474.0,
 1522.0,
 1528.0,
 1533.0,
 1535.0,
 1563.0,
 1584.0,
 1611.0]

In [17]:
# Create string filled with 0s to replace NaN
str0 = "0,"*(len(template)-1) + "0"
str0

'0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0'

In [18]:
# Change list format to string with commas
final_df['cases_ts'] = final_df['cases_ts'].apply(lambda x: ','.join(map(str, x)) if type(x) is list else str0)
final_df['deaths_ts'] = final_df['deaths_ts'].apply(lambda x: ','.join(map(str, x)) if type(x) is list else str0)
final_df.head(5)

,NAME,state_name,GEOID,population,geometry,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Bladen,North Carolina,37017,33778,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",North Carolina,Bladen,37017,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,2020-05-06,1611.0,27.0,23.0,1.0
1,Stanly,North Carolina,37167,61114,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ...",North Carolina,Stanly,37167,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-20,2020-04-09,3689.0,54.0,78.0,0.0
2,Summit,Ohio,39153,541810,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ...",Ohio,Summit,39153,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-14,2020-03-27,23394.0,491.0,480.0,11.0
3,Sullivan,Pennsylvania,42113,6177,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ...",Pennsylvania,Sullivan,42113,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-04,2020-10-14,115.0,2.0,2.0,0.0
4,Upshur,Texas,48459,40769,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ...",Texas,Upshur,48459,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-20,2020-07-25,1452.0,40.0,27.0,1.0

Step6:  
Finalize the dataframe

In [20]:
# Keep and add essential columns
final_df=final_df[["NAME", "state_name", "population", "fips", "dt_first_case", "dt_first_death", "cases_ts", "deaths_ts", 
                   'today_case','today_new_case','today_death','today_new_death', "geometry"]]
final_df['start'] = dt_str_start
final_df['end'] = dt_str_end
final_df['dt_unit'] = "day"
final_df.head(1)

,NAME,state_name,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit
0,Bladen,North Carolina,33778,37017,2020-04-03,2020-05-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1611.0,27.0,23.0,1.0,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",2020-01-21,2020-12-17,day

In [21]:
# Calculate weekly change rates of cases and form a time-series list
final_df['change_ts'] = ""
for x in range(0, len(final_df)):
    newCaseList = [0]
    changeRateList = []
    caseStrList = final_df.loc[x,'cases_ts'].split(",")
    for i in range(1, len(caseStrList)):
        dailyNewCase = float(caseStrList[i]) - float(caseStrList[i-1])
        newCaseList.append(dailyNewCase)
    for i in range(0, len(newCaseList)):
        if i < 13:
            changeRate = 0
        else:
            currentWeekSum = 0
            previousWeekSum = 0
            for j in range(0,7):
                currentWeekSum = currentWeekSum + newCaseList[i-j]
            for k in range(7,14):
                previousWeekSum = previousWeekSum + newCaseList[i-k]
            if previousWeekSum == 0 and currentWeekSum == 0:
                changeRate = 0
            elif previousWeekSum == 0 and currentWeekSum != 0:
                changeRate = currentWeekSum
            else:
                changeRate = round(currentWeekSum/previousWeekSum-1,2)
        changeRateList.append(changeRate)
        changeRateStrList = list(map(str, changeRateList))
#     print(','.join(changeRateStrList))
    final_df.loc[x,'change_ts'] = ','.join(changeRateStrList)

final_df

,NAME,state_name,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit,change_ts
0,Bladen,North Carolina,33778,37017,2020-04-03,2020-05-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1611.0,27.0,23.0,1.0,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
1,Stanly,North Carolina,61114,37167,2020-03-20,2020-04-09,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",3689.0,54.0,78.0,0.0,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
2,Summit,Ohio,541810,39153,2020-03-14,2020-03-27,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",23394.0,491.0,480.0,11.0,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3,Sullivan,Pennsylvania,6177,42113,2020-04-04,2020-10-14,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",115.0,2.0,2.0,0.0,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
4,Upshur,Texas,40769,48459,2020-03-20,2020-07-25,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1452.0,40.0,27.0,1.0,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3212,Seward,Nebraska,17127,31159,2020-04-05,2020-04-21,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1045.0,4.0,19.0,0.0,"MULTIPOLYGON (((-97.36812 41.04695, -96.91094 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3213,Burke,North Carolina,89712,37023,2020-03-25,2020-04-05,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",5270.0,29.0,73.0,0.0,"MULTIPOLYGON (((-81.90665 35.88338, -81.94319 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3214,Sumter,Georgia,30352,13261,2020-03-20,2020-03-28,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1516.0,1.0,73.0,0.0,"MULTIPOLYGON (((-84.43301 32.04196, -84.43121 ...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3215,Kansas City,Missouri,491918,00000,2020-03-20,2020-04-02,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",27447.0,232.0,326.0,1.0,"POLYGON ((-94.44849 38.93168, -94.44869 38.928...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3216,New York City,New York,8443713,00000,2020-03-01,2020-03-14,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",373320.0,3211.0,24613.0,35.0,"POLYGON ((-74.24921 40.54506, -74.21684 40.558...",2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."

Step 7:  
Output file

In [22]:
# Save file
final_df.to_file(r"./nyt_counties_data.geojson", driver='GeoJSON', encoding='utf-8')
print("done")

done