In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import geopandas as gpd

FIRST READ DATA

In [2]:
df_counties_original = pd.read_csv("./us-counties.csv", dtype={"date": np.string_, 
                                                             "county": np.string_,
                                                             "state": np.string_,
                                                             "fips": np.string_,
                                                            "cases": np.int32,
                                                            "deaths": np.int32})
#Tansform Unknown fips to '00000' 
df_counties_original['fips'] = df_counties_original['fips'].replace({np.nan: '00000'})
df_counties_original.sort_values("fips", ascending=True)

             date         county          state   fips  cases  deaths
9971   2020-03-24        Unknown       Kentucky  00000     18       0
47027  2020-04-10        Unknown       Michigan  00000    433       7
46956  2020-04-10        Unknown  Massachusetts  00000    129       9
46915  2020-04-10        Unknown          Maine  00000      3       0
46894  2020-04-10        Unknown      Louisiana  00000     54       2
46739  2020-04-10        Unknown         Kansas  00000      0       4
46505  2020-04-10        Unknown       Illinois  00000     81       1
728    2020-03-07        Unknown   Rhode Island  00000      3       0
46427  2020-04-10        Unknown          Idaho  00000      3       0
46396  2020-04-10        Unknown         Hawaii  00000      4       0
46391  2020-04-10        Unknown           Guam  00000    577       4
46375  2020-04-10        Unknown        Georgia  00000   1226       5
32193  2020-04-04        Unknown  New Hampshire  00000      3       0
32181  2020-04-04        Unknown         Nevada  00000     52       0
32117  2020-04-04        Unknown       Missouri  00000      3       0
32080  2020-04-04    Kansas City       Missouri  00000    172       1
31957  2020-04-04        Unknown      Minnesota  00000      2       3
31902  2020-04-04        Unknown       Michigan  00000    333       1
31835  2020-04-04        Unknown  Massachusetts  00000    274       5
31794  2020-04-04        Unknown          Maine  00000     12       0
31774  2020-04-04        Unknown      Louisiana  00000     31       0
31715  2020-04-04        Unknown       Kentucky  00000     77       3
31429  2020-04-04        Unknown       Illinois  00000     16       0
31335  2020-04-04        Unknown         Hawaii  00000      8       1
31330  2020-04-04        Unknown           Guam  00000    223       4
31314  2020-04-04        Unknown        Georgia  00000     88       4
47218  2020-04-10    Kansas City       Missouri  00000    283       8
47261  2020-04-10        Unknown       Missouri  00000      1       0
47375  2020-04-10        Unknown     New Jersey  00000    649       2
47431  2020-04-10  New York City       New York  00000  92384    5663
...           ...            ...            ...    ...    ...     ...
45877  2020-04-09          Teton        Wyoming  56039     50       0
5165   2020-03-19          Teton        Wyoming  56039      1       0
35689  2020-04-05          Teton        Wyoming  56039     39       0
6081   2020-03-20          Teton        Wyoming  56039      2       0
48507  2020-04-10          Uinta        Wyoming  56041      4       0
45878  2020-04-09          Uinta        Wyoming  56041      4       0
43283  2020-04-08          Uinta        Wyoming  56041      2       0
51167  2020-04-11          Uinta        Wyoming  56041      4       0
28486  2020-04-02          Uinta        Wyoming  56041      1       0
40718  2020-04-07          Uinta        Wyoming  56041      3       0
30842  2020-04-03          Uinta        Wyoming  56041      1       0
33247  2020-04-04          Uinta        Wyoming  56041      2       0
38179  2020-04-06          Uinta        Wyoming  56041      3       0
35690  2020-04-05          Uinta        Wyoming  56041      2       0
17730  2020-03-28       Washakie        Wyoming  56043      1       0
45879  2020-04-09       Washakie        Wyoming  56043      4       0
43284  2020-04-08       Washakie        Wyoming  56043      4       0
40719  2020-04-07       Washakie        Wyoming  56043      4       0
38180  2020-04-06       Washakie        Wyoming  56043      4       0
33248  2020-04-04       Washakie        Wyoming  56043      2       0
15835  2020-03-27       Washakie        Wyoming  56043      1       0
30843  2020-04-03       Washakie        Wyoming  56043      2       0
28487  2020-04-02       Washakie        Wyoming  56043      2       0
26197  2020-04-01       Washakie        Wyoming  56043      1       0
23966  2020-03-31       Washakie        Wyoming  56043      1       0
48508  2020-04-10       Washakie        Wyoming  56043      4       0
21799  2020-03-30       Washakie        Wyoming  56043      1       0
19713  2020-03-29       Washakie        Wyoming  56043      1       0
35691  2020-04-05       Washakie        Wyoming  56043      4       0
51168  2020-04-11       Washakie        Wyoming  56043      4       0

[51169 rows x 6 columns]

Generate GeoJSON

In [3]:
pivot_counties = pd.pivot_table(df_counties_original , index=['state','county','fips'],
                       columns=['date'])
pivot_counties = pivot_counties.replace(np.nan, 0)
pivot_counties

                                 cases                                   \
date                        2020-01-21 2020-01-22 2020-01-23 2020-01-24
state     county      fips
Alabama   Autauga     01001        0.0        0.0        0.0        0.0
          Baldwin     01003        0.0        0.0        0.0        0.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        0.0        0.0        0.0        0.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        0.0        0.0        0.0        0.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        0.0        0.0        0.0        0.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        0.0        0.0        0.0        0.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        0.0        0.0        0.0        0.0
          Waukesha    55133        0.0        0.0        0.0        0.0
          Waupaca     55135        0.0        0.0        0.0        0.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        0.0        0.0        0.0        0.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0

                                                                         \
date                        2020-01-25 2020-01-26 2020-01-27 2020-01-28
state     county      fips
Alabama   Autauga     01001        0.0        0.0        0.0        0.0
          Baldwin     01003        0.0        0.0        0.0        0.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        0.0        0.0        0.0        0.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        0.0        0.0        0.0        0.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        0.0        0.0        0.0        0.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        0.0        0.0        0.0        0.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        0.0        0.0        0.0        0.0
          Waukesha    55133        0.0        0.0        0.0        0.0
          Waupaca     55135        0.0        0.0        0.0        0.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        0.0        0.0        0.0        0.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0

                                                   ...     deaths             \
date                        2020-01-29 2020-01-30  ... 2020-04-02 2020-04-03
state     county      fips                         ...
Alabama   Autauga     01001        0.0        0.0  ...        0.0        0.0
          Baldwin     01003        0.0        0.0  ...        1.0        1.0
          Barbour     01005        0.0        0.0  ...        0.0        0.0
          Bibb        01007        0.0        0.0  ...        0.0        0.0
          Blount      01009        0.0        0.0  ...        0.0        0.0
          Bullock     01011        0.0        0.0  ...        0.0        0.0
          Butler      01013        0.0        0.0  ...        0.0        0.0
          Calhoun     01015        0.0        0.0  ...        0.0        0.0
          Chambers    01017        0.0        0.0  ...        4.0        5.0
          Cherokee    01019        0.0        0.0  ...        0.0        0.0
          Chilton     01021        0.0        0.0  ...        0.0        0.0
          Choctaw     01023        0.0        0.0  ...        0.0        0.0
          Clarke      01025        0.0        0.0  ...        0.0        0.0
          Clay        01027        0.0        0.0  ...        0.0        0.0
          Cleburne    01029        0.0        0.0  ...        0.0        0.0
          Coffee      01031        0.0        0.0  ...        0.0        0.0
          Colbert     01033        0.0        0.0  ...        0.0        0.0
          Conecuh     01035        0.0        0.0  ...        0.0        0.0
          Coosa       01037        0.0        0.0  ...        0.0        0.0
          Covington   01039        0.0        0.0  ...        0.0        0.0
          Crenshaw    01041        0.0        0.0  ...        0.0        0.0
          Cullman     01043        0.0        0.0  ...        1.0        1.0
          Dale        01045        0.0        0.0  ...        0.0        0.0
          Dallas      01047        0.0        0.0  ...        0.0        0.0
          DeKalb      01049        0.0        0.0  ...        0.0        0.0
          Elmore      01051        0.0        0.0  ...        0.0        0.0
          Escambia    01053        0.0        0.0  ...        0.0        0.0
          Etowah      01055        0.0        0.0  ...        1.0        2.0
          Fayette     01057        0.0        0.0  ...        0.0        0.0
          Franklin    01059        0.0        0.0  ...        0.0        0.0
...                                ...        ...  ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0  ...        0.0        0.0
          Trempealeau 55121        0.0        0.0  ...        0.0        0.0
          Vilas       55125        0.0        0.0  ...        0.0        0.0
          Walworth    55127        0.0        0.0  ...        0.0        0.0
          Washington  55131        0.0        0.0  ...        2.0        2.0
          Waukesha    55133        0.0        0.0  ...        1.0        1.0
          Waupaca     55135        0.0        0.0  ...        1.0        1.0
          Waushara    55137        0.0        0.0  ...        0.0        0.0
          Winnebago   55139        0.0        0.0  ...        0.0        0.0
          Wood        55141        0.0        0.0  ...        0.0        0.0
Wyoming   Albany      56001        0.0        0.0  ...        0.0        0.0
          Campbell    56005        0.0        0.0  ...        0.0        0.0
          Carbon      56007        0.0        0.0  ...        0.0        0.0
          Converse    56009        0.0        0.0  ...        0.0        0.0
          Crook       56011        0.0        0.0  ...        0.0        0.0
          Fremont     56013        0.0        0.0  ...        0.0        0.0
          Goshen      56015        0.0        0.0  ...        0.0        0.0
          Hot Springs 56017        0.0        0.0  ...        0.0        0.0
          Johnson     56019        0.0        0.0  ...        0.0        0.0
          Laramie     56021        0.0        0.0  ...        0.0        0.0
          Lincoln     56023        0.0        0.0  ...        0.0        0.0
          Natrona     56025        0.0        0.0  ...        0.0        0.0
          Niobrara    56027        0.0        0.0  ...        0.0        0.0
          Park        56029        0.0        0.0  ...        0.0        0.0
          Sheridan    56033        0.0        0.0  ...        0.0        0.0
          Sublette    56035        0.0        0.0  ...        0.0        0.0
          Sweetwater  56037        0.0        0.0  ...        0.0        0.0
          Teton       56039        0.0        0.0  ...        0.0        0.0
          Uinta       56041        0.0        0.0  ...        0.0        0.0
          Washakie    56043        0.0        0.0  ...        0.0        0.0

                                                                         \
date                        2020-04-04 2020-04-05 2020-04-06 2020-04-07
state     county      fips
Alabama   Autauga     01001        0.0        0.0        1.0        1.0
          Baldwin     01003        1.0        1.0        1.0        1.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        6.0        6.0        7.0        8.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        0.0        0.0        1.0        1.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        1.0        1.0        1.0        1.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        3.0        3.0        3.0        4.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        3.0        3.0        3.0        3.0
          Waukesha    55133        3.0        4.0        4.0        5.0
          Waupaca     55135        1.0        1.0        1.0        1.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        0.0        0.0        1.0        1.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0


date                        2020-04-08 2020-04-09 2020-04-10 2020-04-11
state     county      fips
Alabama   Autauga     01001        1.0        1.0        1.0        1.0
          Baldwin     01003        1.0        1.0        1.0        1.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        8.0        8.0        8.0        8.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        1.0        1.0        1.0        1.0

Get Date Info

In [4]:
date= pivot_counties['cases'].columns
date

Index(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
       '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
       '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
       '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10',
       '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
       '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30',
       '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
       '2020-04-10', '2020-04-11'],
      dtype='object', name='date')

In [5]:
date_str = np.sort(date)
dt_str_start=np.min(date_str)
dt_str_end=np.max(date_str)

In [6]:
dt_start = datetime.strptime(dt_str_start, "%Y-%m-%d")
dt_end = datetime.strptime(dt_str_end, "%Y-%m-%d")
dt_range = pd.date_range(start=dt_start,end=dt_end)
print(len(dt_range), dt_range)
dt_range_str = list(map(lambda x: x.strftime("%Y-%m-%d"), dt_range.tolist()))
print(len(dt_range_str), dt_range_str)

82 DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
               '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
               '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
               '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
               '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-11'],
              dtype='datetime64[ns]', freq='D')
82 ['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11']

Add Cases Time Series, First Case Date, Death Time Series, First Death Date

In [7]:
# import json
# pivot_counties['cases_ts'] = json.dumps({"values": pivot_counties['cases'].values.tolist()[0]})
# pivot_counties['deaths_ts'] =  json.dumps({"values": pivot_counties['deaths'].values.tolist()[0]})

pivot_counties['cases_ts'] =  pivot_counties['cases'].values.tolist()
pivot_counties['cases_ts'] = pivot_counties['cases_ts'].apply(lambda x: ','.join(map(str, x)))
pivot_counties['deaths_ts'] =  pivot_counties['deaths'].values.tolist()
pivot_counties['deaths_ts'] = pivot_counties['deaths_ts'].apply(lambda x: ','.join(map(str, x)))

pivot_counties

                                 cases                                   \
date                        2020-01-21 2020-01-22 2020-01-23 2020-01-24
state     county      fips
Alabama   Autauga     01001        0.0        0.0        0.0        0.0
          Baldwin     01003        0.0        0.0        0.0        0.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        0.0        0.0        0.0        0.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        0.0        0.0        0.0        0.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        0.0        0.0        0.0        0.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        0.0        0.0        0.0        0.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        0.0        0.0        0.0        0.0
          Waukesha    55133        0.0        0.0        0.0        0.0
          Waupaca     55135        0.0        0.0        0.0        0.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        0.0        0.0        0.0        0.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0

                                                                         \
date                        2020-01-25 2020-01-26 2020-01-27 2020-01-28
state     county      fips
Alabama   Autauga     01001        0.0        0.0        0.0        0.0
          Baldwin     01003        0.0        0.0        0.0        0.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        0.0        0.0        0.0        0.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        0.0        0.0        0.0        0.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        0.0        0.0        0.0        0.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        0.0        0.0        0.0        0.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        0.0        0.0        0.0        0.0
          Waukesha    55133        0.0        0.0        0.0        0.0
          Waupaca     55135        0.0        0.0        0.0        0.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        0.0        0.0        0.0        0.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0

                                                   ...     deaths             \
date                        2020-01-29 2020-01-30  ... 2020-04-04 2020-04-05
state     county      fips                         ...
Alabama   Autauga     01001        0.0        0.0  ...        0.0        0.0
          Baldwin     01003        0.0        0.0  ...        1.0        1.0
          Barbour     01005        0.0        0.0  ...        0.0        0.0
          Bibb        01007        0.0        0.0  ...        0.0        0.0
          Blount      01009        0.0        0.0  ...        0.0        0.0
          Bullock     01011        0.0        0.0  ...        0.0        0.0
          Butler      01013        0.0        0.0  ...        0.0        0.0
          Calhoun     01015        0.0        0.0  ...        0.0        0.0
          Chambers    01017        0.0        0.0  ...        6.0        6.0
          Cherokee    01019        0.0        0.0  ...        0.0        0.0
          Chilton     01021        0.0        0.0  ...        0.0        0.0
          Choctaw     01023        0.0        0.0  ...        0.0        0.0
          Clarke      01025        0.0        0.0  ...        0.0        0.0
          Clay        01027        0.0        0.0  ...        0.0        0.0
          Cleburne    01029        0.0        0.0  ...        0.0        0.0
          Coffee      01031        0.0        0.0  ...        0.0        0.0
          Colbert     01033        0.0        0.0  ...        0.0        0.0
          Conecuh     01035        0.0        0.0  ...        0.0        0.0
          Coosa       01037        0.0        0.0  ...        0.0        0.0
          Covington   01039        0.0        0.0  ...        0.0        0.0
          Crenshaw    01041        0.0        0.0  ...        0.0        0.0
          Cullman     01043        0.0        0.0  ...        1.0        1.0
          Dale        01045        0.0        0.0  ...        0.0        0.0
          Dallas      01047        0.0        0.0  ...        0.0        0.0
          DeKalb      01049        0.0        0.0  ...        0.0        0.0
          Elmore      01051        0.0        0.0  ...        0.0        0.0
          Escambia    01053        0.0        0.0  ...        0.0        0.0
          Etowah      01055        0.0        0.0  ...        3.0        3.0
          Fayette     01057        0.0        0.0  ...        0.0        0.0
          Franklin    01059        0.0        0.0  ...        0.0        0.0
...                                ...        ...  ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0  ...        0.0        0.0
          Trempealeau 55121        0.0        0.0  ...        0.0        0.0
          Vilas       55125        0.0        0.0  ...        0.0        0.0
          Walworth    55127        0.0        0.0  ...        0.0        0.0
          Washington  55131        0.0        0.0  ...        3.0        3.0
          Waukesha    55133        0.0        0.0  ...        3.0        4.0
          Waupaca     55135        0.0        0.0  ...        1.0        1.0
          Waushara    55137        0.0        0.0  ...        0.0        0.0
          Winnebago   55139        0.0        0.0  ...        0.0        0.0
          Wood        55141        0.0        0.0  ...        0.0        0.0
Wyoming   Albany      56001        0.0        0.0  ...        0.0        0.0
          Campbell    56005        0.0        0.0  ...        0.0        0.0
          Carbon      56007        0.0        0.0  ...        0.0        0.0
          Converse    56009        0.0        0.0  ...        0.0        0.0
          Crook       56011        0.0        0.0  ...        0.0        0.0
          Fremont     56013        0.0        0.0  ...        0.0        0.0
          Goshen      56015        0.0        0.0  ...        0.0        0.0
          Hot Springs 56017        0.0        0.0  ...        0.0        0.0
          Johnson     56019        0.0        0.0  ...        0.0        0.0
          Laramie     56021        0.0        0.0  ...        0.0        0.0
          Lincoln     56023        0.0        0.0  ...        0.0        0.0
          Natrona     56025        0.0        0.0  ...        0.0        0.0
          Niobrara    56027        0.0        0.0  ...        0.0        0.0
          Park        56029        0.0        0.0  ...        0.0        0.0
          Sheridan    56033        0.0        0.0  ...        0.0        0.0
          Sublette    56035        0.0        0.0  ...        0.0        0.0
          Sweetwater  56037        0.0        0.0  ...        0.0        0.0
          Teton       56039        0.0        0.0  ...        0.0        0.0
          Uinta       56041        0.0        0.0  ...        0.0        0.0
          Washakie    56043        0.0        0.0  ...        0.0        0.0

                                                                         \
date                        2020-04-06 2020-04-07 2020-04-08 2020-04-09
state     county      fips
Alabama   Autauga     01001        1.0        1.0        1.0        1.0
          Baldwin     01003        1.0        1.0        1.0        1.0
          Barbour     01005        0.0        0.0        0.0        0.0
          Bibb        01007        0.0        0.0        0.0        0.0
          Blount      01009        0.0        0.0        0.0        0.0
          Bullock     01011        0.0        0.0        0.0        0.0
          Butler      01013        0.0        0.0        0.0        0.0
          Calhoun     01015        0.0        0.0        0.0        0.0
          Chambers    01017        7.0        8.0        8.0        8.0
          Cherokee    01019        0.0        0.0        0.0        0.0
          Chilton     01021        0.0        0.0        0.0        0.0
          Choctaw     01023        0.0        0.0        0.0        0.0
          Clarke      01025        0.0        0.0        0.0        0.0
          Clay        01027        0.0        0.0        0.0        0.0
          Cleburne    01029        0.0        0.0        0.0        0.0
          Coffee      01031        0.0        0.0        0.0        0.0
          Colbert     01033        1.0        1.0        1.0        1.0
          Conecuh     01035        0.0        0.0        0.0        0.0
          Coosa       01037        0.0        0.0        0.0        0.0
          Covington   01039        0.0        0.0        0.0        0.0
          Crenshaw    01041        0.0        0.0        0.0        0.0
          Cullman     01043        1.0        1.0        1.0        1.0
          Dale        01045        0.0        0.0        0.0        0.0
          Dallas      01047        0.0        0.0        0.0        0.0
          DeKalb      01049        0.0        0.0        0.0        0.0
          Elmore      01051        0.0        0.0        0.0        0.0
          Escambia    01053        0.0        0.0        0.0        0.0
          Etowah      01055        3.0        4.0        4.0        5.0
          Fayette     01057        0.0        0.0        0.0        0.0
          Franklin    01059        0.0        0.0        0.0        0.0
...                                ...        ...        ...        ...
Wisconsin St. Croix   55109        0.0        0.0        0.0        0.0
          Trempealeau 55121        0.0        0.0        0.0        0.0
          Vilas       55125        0.0        0.0        0.0        0.0
          Walworth    55127        0.0        0.0        0.0        0.0
          Washington  55131        3.0        3.0        3.0        3.0
          Waukesha    55133        4.0        5.0        5.0        6.0
          Waupaca     55135        1.0        1.0        1.0        1.0
          Waushara    55137        0.0        0.0        0.0        0.0
          Winnebago   55139        1.0        1.0        1.0        1.0
          Wood        55141        0.0        0.0        0.0        0.0
Wyoming   Albany      56001        0.0        0.0        0.0        0.0
          Campbell    56005        0.0        0.0        0.0        0.0
          Carbon      56007        0.0        0.0        0.0        0.0
          Converse    56009        0.0        0.0        0.0        0.0
          Crook       56011        0.0        0.0        0.0        0.0
          Fremont     56013        0.0        0.0        0.0        0.0
          Goshen      56015        0.0        0.0        0.0        0.0
          Hot Springs 56017        0.0        0.0        0.0        0.0
          Johnson     56019        0.0        0.0        0.0        0.0
          Laramie     56021        0.0        0.0        0.0        0.0
          Lincoln     56023        0.0        0.0        0.0        0.0
          Natrona     56025        0.0        0.0        0.0        0.0
          Niobrara    56027        0.0        0.0        0.0        0.0
          Park        56029        0.0        0.0        0.0        0.0
          Sheridan    56033        0.0        0.0        0.0        0.0
          Sublette    56035        0.0        0.0        0.0        0.0
          Sweetwater  56037        0.0        0.0        0.0        0.0
          Teton       56039        0.0        0.0        0.0        0.0
          Uinta       56041        0.0        0.0        0.0        0.0
          Washakie    56043        0.0        0.0        0.0        0.0

                                                   \
date                        2020-04-10 2020-04-11
state     county      fips
Alabama   Autauga     01001        1.0        1.0
          Baldwin     01003        1.0        1.0
          Barbour     01005        0.0        0.0
          Bibb        01007        0.0        0.0
          Blount      01009        0.0        0.0
          Bullock     01011        0.0        0.0
          Butler      01013        0.0        0.0
          Calhoun     01015        0.0        0.0
          Chambers    01017        8.0        8.0
          Cherokee    01019        0.0        0.0
          Chilton     01021        0.0        0.0
          Choctaw     01023        0.0        0.0
          Clarke      01025        0.0        0.0
          Clay        01027        0.0        0.0
          Cleburne    01029        0.0        0.0
          Coffee      01031        0.0        0.0
          Colbert     01033        1.0        1.0
          Conecuh     01035        0.0        0.0
          Coosa       01037        0.0        0.0
          Covington   01039        0.0        0.0
          Crenshaw    01041        0.0        0.0
          Cullman     01043        1.0        1.0
          Dale        01045        0.0        0.0
          Dallas      01047        0.0        0.0
          DeKalb      01049        0.0        0.0

In [8]:
yesterday = date.values[-2]
pivot_counties['today_case'] = pivot_counties['cases'][dt_str_end]
pivot_counties['today_new_case'] = pivot_counties['cases'][dt_str_end] - pivot_counties['cases'][yesterday]
pivot_counties['today_death'] = pivot_counties['deaths'][dt_str_end]
pivot_counties['today_new_death'] = pivot_counties['deaths'][dt_str_end] - pivot_counties['deaths'][yesterday]

In [9]:
pivot_counties['dt_first_case'] = (pivot_counties['cases'] > 0).idxmax(axis=1)
pivot_counties['dt_first_death'] = (pivot_counties['deaths'] > 0).idxmax(axis=1)
#For death reports, deal with no deaths counties
pivot_counties.loc[pivot_counties['deaths'].iloc[:, -1] <= 0, 'dt_first_death'] = np.nan
pivot_counties.head(5)

                           cases                                              \
date                  2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state   county  fips
Alabama Autauga 01001        0.0        0.0        0.0        0.0        0.0
        Baldwin 01003        0.0        0.0        0.0        0.0        0.0
        Barbour 01005        0.0        0.0        0.0        0.0        0.0
        Bibb    01007        0.0        0.0        0.0        0.0        0.0
        Blount  01009        0.0        0.0        0.0        0.0        0.0

                                                                              \
date                  2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30
state   county  fips
Alabama Autauga 01001        0.0        0.0        0.0        0.0        0.0
        Baldwin 01003        0.0        0.0        0.0        0.0        0.0
        Barbour 01005        0.0        0.0        0.0        0.0        0.0
        Bibb    01007        0.0        0.0        0.0        0.0        0.0
        Blount  01009        0.0        0.0        0.0        0.0        0.0

                       ...     deaths             \
date                   ... 2020-04-10 2020-04-11
state   county  fips   ...
Alabama Autauga 01001  ...        1.0        1.0
        Baldwin 01003  ...        1.0        1.0
        Barbour 01005  ...        0.0        0.0
        Bibb    01007  ...        0.0        0.0
        Blount  01009  ...        0.0        0.0

                                                                cases_ts  \
date
state   county  fips
Alabama Autauga 01001  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Baldwin 01003  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Barbour 01005  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Bibb    01007  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Blount  01009  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....

                                                               deaths_ts  \
date
state   county  fips
Alabama Autauga 01001  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Baldwin 01003  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Barbour 01005  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Bibb    01007  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
        Blount  01009  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....

                      today_case today_new_case today_death today_new_death  \
date
state   county  fips
Alabama Autauga 01001       19.0            2.0         1.0             0.0
        Baldwin 01003       66.0            7.0         1.0             0.0
        Barbour 01005       10.0            1.0         0.0             0.0
        Bibb    01007       13.0            2.0         0.0             0.0
        Blount  01009       12.0            0.0         0.0             0.0

                      dt_first_case dt_first_death
date
state   county  fips
Alabama Autauga 01001    2020-03-24     2020-04-06
        Baldwin 01003    2020-03-14     2020-04-01
        Barbour 01005    2020-04-03            NaN
        Bibb    01007    2020-03-30            NaN
        Blount  01009    2020-03-25            NaN

[5 rows x 172 columns]

Read County Boundary GeoJSON file

In [10]:
old_counties_geojson_df = gpd.read_file(r"./counties_update_new.geojson")
old_counties_geojson_df.head(5)

,NAME,state_name,GEOID,population,geometry
0,Bladen,North Carolina,37017,33778,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ..."
1,Stanly,North Carolina,37167,61114,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ..."
2,Summit,Ohio,39153,541810,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ..."
3,Sullivan,Pennsylvania,42113,6177,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ..."
4,Upshur,Texas,48459,40769,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ..."

Old Data Structure

In [11]:
report_df = pivot_counties[['cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']]
report_df = report_df.reset_index()
report_df.columns = ['state','county','fips','cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']
report_df.head(5)

,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Alabama,Autauga,01001,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-24,2020-04-06,19.0,2.0,1.0,0.0
1,Alabama,Baldwin,01003,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-14,2020-04-01,66.0,7.0,1.0,0.0
2,Alabama,Barbour,01005,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,NaN,10.0,1.0,0.0,0.0
3,Alabama,Bibb,01007,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,NaN,13.0,2.0,0.0,0.0
4,Alabama,Blount,01009,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-25,NaN,12.0,0.0,0.0,0.0

In [13]:
report_df['today_case'].sum()
# Truth from report: 528422

528422.0

In [29]:
geojson_counties = (old_counties_geojson_df['state_name'] + "," + old_counties_geojson_df['NAME']).unique()
geojson_counties

array(['North Carolina,Bladen', 'North Carolina,Stanly', 'Ohio,Summit',
       ..., 'Georgia,Sumter', 'Missouri,Kansas City',
       'New York,New York City'], dtype=object)

In [30]:
report_counties = (report_df['state'] + "," + report_df['county']).unique()
report_counties

array(['Alabama,Autauga', 'Alabama,Baldwin', 'Alabama,Barbour', ...,
       'Wyoming,Teton', 'Wyoming,Uinta', 'Wyoming,Washakie'], dtype=object)

In [31]:
for county in geojson_counties:
    if county not in report_counties:
        print(county);

West Virginia,Grant
South Dakota,Haakon
Nebraska,Pawnee
Wisconsin,Forest
Hawaii,Kalawao
New York,Bronx
Oklahoma,Cimarron
North Dakota,Cavalier
North Dakota,Towner
Nebraska,Perkins
South Dakota,Perkins
Virginia,Patrick
Indiana,Pike
Nebraska,Sioux
Minnesota,Morrison
New Mexico,De Baca
Illinois,Brown
Nebraska,Saline
Oklahoma,Blaine
Puerto Rico,Vega Baja
Illinois,Union
Missouri,Hickory
Virginia,Winchester
Texas,Fisher
Texas,Reagan
Wyoming,Platte
Texas,Freestone
Kansas,Cheyenne
North Dakota,Renville
Utah,Piute
Virginia,Covington
Puerto Rico,Guaynabo
Puerto Rico,Sabana Grande
Illinois,Scott
California,Modoc
Iowa,Emmet
Kansas,Harper
Georgia,Evans
Puerto Rico,Toa Baja
South Dakota,Harding
North Carolina,Yancey
Tennessee,Van Buren
Puerto Rico,Trujillo Alto
Texas,Kimble
Kansas,Rush
Kansas,Kiowa
Nebraska,Greeley
Illinois,Henderson
Illinois,Johnson
Virginia,Staunton
Texas,Ochiltree
Oklahoma,Harper
Puerto Rico,Yabucoa
Kentucky,Elliott
Iowa,Adams
Illinois,Putnam
Alaska,Aleutians West
Kansas,Logan
South Dakota,Brule
Texas,Roberts
Puerto Rico,Juana DÃ­az
Puerto Rico,LoÃ­za
Minnesota,Grant
Kentucky,Wolfe
Texas,Baylor
Tennessee,Hancock
Texas,Brooks
Nebraska,Jefferson
Nebraska,Red Willow
Illinois,Wayne
Washington,Garfield
Minnesota,Rock
Oregon,Jefferson
Montana,Wheatland
Missouri,Miller
Minnesota,Todd
Iowa,Fremont
Kansas,Allen
South Dakota,Day
Minnesota,Kanabec
Illinois,Hamilton
Texas,Edwards
Texas,Archer
Texas,Bailey
Puerto Rico,Santa Isabel
Michigan,Baraga
Texas,Zavala
Iowa,Cherokee
Idaho,Boise
Texas,Somervell
Iowa,Davis
Virginia,Dickenson
Kansas,Thomas
Texas,Sherman
Puerto Rico,San Lorenzo
Puerto Rico,Villalba
Nebraska,Frontier
South Dakota,Edmunds
Puerto Rico,Maricao
Puerto Rico,Luquillo
Puerto Rico,Las Piedras
Oklahoma,Roger Mills
South Dakota,Buffalo
Missouri,Daviess
Nebraska,Thurston
Nevada,Pershing
North Carolina,Camden
Virginia,Norton
Virginia,Newport News
Oregon,Lake
Texas,Jim Hogg
Missouri,Laclede
Nebraska,Hitchcock
Missouri,Barton
Nebraska,Hayes
New Mexico,Harding
North Dakota,LaMoure
Nebraska,Banner
North Dakota,Ransom
Nebraska,Butler
North Dakota,Steele
Virginia,Buena Vista
Arkansas,Montgomery
Virginia,Harrisonburg
Kansas,Brown
Puerto Rico,Aibonito
Virginia,Poquoson
Texas,Foard
Texas,Collingsworth
Puerto Rico,Culebra
Texas,Reeves
Nebraska,McPherson
Texas,Coke
Texas,Jeff Davis
Nevada,Esmeralda
Virginia,Danville
New Mexico,Sierra
Virginia,Salem
Texas,Glasscock
Texas,Stonewall
Nebraska,Garfield
Tennessee,Moore
Virginia,Highland
Missouri,Schuyler
Missouri,Sullivan
Montana,Sheridan
West Virginia,Gilmer
Puerto Rico,Barranquitas
Puerto Rico,Gurabo
Puerto Rico,Ciales
Texas,Cochran
Puerto Rico,Toa Alta
Kansas,Stanton
Nebraska,Thomas
Kansas,Chase
Puerto Rico,Juncos
Kentucky,Lee
Puerto Rico,Adjuntas
Iowa,Decatur
Virginia,Manassas Park
Nebraska,Sherman
South Dakota,Bennett
South Dakota,Mellette
Nebraska,Garden
Kansas,Smith
South Dakota,Tripp
Michigan,Montmorency
Puerto Rico,Aguada
Puerto Rico,Vega Alta
Puerto Rico,Carolina
Kansas,Meade
Illinois,Edwards
Tennessee,Lake
Iowa,Wayne
Texas,Armstrong
Illinois,Pope
Michigan,Alger
Nebraska,Blaine
Texas,Lipscomb
Puerto Rico,Vieques
North Dakota,Pembina
Puerto Rico,Guayanilla
Puerto Rico,San SebastiÃ¡n
Puerto Rico,San GermÃ¡n
Puerto Rico,ManatÃ­
North Dakota,Golden Valley
South Dakota,Moody
Kansas,Decatur
Kansas,Lane
Kansas,Norton
Texas,Runnels
Iowa,Lucas
Virginia,Portsmouth
Texas,Nolan
Kentucky,Metcalfe
Kansas,Wilson
Puerto Rico,Morovis
South Dakota,Potter
Puerto Rico,Barceloneta
Minnesota,Stevens
Utah,Sevier
Iowa,Calhoun
Colorado,Dolores
South Dakota,Hand
Kentucky,Garrard
Texas,Hardeman
Kansas,Pawnee
Iowa,Ida
Texas,Ward
Texas,Kent
Missouri,Mercer
Puerto Rico,ComerÃ­o
Puerto Rico,CanÃ³vanas
Kansas,Trego
Kansas,Haskell
West Virginia,Mingo
Oklahoma,Harmon
Nebraska,Harlan
Nebraska,Brown
North Dakota,Adams
Kansas,Lincoln
Puerto Rico,Guayama
Kansas,Dickinson
Puerto Rico,Hormigueros
Kansas,Kearny
Idaho,Boundary
Iowa,Palo Alto
Illinois,Edgar
Virginia,Falls Church
Virginia,Martinsville
Puerto Rico,RÃ­o Grande
North Dakota,Hettinger
Texas,Kinney
Wisconsin,Washburn
Nevada,Storey
Colorado,Conejos
Kansas,Gray
Idaho,Bear Lake
Montana,Valley
North Carolina,Madison
Alaska,Southeast Fairbanks
South Dakota,Jones
Puerto Rico,Aguadilla
Puerto Rico,Quebradillas
Puerto Rico,Corozal
Texas,Crockett
New Mexico,Mora
Oregon,Harney
Nebraska,Richardson
Arkansas,Jackson
Colorado,Jackson
Idaho,Clark
Missouri,Ozark
New York,Queens
North Carolina,Swain
Wisconsin,Vernon
Alaska,Bristol Bay
Alaska,Yukon-Koyukuk
Alaska,North Slope
California,Trinity
Texas,Marion
Utah,Daggett
Utah,Beaver
Virginia,Grayson
North Dakota,Billings
Montana,Mineral
South Dakota,Hanson
Texas,Mills
Puerto Rico,Isabela
Puerto Rico,Florida
Texas,Garza
Michigan,Alcona
Oklahoma,Hughes
Iowa,Monroe
Kentucky,Casey
Kentucky,Magoffin
Missouri,Audrain
Kentucky,Carlisle
Kansas,Grant
Kentucky,Estill
Nebraska,Arthur
Illinois,Cass
Missouri,Putnam
Idaho,Franklin
Michigan,Iron
Ohio,Harrison
Kansas,Sherman
Alaska,Petersburg
Texas,Shackelford
Virginia,Suffolk
Puerto Rico,Dorado
Missouri,Lawrence
Texas,Hartley
Texas,Motley
Texas,Sterling
Kansas,Greeley
Montana,Dawson
Alaska,Dillingham
Kansas,Rice
Kansas,Sheridan
Nebraska,Nance
Texas,Wilbarger
Wyoming,Weston
Oklahoma,Johnston
Mississippi,Issaquena
Nebraska,Keith
Nevada,Lincoln
South Dakota,Jackson
South Dakota,Dewey
Puerto Rico,Naranjito
Puerto Rico,RincÃ³n
Wisconsin,Burnett
Puerto Rico,Hatillo
Montana,Sweet Grass
Montana,Granite
Montana,Chouteau
North Dakota,Logan
Texas,Refugio
West Virginia,Webster
Texas,Parmer
New York,New York
Kentucky,Robertson
Montana,Fergus
Nebraska,Nuckolls
South Dakota,Gregory
Wisconsin,Pepin
Kansas,Edwards
Nebraska,Howard
Nebraska,Wheeler
Nebraska,Hooker
Nebraska,Valley
Idaho,Lemhi
Kentucky,Harlan
Tennessee,Pickett
Illinois,White
Kansas,Wallace
Texas,Childress
Kentucky,Livingston
Texas,Duval
Kentucky,Fulton
Idaho,Shoshone
Idaho,Clearwater
North Carolina,Hyde
Puerto Rico,Coamo
Wisconsin,Taylor
North Dakota,Traill
Nebraska,Boyd
Kansas,Wichita
Michigan,Keweenaw
South Dakota,Grant
Alaska,Ketchikan Gateway
Illinois,Clay
Nebraska,Morrill
Kansas,Russell
Puerto Rico,Arecibo
Kansas,Hodgeman
Kentucky,Clay
New Mexico,Guadalupe
Alaska,Matanuska-Susitna
Kentucky,Hickman
Tennessee,Crockett
Colorado,Kiowa
Alaska,Kenai Peninsula
Missouri,Shannon
Texas,Carson
Virginia,Petersburg
California,Sierra
North Carolina,Tyrrell
Nevada,Churchill
Virginia,Waynesboro
Alaska,Wrangell
Puerto Rico,Utuado
Puerto Rico,Cayey
Kansas,Ellsworth
Nevada,Mineral
North Dakota,Nelson
Virginia,Lynchburg
California,Lassen
Alaska,Valdez-Cordova
Minnesota,Marshall
Minnesota,Red Lake
Alaska,Yakutat
Colorado,Cheyenne
Iowa,Floyd
Montana,Prairie
Colorado,Bent
Texas,La Salle
New York,Kings
Wisconsin,Langlade
Montana,Powell
Kansas,Elk
Texas,Loving
Iowa,Humboldt
New Mexico,Union
Nebraska,Chase
Minnesota,Cook
Virginia,Hampton
Virginia,Virginia Beach
North Dakota,Griggs
North Dakota,Wells
Nebraska,Dundy
New York,Richmond
Illinois,Hardin
Kansas,Rawlins
Montana,Garfield
Puerto Rico,AÃ±asco
Puerto Rico,MayagÃ¼ez
North Dakota,Bottineau
Puerto Rico,Yauco
Puerto Rico,Ponce
Montana,Blaine
Alaska,Bethel
Alaska,Haines
Nebraska,Deuel
Minnesota,Pope
North Carolina,Avery
Texas,Throckmorton
Nebraska,Thayer
Montana,Teton
Virginia,Hopewell
South Dakota,Ziebach
Missouri,Wayne
Texas,Wheeler
Idaho,Butte
Montana,Custer
Alaska,Juneau
Alaska,Kusilvak
Nebraska,Dixon
Kansas,Comanche
Montana,Powder River
North Carolina,Graham
West Virginia,Lincoln
Texas,San Saba
Missouri,Holt
Nebraska,Dawes
Missouri,Knox
Texas,Terrell
Georgia,Glascock
Iowa,Ringgold
West Virginia,Ritchie
Virginia,Radford
Montana,Daniels
Montana,McCone
Virginia,Bland
West Virginia,Doddridge
Oklahoma,Coal
Oklahoma,Haskell
South Dakota,Stanley
Iowa,Cass
Wyoming,Big Horn
Georgia,Taliaferro
Texas,Kenedy
Alaska,Hoonah-Angoon
Texas,McMullen
Puerto Rico,Maunabo
Texas,King
California,Mariposa
Nebraska,Boone
Texas,Haskell
Kentucky,Owen
Oklahoma,Woods
Puerto Rico,Salinas
Nebraska,Dakota
Virginia,Chesapeake
Nebraska,Rock
Arkansas,Calhoun
Maine,Piscataquis
Texas,Schleicher
Puerto Rico,Caguas
Puerto Rico,BayamÃ³n
West Virginia,Clay
Puerto Rico,Camuy
Puerto Rico,CataÃ±o
Puerto Rico,Ceiba
Puerto Rico,Cidra
Minnesota,Kittson
Utah,Sanpete
Nevada,Lander
Puerto Rico,GuÃ¡nica
Nebraska,Furnas
Missouri,Dade
Virginia,Emporia
Texas,Sutton
Montana,Fallon
Utah,Wayne
Oregon,Wheeler
Puerto Rico,Moca
Puerto Rico,PeÃ±uelas
Alaska,Northwest Arctic
Alaska,Nome
Minnesota,Aitkin
Puerto Rico,Humacao
Montana,Wibaux
Alaska,Sitka
Virginia,Charlottesville
Colorado,Sedgwick
Kansas,Clark
Puerto Rico,Patillas
Minnesota,Lake of the Woods
Kansas,Marshall
Montana,Carter
Kansas,Nemaha
Kansas,Washington
Arkansas,Fulton
Texas,Brewster
Minnesota,Hubbard
Texas,Hudspeth
Nebraska,Grant
Virginia,Williamsburg
South Dakota,Douglas
Nebraska,Fillmore
Kansas,Ness
Kentucky,Morgan
Wisconsin,Lincoln
Texas,Irion
Puerto Rico,Jayuya
Nebraska,Loup
Alaska,Kodiak Island
Montana,Petroleum
Missouri,Mississippi
Texas,Briscoe
Texas,Cottle
South Dakota,Walworth
Puerto Rico,Las MarÃ­as
West Virginia,Pocahontas
Puerto Rico,Lares
Utah,Rich
Montana,Pondera
Minnesota,Chippewa
Virginia,Essex
Wisconsin,Green Lake
North Dakota,Dickey
Missouri,Monroe
North Dakota,Sheridan
Idaho,Benewah
Kentucky,Owsley
Alaska,Prince of Wales-Hyder
Ohio,Vinton
Virginia,Fredericksburg
Missouri,Douglas
North Dakota,Kidder
South Dakota,McPherson
Puerto Rico,Naguabo
Puerto Rico,Fajardo
Virginia,Bristol
Virginia,Colonial Heights
Virginia,Galax
Texas,Culberson
Minnesota,Mille Lacs
Texas,Upton
Kentucky,Trigg
Texas,Borden
Oklahoma,Pushmataha
West Virginia,Calhoun
Missouri,Dent
Texas,Menard
Arkansas,Little River
Alaska,Lake and Peninsula
Nebraska,Keya Paha
Nebraska,Sheridan
Puerto Rico,Orocovis
Missouri,Lewis
Kansas,Kingman
Minnesota,Norman
Texas,Presidio
Colorado,San Juan
Oklahoma,Alfalfa
South Dakota,Campbell
Minnesota,Pennington
Oregon,Gilliam
Montana,Phillips
Iowa,Pocahontas
Virginia,Manassas
Minnesota,Lake
Texas,Real
Texas,Red River
Iowa,Sac
Texas,Coleman
Montana,Judith Basin
Missouri,Carroll
Texas,Houston
Virginia,Norfolk
Idaho,Oneida
Kentucky,Bell
South Dakota,Hyde
Texas,Bosque
Alaska,Aleutians East
Alaska,Denali
Nevada,Eureka
Virginia,Alexandria
Puerto Rico,Arroyo
Virginia,Lexington
Puerto Rico,San Juan
Alaska,Fairbanks North Star
Puerto Rico,Aguas Buenas
Oklahoma,Ellis
Montana,Treasure
Montana,Sanders
South Dakota,Sully
Missouri,Grundy
Nebraska,Holt
Virginia,Bath
Puerto Rico,Cabo Rojo
Kansas,Graham
Alaska,Skagway
South Dakota,Custer
Montana,Rosebud
Illinois,Alexander
Oregon,Baker
Minnesota,Wadena
North Dakota,Benson
Puerto Rico,Lajas

In [20]:
for state in report_states:
    if state not in geojson_states:
        print(state);

Guam
Northern Mariana Islands
Virgin Islands

In [21]:
report_df[(report_df['state'] == 'Guam')
          |(report_df['state'] == 'Northern Mariana Islands')
          |(report_df['state'] == 'Virgin Islands')]

,state,county,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
516,Guam,Unknown,00000,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-15,2020-03-22,681.0,104.0,5.0,1.0
1749,Northern Mariana Islands,Unknown,00000,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-28,2020-04-01,11.0,0.0,2.0,0.0
2401,Virgin Islands,Unknown,00000,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-14,2020-04-06,51.0,5.0,1.0,0.0

In [76]:
exception = report_df[(report_df['fips'] == '00000') & (report_df['county'] == 'Unknown')][['county','state','today_case']]

In [77]:
exception

       county                     state  today_case
77    Unknown                    Alaska         0.0
92    Unknown                   Arizona         0.0
160   Unknown                  Arkansas        19.0
216   Unknown                California         0.0
273   Unknown                  Colorado       175.0
284   Unknown               Connecticut       456.0
289   Unknown                  Delaware        13.0
354   Unknown                   Florida         2.0
500   Unknown                   Georgia      1300.0
516   Unknown                      Guam       681.0
521   Unknown                    Hawaii         3.0
553   Unknown                     Idaho         0.0
633   Unknown                  Illinois        85.0
723   Unknown                   Indiana         0.0
874   Unknown                    Kansas         0.0
972   Unknown                  Kentucky         0.0
1035  Unknown                 Louisiana        54.0
1056  Unknown                     Maine         3.0
1097  Unknown             Massachusetts       225.0
1172  Unknown                  Michigan       474.0
1236  Unknown                 Minnesota         3.0
1317  Unknown               Mississippi         0.0
1413  Unknown                  Missouri         1.0
1489  Unknown                  Nebraska         0.0
1501  Unknown                    Nevada         0.0
1514  Unknown             New Hampshire         1.0
1535  Unknown                New Jersey       924.0
1563  Unknown                New Mexico         0.0
1617  Unknown                  New York         0.0
1745  Unknown              North Dakota         0.0
1749  Unknown  Northern Mariana Islands        11.0
1829  Unknown                      Ohio         0.0
1991  Unknown              Pennsylvania         0.0
1999  Unknown               Puerto Rico       788.0
2004  Unknown              Rhode Island       673.0
2089  Unknown              South Dakota         0.0
2173  Unknown                 Tennessee         0.0
2381  Unknown                      Utah        22.0
2397  Unknown                   Vermont        11.0
2401  Unknown            Virgin Islands        51.0
2515  Unknown                  Virginia         0.0
2559  Unknown                Washington       583.0

In [78]:
exception['today_case'].sum()
# cases which has no county level info: 6558

6558.0

In [56]:
report_df[report_df['county'] == 'Cass'][['county','state','today_case']]

     county         state  today_case
651    Cass       Indiana        23.0
1109   Cass      Michigan        12.0
1186   Cass     Minnesota         3.0
1342   Cass      Missouri        32.0
1453   Cass      Nebraska         3.0
1720   Cass  North Dakota        95.0
2204   Cass         Texas         5.0

In [12]:
final_df = pd.merge(old_counties_geojson_df[["NAME", "state_name", "population", "geometry"]], report_df, how='left', left_on=['NAME','state_name'], right_on = ['county','state'])
final_df.columns

Index(['NAME', 'state_name', 'population', 'geometry', 'state', 'county',
       'fips', 'cases_ts', 'deaths_ts', 'dt_first_case', 'dt_first_death',
       'today_case', 'today_new_case', 'today_death', 'today_new_death'],
      dtype='object')

In [13]:
final_df=final_df[["NAME", "state_name", "population", "fips", "dt_first_case", "dt_first_death", "cases_ts", "deaths_ts", 'today_case','today_new_case', 'today_death','today_new_death', "geometry"]]
final_df['dt_start'] = dt_str_start
final_df['dt_end'] = dt_str_end
final_df['dt_unit'] = "day"
final_df

,NAME,state_name,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,dt_start,dt_end,dt_unit
0,Bladen,North Carolina,33778,37017,2020-03-29,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",2020-01-21,2020-04-11,day
1,Stanly,North Carolina,61114,37167,2020-03-20,2020-04-09,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",14.0,3.0,1.0,0.0,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ...",2020-01-21,2020-04-11,day
2,Summit,Ohio,541810,39153,2020-03-14,2020-03-27,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",243.0,8.0,14.0,1.0,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ...",2020-01-21,2020-04-11,day
3,Sullivan,Pennsylvania,6177,42113,2020-04-04,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ...",2020-01-21,2020-04-11,day
4,Upshur,Texas,40769,48459,2020-03-20,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",6.0,0.0,0.0,0.0,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ...",2020-01-21,2020-04-11,day
5,Brown,Texas,37834,48049,2020-03-20,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",10.0,2.0,0.0,0.0,"MULTIPOLYGON (((-99.19587 32.07923, -99.11866 ...",2020-01-21,2020-04-11,day
6,Cherokee,South Carolina,56711,45021,2020-04-02,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,0.0,0.0,0.0,"MULTIPOLYGON (((-81.87441 35.18352, -81.76813 ...",2020-01-21,2020-04-11,day
7,Cullman,Alabama,82313,01043,2020-03-20,2020-04-01,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",31.0,1.0,1.0,0.0,"MULTIPOLYGON (((-87.11199 33.99238, -87.10991 ...",2020-01-21,2020-04-11,day
8,Grant,West Virginia,11641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-79.48687 39.20596, -79.42441 ...",2020-01-21,2020-04-11,day
9,Haakon,South Dakota,2082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-102.00107 44.51093, -102.0004...",2020-01-21,2020-04-11,day
10,Kewaunee,Wisconsin,20360,55061,2020-04-06,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-87.76131 44.65370, -87.74841 ...",2020-01-21,2020-04-11,day
11,Fulton,Indiana,20212,18049,2020-03-27,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",3.0,0.0,0.0,0.0,"MULTIPOLYGON (((-86.46705 41.17144, -86.07755 ...",2020-01-21,2020-04-11,day
12,Hardin,Iowa,17127,19083,2020-03-27,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-93.49949 42.55770, -93.02700 ...",2020-01-21,2020-04-11,day
13,Neosho,Kansas,16125,20133,2020-03-25,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2.0,1.0,0.0,0.0,"MULTIPOLYGON (((-95.52550 37.73276, -95.08808 ...",2020-01-21,2020-04-11,day
14,Pawnee,Nebraska,2676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-96.46367 40.26217, -96.06674 ...",2020-01-21,2020-04-11,day
15,Franklin,Alabama,31542,01059,2020-03-23,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,0.0,0.0,0.0,"MULTIPOLYGON (((-88.15490 34.46303, -88.13956 ...",2020-01-21,2020-04-11,day
16,Randolph,Missouri,24945,29175,2020-03-25,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,0.0,0.0,0.0,"MULTIPOLYGON (((-92.69723 39.59770, -92.69215 ...",2020-01-21,2020-04-11,day
17,Los Alamos,New Mexico,18356,35028,2020-04-04,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",4.0,0.0,0.0,0.0,"MULTIPOLYGON (((-106.39971 35.96010, -106.2481...",2020-01-21,2020-04-11,day
18,Lee,North Carolina,60125,37105,2020-03-22,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,4.0,0.0,0.0,"MULTIPOLYGON (((-79.35007 35.51800, -79.24466 ...",2020-01-21,2020-04-11,day
19,Putnam,Ohio,33969,39137,2020-04-06,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-84.39949 40.99032, -84.34191 ...",2020-01-21,2020-04-11,day
20,Fairfield,South Carolina,22712,45039,2020-03-16,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",21.0,3.0,0.0,0.0,"MULTIPOLYGON (((-81.42754 34.52948, -81.42271 ...",2020-01-21,2020-04-11,day
21,Bastrop,Texas,82577,48021,2020-03-21,2020-04-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",27.0,1.0,1.0,0.0,"MULTIPOLYGON (((-97.49135 30.21193, -97.49125 ...",2020-01-21,2020-04-11,day
22,Sawyer,Wisconsin,16370,55113,2020-04-09,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-91.55128 46.15704, -90.92458 ...",2020-01-21,2020-04-11,day
23,Hutchinson,Texas,21571,48233,2020-04-04,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2.0,0.0,0.0,0.0,"MULTIPOLYGON (((-101.62347 36.05541, -101.0857...",2020-01-21,2020-04-11,day
24,Douglas,Wisconsin,43402,55031,2020-03-20,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",7.0,0.0,0.0,0.0,"MULTIPOLYGON (((-92.29362 46.24404, -92.29276 ...",2020-01-21,2020-04-11,day
25,Concho,Texas,4233,48095,2020-04-10,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-100.11123 31.58027, -99.72170...",2020-01-21,2020-04-11,day
26,Fluvanna,Virginia,26282,51065,2020-03-22,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",19.0,4.0,0.0,0.0,"MULTIPOLYGON (((-78.49134 37.79696, -78.30676 ...",2020-01-21,2020-04-11,day
27,Forest,Wisconsin,9018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-89.04779 45.98235, -88.93322 ...",2020-01-21,2020-04-11,day
28,Muskegon,Michigan,173043,26121,2020-03-23,2020-03-27,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",57.0,0.0,4.0,0.0,"MULTIPOLYGON (((-86.46352 43.47233, -86.03949 ...",2020-01-21,2020-04-11,day
29,Becker,Minnesota,33773,27005,2020-04-11,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,1.0,0.0,0.0,"MULTIPOLYGON (((-96.19467 47.15115, -96.06707 ...",2020-01-21,2020-04-11,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,Montague,Texas,19409,48337,2020-03-27,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2.0,1.0,0.0,0.0,"MULTIPOLYGON (((-97.97892 33.46713, -97.97787 ...",2020-01-21,2020-04-11,day
3193,Lucas,Ohio,432379,39095,2020-03-15,2020-03-20,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",490.0,47.0,21.0,1.0,"MULTIPOLYGON (((-83.88294 41.48754, -83.88039 ...",2020-01-21,2020-04-11,day
3194,Cowlitz,Washington,105112,53015,2020-03-20,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",23.0,0.0,0.0,0.0,"MULTIPOLYGON (((-123.21795 46.38562, -122.2409...",2020-01-21,2020-04-11,day
3195,Austin,Texas,29565,48015,2020-03-25,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,0.0,0.0,0.0,"MULTIPOLYGON (((-96.62198 30.04428, -96.29285 ...",2020-01-21,2020-04-11,day
3196,Calhoun,South Carolina,14713,45017,2020-03-17,2020-03-31,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",6.0,0.0,1.0,0.0,"MULTIPOLYGON (((-81.05852 33.74705, -81.01233 ...",2020-01-21,2020-04-11,day
3197,Dorchester,South Carolina,155474,45035,2020-03-19,2020-04-11,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",67.0,2.0,1.0,1.0,"MULTIPOLYGON (((-80.79030 33.18084, -80.50279 ...",2020-01-21,2020-04-11,day
3198,Grainger,Tennessee,23013,47057,2020-04-01,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",4.0,0.0,0.0,0.0,"MULTIPOLYGON (((-83.71470 36.17378, -83.66741 ...",2020-01-21,2020-04-11,day
3199,Skagway,Alaska,1061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-135.47744 59.79963, -135.2311...",2020-01-21,2020-04-11,day
3200,Hamblen,Tennessee,63740,47063,2020-03-20,2020-04-10,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",4.0,0.0,1.0,0.0,"MULTIPOLYGON (((-83.44950 36.21799, -83.32829 ...",2020-01-21,2020-04-11,day
3201,Custer,South Dakota,8573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-104.05549 43.85348, -102.6871...",2020-01-21,2020-04-11,day
3202,Chesterfield,South Carolina,46024,45025,2020-03-24,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",22.0,0.0,0.0,0.0,"MULTIPOLYGON (((-80.56166 34.81748, -80.32083 ...",2020-01-21,2020-04-11,day
3203,Hamlin,South Dakota,6000,46057,2020-03-28,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-97.49135 44.80403, -96.88457 ...",2020-01-21,2020-04-11,day
3204,Henderson,Tennessee,27859,47077,2020-04-05,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2.0,0.0,0.0,0.0,"MULTIPOLYGON (((-88.60358 35.62608, -88.60686 ...",2020-01-21,2020-04-11,day
3205,Rosebud,Montana,9250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-107.89223 46.85122, -107.4677...",2020-01-21,2020-04-11,day
3206,Carbon,Utah,20356,49007,2020-04-03,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2.0,0.0,0.0,0.0,"MULTIPOLYGON (((-111.24750 39.81303, -110.8577...",2020-01-21,2020-04-11,day
3207,Union,Mississippi,28356,28145,2020-03-21,2020-04-11,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",7.0,0.0,1.0,1.0,"MULTIPOLYGON (((-89.24613 34.49563, -89.24564 ...",2020-01-21,2020-04-11,day
3208,Colbert,Alabama,54495,01033,2020-03-25,2020-04-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8.0,0.0,1.0,0.0,"MULTIPOLYGON (((-88.13426 34.62266, -88.09789 ...",2020-01-21,2020-04-11,day
3209,Alexander,Illinois,6532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-89.49516 37.32480, -89.47368 ...",2020-01-21,2020-04-11,day
3210,Baker,Oregon,15984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-118.51944 44.70589, -118.3800...",2020-01-21,2020-04-11,day
3211,Wadena,Minnesota,13646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-95.16301 46.80472, -94.78713 ...",2020-01-21,2020-04-11,day
3212,Pulaski,Arkansas,393463,05119,2020-03-12,2020-03-24,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",249.0,13.0,9.0,1.0,"MULTIPOLYGON (((-92.75363 34.91125, -92.55483 ...",2020-01-21,2020-04-11,day
3213,Beaufort,South Carolina,182658,45013,2020-03-14,2020-03-30,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",191.0,5.0,6.0,1.0,"MULTIPOLYGON (((-81.00637 32.30652, -80.93494 ...",2020-01-21,2020-04-11,day
3214,Allen,Louisiana,25661,22003,2020-03-23,2020-03-29,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",71.0,4.0,7.0,2.0,"MULTIPOLYGON (((-93.13029 30.59789, -92.97917 ...",2020-01-21,2020-04-11,day
3215,Benson,North Dakota,6886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-99.84661 48.37130, -99.49292 ...",2020-01-21,2020-04-11,day
3216,Lajas,Puerto Rico,23315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-67.10904 18.05608, -67.06791 ...",2020-01-21,2020-04-11,day
3217,Seward,Nebraska,17127,31159,2020-04-05,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-97.36812 41.04695, -96.91094 ...",2020-01-21,2020-04-11,day
3218,Burke,North Carolina,89712,37023,2020-03-25,2020-04-05,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",61.0,17.0,2.0,0.0,"MULTIPOLYGON (((-81.90665 35.88338, -81.94319 ...",2020-01-21,2020-04-11,day
3219,Sumter,Georgia,30352,13261,2020-03-20,2020-03-28,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",224.0,8.0,9.0,0.0,"MULTIPOLYGON (((-84.43301 32.04196, -84.43121 ...",2020-01-21,2020-04-11,day
3220,Kansas City,Missouri,491918,00000,2020-03-20,2020-04-02,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",298.0,15.0,8.0,0.0,"POLYGON ((-94.44849 38.93168, -94.44869 38.928...",2020-01-21,2020-04-11,day
3221,New York City,New York,8443713,00000,2020-03-01,2020-03-14,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",98308.0,5924.0,6202.0,539.0,"POLYGON ((-74.24921 40.54506, -74.21684 40.558...",2020-01-21,2020-04-11,day

In [14]:
final_df[pd.notnull(final_df["cases_ts"])]['dt_start'] = dt_str_start
final_df.head(5)

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,NAME,state_name,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,dt_start,dt_end,dt_unit
0,Bladen,North Carolina,33778,37017,2020-03-29,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ...",2020-01-21,2020-04-11,day
1,Stanly,North Carolina,61114,37167,2020-03-20,2020-04-09,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",14.0,3.0,1.0,0.0,"MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ...",2020-01-21,2020-04-11,day
2,Summit,Ohio,541810,39153,2020-03-14,2020-03-27,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",243.0,8.0,14.0,1.0,"MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ...",2020-01-21,2020-04-11,day
3,Sullivan,Pennsylvania,6177,42113,2020-04-04,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1.0,0.0,0.0,0.0,"MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ...",2020-01-21,2020-04-11,day
4,Upshur,Texas,40769,48459,2020-03-20,NaN,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",6.0,0.0,0.0,0.0,"MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ...",2020-01-21,2020-04-11,day

In [15]:
final_df[['today_case','today_new_case','today_death','today_new_death']] = final_df[['today_case','today_new_case','today_death','today_new_death']].replace(np.nan,0)

In [79]:
final_df['today_case'].sum()
# Truth total from case report: 528422
# Previous total without Kansas City: 522461
# Adding Kansas City: 522759 + Unknown cases: 6558 = 529317?

522759.0

In [82]:
final_df[final_df['NAME'] == 'Unknown']

Empty GeoDataFrame
Columns: [NAME, state_name, population, fips, dt_first_case, dt_first_death, cases_ts, deaths_ts, today_case, today_new_case, today_death, today_new_death, geometry, dt_start, dt_end, dt_unit]
Index: []

In [16]:
final_df.to_file(r"./nyt_counties_data.geojson", driver='GeoJSON', encoding='utf-8')
print("done")

done

New Data Structure (Full version)

In [ ]:
# pivot_counties.columns = ['_'.join(col).strip() for col in pivot_counties.columns.values]
# report_df_2 = pivot_counties.reset_index()

In [ ]:
# report_df_2.head(5)

In [ ]:
# pivot_counties.head(5)

In [ ]:
# final_df_2 = pd.merge(old_counties_geojson_df[["NAME", "state_name", "population", "geometry"]], report_df_2, how='right', left_on=['NAME','state_name'], right_on = ['county','state'])
# final_df_2 = final_df_2.drop(['state','county'], axis = 1)
# final_df_2['dt_start'] = dt_start
# final_df_2['dt_end'] = dt_end
# final_df_2.head(5)

In [ ]:
# final_df_2.to_file(r"./nyt_counties_data_full.geojson", driver='GeoJSON', encoding='utf-8')
# print("done")

Generate JSON file

In [ ]:
# county_list = []
# for state in df_counties_original.state.unique():
#     for county in df_counties_original.loc[(df_counties_original['state'] == state)].county.unique():
#         county_list.append({"name": county, "state": state})
 
# print(len(county_list), county_list)

In [ ]:
# data_df = report_df.set_index(report_df["county"]+", "+report_df["state"])
# data_dict =data_df.to_dict(orient='index')

In [ ]:
# df = df_counties_original.groupby(['county', 'state'], sort=False)[['cases', 'deaths']].max().sort_values("cases", ascending=False)
# county_state_list = list(map(lambda x: x[0]+", "+x[1], df.index.tolist()))
# meta = {"dates": dt_range_str,"states": county_state_list, "cases": df["cases"].values.tolist(), "deaths": df["deaths"].values.tolist()}
# data_dict["metadata"] = meta

In [ ]:
# data_dict

In [ ]:
# import json
# with open('./nyt_counties_data.json', 'w') as outfile:
#     json.dump(data_dict, outfile)