In [57]:
import pandas as pd
import numpy as np
from datetime import datetime
import geopandas as gpd

In [58]:
df_states_original = pd.read_csv("./us-states.csv", dtype={"date": np.string_,
                                                             "state": np.string_,
                                                             "fips": np.string_,
                                                            "cases": np.int32,
                                                            "deaths": np.int32})
df_states_original.sort_values("fips", ascending=True)
# #Replaces any nan to 0
# if df_states_original.isnull().values.any():
#     df_states_original.replace(np.nan, None)

            date           state fips  cases  deaths
2929  2020-04-25         Alabama   01   6213     213
7714  2020-07-21         Alabama   01  70358    1303
3644  2020-05-08         Alabama   01   9385     383
586   2020-03-13         Alabama   01      6       0
6174  2020-06-23         Alabama   01  31097     864
...          ...             ...  ...    ...     ...
1275  2020-03-25  Virgin Islands   78     17       0
5618  2020-06-12  Virgin Islands   78     72       6
1221  2020-03-24  Virgin Islands   78     17       0
3088  2020-04-27  Virgin Islands   78     59       4
3528  2020-05-05  Virgin Islands   78     66       4

[8099 rows x 5 columns]

In [59]:
pivot_states = pd.pivot_table(df_states_original , index=['state','fips'],
                       columns=['date'])
if pivot_states.isnull().values.any():
    pivot_states = pivot_states.replace(np.nan, 0).astype(int)
pivot_states.head(5)

                     cases                                              \
date            2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state      fips
Alabama    01            0          0          0          0          0
Alaska     02            0          0          0          0          0
Arizona    04            0          0          0          0          0
Arkansas   05            0          0          0          0          0
California 06            0          0          0          0          1

                                                                        ...  \
date            2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30  ...
state      fips                                                         ...
Alabama    01            0          0          0          0          0  ...
Alaska     02            0          0          0          0          0  ...
Arizona    04            1          1          1          1          1  ...
Arkansas   05            0          0          0          0          0  ...
California 06            2          2          2          2          2  ...

                    deaths                                              \
date            2020-07-18 2020-07-19 2020-07-20 2020-07-21 2020-07-22
state      fips
Alabama    01         1286       1287       1291       1303       1364
Alaska     02           16         16         16         16         17
Arizona    04         2733       2768       2795       2918       2976
Arkansas   05          357        357        363        374        380
California 06         7697       7710       7764       7883       8038


date            2020-07-23 2020-07-24 2020-07-25 2020-07-26 2020-07-27
state      fips
Alabama    01         1397       1438       1456       1473       1491
Alaska     02           17         17         18         18         19
Arizona    04         3067       3156       3288       3313       3320
Arkansas   05          386        394        399        401        408
California 06         8190       8325       8428       8451       8544

[5 rows x 378 columns]

Get Date Info

In [60]:
date= pivot_states['cases'].columns
date

Index(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       ...
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
       '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27'],
      dtype='object', name='date', length=189)

In [61]:
date_str = np.sort(date)
dt_str_start=np.min(date_str)
dt_str_end=np.max(date_str)

In [62]:
dt_start = datetime.strptime(dt_str_start, "%Y-%m-%d")
dt_end = datetime.strptime(dt_str_end, "%Y-%m-%d")
dt_range = pd.date_range(start=dt_start,end=dt_end)
print(len(dt_range), dt_range)
dt_range_str = list(map(lambda x: x.strftime("%Y-%m-%d"), dt_range.tolist()))
print(len(dt_range_str), dt_range_str)

189 DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30',
               ...
               '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
               '2020-07-26', '2020-07-27'],
              dtype='datetime64[ns]', length=189, freq='D')
189 ['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27']

Add Cases Time Series, First Case Date, Death Time Series, First Death Date

In [63]:
# import json
# pivot_states['cases_ts'] = "'" + json.dumps({"values": pivot_states['cases'].values.tolist()[0]}) + "'"
# pivot_states['deaths_ts'] = "'" + json.dumps({"values": pivot_states['deaths'].values.tolist()[0]}) + "'"

pivot_states['cases_ts'] = pivot_states['cases'].values.tolist()
pivot_states['cases_ts'] = pivot_states['cases_ts'].apply(lambda x: ','.join(map(str, x)))
pivot_states['deaths_ts'] = pivot_states['deaths'].values.tolist()
pivot_states['deaths_ts'] = pivot_states['deaths_ts'].apply(lambda x: ','.join(map(str, x)))

In [64]:
yesterday = date.values[-2]
pivot_states['today_case'] = pivot_states['cases'][dt_str_end]
pivot_states['today_new_case'] = pivot_states['cases'][dt_str_end] - pivot_states['cases'][yesterday]
pivot_states['today_death'] = pivot_states['deaths'][dt_str_end]
pivot_states['today_new_death'] = pivot_states['deaths'][dt_str_end] - pivot_states['deaths'][yesterday]

In [65]:
pivot_states['dt_first_case'] = (pivot_states['cases'] > 0).idxmax(axis=1)
pivot_states['dt_first_death'] = (pivot_states['deaths'] > 0).idxmax(axis=1)
#For death reports, deal with no deaths counties
pivot_states.loc[pivot_states['deaths'].iloc[:, -1] <= 0, 'dt_first_death'] = np.nan
pivot_states.head(5)

                     cases                                              \
date            2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state      fips
Alabama    01            0          0          0          0          0
Alaska     02            0          0          0          0          0
Arizona    04            0          0          0          0          0
Arkansas   05            0          0          0          0          0
California 06            0          0          0          0          1

                                                                        ...  \
date            2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30  ...
state      fips                                                         ...
Alabama    01            0          0          0          0          0  ...
Alaska     02            0          0          0          0          0  ...
Arizona    04            1          1          1          1          1  ...
Arkansas   05            0          0          0          0          0  ...
California 06            2          2          2          2          2  ...

                    deaths             \
date            2020-07-26 2020-07-27
state      fips
Alabama    01         1473       1491
Alaska     02           18         19
Arizona    04         3313       3320
Arkansas   05          401        408
California 06         8451       8544

                                                          cases_ts  \
date
state      fips
Alabama    01    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
Alaska     02    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
Arizona    04    0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
Arkansas   05    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
California 06    0,0,0,0,1,2,2,2,2,2,3,3,6,6,6,6,6,6,6,6,7,7,7,...

                                                         deaths_ts today_case  \
date
state      fips
Alabama    01    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      81115
Alaska     02    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...       3204
Arizona    04    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...     163918
Arkansas   05    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      39447
California 06    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...     467103

                today_new_case today_death today_new_death dt_first_case  \
date
state      fips
Alabama    01             1821        1491              18    2020-03-13
Alaska     02              104          19               1    2020-03-12
Arizona    04             1877        3320               7    2020-01-26
Arkansas   05              824         408               7    2020-03-11
California 06             7765        8544              93    2020-01-25

                dt_first_death
date
state      fips
Alabama    01       2020-03-25
Alaska     02       2020-03-27
Arizona    04       2020-03-20
Arkansas   05       2020-03-24
California 06       2020-03-04

[5 rows x 386 columns]

In [66]:
pivot_states['today_case'].sum()

4303813

Read County Boundary GeoJSON file

In [67]:
old_states_geojson_df = gpd.read_file(r"./states_update.geojson")
old_states_geojson_df.head(5)

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,...,d2020-03-19,d2020-03-20,d2020-03-21,d2020-03-22,d2020-03-23,d2020-03-24,d2020-03-25,d2020-03-26,population,geometry
0,3,5,54,01779805,54,WV,West Virginia,00,G4000,A,...,0,0,0,0,0,0,0,0,1829054,"POLYGON ((-80.51899 40.63880, -80.51934 39.721..."
1,3,5,12,00294478,12,FL,Florida,00,G4000,A,...,1,1,2,2,4,3,0,6,20598139,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ..."
2,2,3,17,01779784,17,IL,Illinois,00,G4000,A,...,3,1,1,1,5,4,3,7,12821497,"POLYGON ((-90.64284 42.50848, -87.01994 42.493..."
3,2,4,27,00662849,27,MN,Minnesota,00,G4000,A,...,0,0,1,0,0,0,0,1,5527358,"POLYGON ((-97.22872 49.00056, -95.15371 48.998..."
4,3,5,24,01714934,24,MD,Maryland,00,G4000,A,...,0,1,1,0,0,1,0,0,6003435,"POLYGON ((-77.71952 39.32131, -77.76086 39.340..."

In [68]:
old_states_geojson_df[['NAME','population','GEOID','geometry']]

,NAME,population,GEOID,geometry
0,West Virginia,1829054,54,"POLYGON ((-80.51899 40.63880, -80.51934 39.721..."
1,Florida,20598139,12,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ..."
2,Illinois,12821497,17,"POLYGON ((-90.64284 42.50848, -87.01994 42.493..."
3,Minnesota,5527358,27,"POLYGON ((-97.22872 49.00056, -95.15371 48.998..."
4,Maryland,6003435,24,"POLYGON ((-77.71952 39.32131, -77.76086 39.340..."
5,Rhode Island,1056611,44,"MULTIPOLYGON (((-71.67881 41.15891, -71.63497 ..."
6,Idaho,1687809,16,"POLYGON ((-116.91607 45.99536, -116.98259 46.0..."
7,New Hampshire,1343622,33,"POLYGON ((-71.50108 45.01335, -71.49804 45.070..."
8,North Carolina,10155624,37,"POLYGON ((-81.67749 36.58814, -80.12217 36.542..."
9,Vermont,624977,50,"POLYGON ((-73.34312 45.01084, -71.46505 45.013..."
10,Connecticut,3581504,09,"POLYGON ((-73.48732 42.04953, -72.81378 42.036..."
11,Delaware,949495,10,"POLYGON ((-75.78860 39.72220, -75.61795 39.834..."
12,New Mexico,2092434,35,"POLYGON ((-103.00233 37.00015, -103.00229 36.5..."
13,California,39148760,06,"MULTIPOLYGON (((-119.63607 33.28071, -119.5992..."
14,New Jersey,8881845,34,"MULTIPOLYGON (((-74.69491 41.35742, -73.89398 ..."
15,Wisconsin,5778394,55,"POLYGON ((-89.95710 47.29110, -90.41839 46.566..."
16,Oregon,4081943,41,"POLYGON ((-124.15955 46.26113, -124.03595 46.2..."
17,Nebraska,1904760,31,"POLYGON ((-104.05303 43.00059, -98.50036 42.99..."
18,Pennsylvania,12791181,42,"POLYGON ((-80.51985 42.32713, -80.08022 42.394..."
19,Washington,7294336,53,"POLYGON ((-117.03235 48.99919, -117.03463 46.4..."
20,Louisiana,4663616,22,"POLYGON ((-91.16607 33.00411, -91.20705 32.914..."
21,Georgia,10297484,13,"POLYGON ((-85.60516 34.98468, -83.10247 34.996..."
22,Alabama,4864680,01,"POLYGON ((-88.20006 34.99563, -88.20296 35.008..."
23,Utah,3045350,49,"POLYGON ((-114.04148 41.99387, -111.04671 42.0..."
24,Ohio,11641879,39,"POLYGON ((-84.80597 41.69612, -83.41585 41.733..."
25,Texas,27885195,48,"POLYGON ((-103.00236 36.50055, -100.00041 36.4..."
26,Colorado,5531141,08,"POLYGON ((-109.05003 41.00069, -102.05172 41.0..."
27,South Carolina,4955925,45,"POLYGON ((-83.10861 35.00066, -82.78484 35.085..."
28,Oklahoma,3918137,40,"POLYGON ((-103.00236 36.50055, -103.00233 37.0..."
29,Tennessee,6651089,47,"POLYGON ((-84.32182 34.98841, -88.20296 35.008..."
30,Wyoming,581836,56,"POLYGON ((-111.05243 44.47841, -111.05456 45.0..."
31,Hawaii,1422029,15,"MULTIPOLYGON (((-166.38653 23.84636, -166.3804..."
32,North Dakota,752201,38,"POLYGON ((-104.04869 48.99959, -97.22872 49.00..."
33,Kentucky,4440204,21,"MULTIPOLYGON (((-89.48543 36.49749, -89.53923 ..."
34,Virgin Islands,0,78,"MULTIPOLYGON (((-64.95671 17.67898, -64.93420 ..."
35,Commonwealth of the Northern Mariana Islands,0,69,"MULTIPOLYGON (((145.55884 16.37415, 145.62500 ..."
36,Guam,0,66,"POLYGON ((144.56343 13.44806, 144.61115 13.510..."
37,Maine,1332813,23,"POLYGON ((-71.08393 45.30548, -71.00849 45.319..."
38,New York,19618453,36,"MULTIPOLYGON (((-74.04729 40.69050, -74.04485 ..."
39,Nevada,2922849,32,"POLYGON ((-117.02620 42.00019, -114.04148 41.9..."
40,Alaska,738516,02,"MULTIPOLYGON (((-170.92604 52.55864, -170.8654..."
41,American Samoa,0,60,"MULTIPOLYGON (((-171.14118 -11.04661, -171.111..."
42,Michigan,9957488,26,"POLYGON ((-89.95710 47.29110, -89.48338 48.013..."
43,Arkansas,2990671,05,"POLYGON ((-94.61792 36.49941, -90.15228 36.497..."
44,Mississippi,2988762,28,"POLYGON ((-90.30929 34.99569, -88.20003 34.995..."
45,Missouri,6090062,29,"POLYGON ((-95.30829 40.00000, -95.41511 40.040..."
46,Montana,1041732,30,"POLYGON ((-116.04909 49.00085, -104.04869 48.9..."
47,Kansas,2908776,20,"POLYGON ((-102.05174 40.00308, -95.30829 40.00..."
48,Indiana,6637426,18,"POLYGON ((-87.20777 41.76096, -84.80589 41.760..."
49,Puerto Rico,3386941,72,"MULTIPOLYGON (((-67.99869 18.17076, -67.94479 ..."
50,South Dakota,864289,46,"POLYGON ((-96.56367 45.93525, -96.58368 45.819..."
51,Massachusetts,6830193,25,"POLYGON ((-71.79919 42.00805, -72.71456 42.036..."
52,Virginia,8413774,51,"POLYGON ((-77.11976 38.93434, -77.03285 38.855..."
53,District of Columbia,684498,11,"POLYGON ((-77.03901 38.79165, -77.03946 38.869..."
54,Iowa,3132499,19,"POLYGON ((-96.45326 43.50039, -91.21771 43.500..."
55,Arizona,6946685,04,"POLYGON ((-114.63349 35.00186, -114.60291 35.0..."

Old Data Structure

In [69]:
report_df = pivot_states[['cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']]
report_df = report_df.reset_index()
report_df.columns = ['state','fips','cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']
report_df.head(5)

,state,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Alabama,01,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-03-13,2020-03-25,81115,1821,1491,18
1,Alaska,02,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-03-12,2020-03-27,3204,104,19,1
2,Arizona,04,"0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-01-26,2020-03-20,163918,1877,3320,7
3,Arkansas,05,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-03-11,2020-03-24,39447,824,408,7
4,California,06,"0,0,0,0,1,2,2,2,2,2,3,3,6,6,6,6,6,6,6,6,7,7,7,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-01-25,2020-03-04,467103,7765,8544,93

In [70]:
#Stay consistency with geojson states
report_df = report_df.replace('Northern Mariana Islands','Commonwealth of the Northern Mariana Islands')

In [71]:
final_df = pd.merge(old_states_geojson_df[["NAME", "population", "geometry"]], report_df, how='left', left_on=['NAME'], right_on = ['state'])
final_df.columns

Index(['NAME', 'population', 'geometry', 'state', 'fips', 'cases_ts',
       'deaths_ts', 'dt_first_case', 'dt_first_death', 'today_case',
       'today_new_case', 'today_death', 'today_new_death'],
      dtype='object')

In [72]:
final_df=final_df[["NAME", "population", "fips", "dt_first_case", "dt_first_death", "cases_ts", "deaths_ts", 'today_case','today_new_case', 'today_death','today_new_death', "geometry"]]
final_df['start'] = dt_str_start
final_df['end'] = dt_str_end
final_df['dt_unit'] = "day"
final_df.head(5)

,NAME,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit
0,West Virginia,1829054,54,2020-03-17,2020-03-29,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",6054.0,94.0,106.0,3.0,"POLYGON ((-80.51899 40.63880, -80.51934 39.721...",2020-01-21,2020-07-27,day
1,Florida,20598139,12,2020-03-01,2020-03-06,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",432739.0,8892.0,5930.0,77.0,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ...",2020-01-21,2020-07-27,day
2,Illinois,12821497,17,2020-01-24,2020-03-17,"0,0,0,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",174442.0,1363.0,7619.0,24.0,"POLYGON ((-90.64284 42.50848, -87.01994 42.493...",2020-01-21,2020-07-27,day
3,Minnesota,5527358,27,2020-03-06,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",51843.0,650.0,1616.0,2.0,"POLYGON ((-97.22872 49.00056, -95.15371 48.998...",2020-01-21,2020-07-27,day
4,Maryland,6003435,24,2020-03-05,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",85436.0,1130.0,3447.0,7.0,"POLYGON ((-77.71952 39.32131, -77.76086 39.340...",2020-01-21,2020-07-27,day

In [73]:
final_df[final_df['NAME'] == 'American Samoa']

,NAME,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit
41,American Samoa,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-171.14118 -11.04661, -171.111...",2020-01-21,2020-07-27,day

In [74]:
#New York Times remove Samoa data since 4/27
final_df = final_df.drop(final_df[final_df['NAME'] == 'American Samoa'].index)
final_df = final_df.reset_index()
final_df

,index,NAME,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit
0,0,West Virginia,1829054,54,2020-03-17,2020-03-29,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",6054.0,94.0,106.0,3.0,"POLYGON ((-80.51899 40.63880, -80.51934 39.721...",2020-01-21,2020-07-27,day
1,1,Florida,20598139,12,2020-03-01,2020-03-06,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",432739.0,8892.0,5930.0,77.0,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ...",2020-01-21,2020-07-27,day
2,2,Illinois,12821497,17,2020-01-24,2020-03-17,"0,0,0,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",174442.0,1363.0,7619.0,24.0,"POLYGON ((-90.64284 42.50848, -87.01994 42.493...",2020-01-21,2020-07-27,day
3,3,Minnesota,5527358,27,2020-03-06,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",51843.0,650.0,1616.0,2.0,"POLYGON ((-97.22872 49.00056, -95.15371 48.998...",2020-01-21,2020-07-27,day
4,4,Maryland,6003435,24,2020-03-05,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",85436.0,1130.0,3447.0,7.0,"POLYGON ((-77.71952 39.32131, -77.76086 39.340...",2020-01-21,2020-07-27,day
5,5,Rhode Island,1056611,44,2020-03-01,2020-03-28,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",18515.0,291.0,1004.0,2.0,"MULTIPOLYGON (((-71.67881 41.15891, -71.63497 ...",2020-01-21,2020-07-27,day
6,6,Idaho,1687809,16,2020-03-13,2020-03-26,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",18836.0,574.0,159.0,9.0,"POLYGON ((-116.91607 45.99536, -116.98259 46.0...",2020-01-21,2020-07-27,day
7,7,New Hampshire,1343622,33,2020-03-02,2020-03-23,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",6441.0,5.0,409.0,0.0,"POLYGON ((-71.50108 45.01335, -71.49804 45.070...",2020-01-21,2020-07-27,day
8,8,North Carolina,10155624,37,2020-03-03,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",114689.0,1808.0,1815.0,8.0,"POLYGON ((-81.67749 36.58814, -80.12217 36.542...",2020-01-21,2020-07-27,day
9,9,Vermont,624977,50,2020-03-07,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1402.0,2.0,56.0,0.0,"POLYGON ((-73.34312 45.01084, -71.46505 45.013...",2020-01-21,2020-07-27,day
10,10,Connecticut,3581504,09,2020-03-08,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",48983.0,207.0,4418.0,5.0,"POLYGON ((-73.48732 42.04953, -72.81378 42.036...",2020-01-21,2020-07-27,day
11,11,Delaware,949495,10,2020-03-11,2020-03-26,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",14406.0,116.0,579.0,0.0,"POLYGON ((-75.78860 39.72220, -75.61795 39.834...",2020-01-21,2020-07-27,day
12,12,New Mexico,2092434,35,2020-03-11,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",19502.0,449.0,619.0,5.0,"POLYGON ((-103.00233 37.00015, -103.00229 36.5...",2020-01-21,2020-07-27,day
13,13,California,39148760,06,2020-01-25,2020-03-04,"0,0,0,0,1,2,2,2,2,2,3,3,6,6,6,6,6,6,6,6,7,7,7,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",467103.0,7765.0,8544.0,93.0,"MULTIPOLYGON (((-119.63607 33.28071, -119.5992...",2020-01-21,2020-07-27,day
14,14,New Jersey,8881845,34,2020-03-04,2020-03-10,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",181732.0,449.0,15804.0,17.0,"MULTIPOLYGON (((-74.69491 41.35742, -73.89398 ...",2020-01-21,2020-07-27,day
15,15,Wisconsin,5778394,55,2020-02-05,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",53323.0,638.0,905.0,4.0,"POLYGON ((-89.95710 47.29110, -90.41839 46.566...",2020-01-21,2020-07-27,day
16,16,Oregon,4081943,41,2020-02-28,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",17122.0,358.0,289.0,-2.0,"POLYGON ((-124.15955 46.26113, -124.03595 46.2...",2020-01-21,2020-07-27,day
17,17,Nebraska,1904760,31,2020-02-17,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",24899.0,281.0,322.0,0.0,"POLYGON ((-104.05303 43.00059, -98.50036 42.99...",2020-01-21,2020-07-27,day
18,18,Pennsylvania,12791181,42,2020-03-06,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",112995.0,1222.0,7174.0,4.0,"POLYGON ((-80.51985 42.32713, -80.08022 42.394...",2020-01-21,2020-07-27,day
19,19,Washington,7294336,53,2020-01-21,2020-02-29,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",55548.0,1126.0,1611.0,15.0,"POLYGON ((-117.03235 48.99919, -117.03463 46.4...",2020-01-21,2020-07-27,day
20,20,Louisiana,4663616,22,2020-03-09,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",110029.0,2343.0,3786.0,23.0,"POLYGON ((-91.16607 33.00411, -91.20705 32.914...",2020-01-21,2020-07-27,day
21,21,Georgia,10297484,13,2020-03-02,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",155907.0,2431.0,3435.0,11.0,"POLYGON ((-85.60516 34.98468, -83.10247 34.996...",2020-01-21,2020-07-27,day
22,22,Alabama,4864680,01,2020-03-13,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",81115.0,1821.0,1491.0,18.0,"POLYGON ((-88.20006 34.99563, -88.20296 35.008...",2020-01-21,2020-07-27,day
23,23,Utah,3045350,49,2020-02-25,2020-03-22,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",38439.0,466.0,285.0,7.0,"POLYGON ((-114.04148 41.99387, -111.04671 42.0...",2020-01-21,2020-07-27,day
24,24,Ohio,11641879,39,2020-03-09,2020-03-20,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",85177.0,1104.0,3344.0,37.0,"POLYGON ((-84.80597 41.69612, -83.41585 41.733...",2020-01-21,2020-07-27,day
25,25,Texas,27885195,48,2020-02-12,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",402295.0,6557.0,6292.0,1202.0,"POLYGON ((-103.00236 36.50055, -100.00041 36.4...",2020-01-21,2020-07-27,day
26,26,Colorado,5531141,08,2020-03-05,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",44723.0,359.0,1800.0,5.0,"POLYGON ((-109.05003 41.00069, -102.05172 41.0...",2020-01-21,2020-07-27,day
27,27,South Carolina,4955925,45,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",82417.0,1218.0,1506.0,15.0,"POLYGON ((-83.10861 35.00066, -82.78484 35.085...",2020-01-21,2020-07-27,day
28,28,Oklahoma,3918137,40,2020-03-06,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",32529.0,1244.0,495.0,-1.0,"POLYGON ((-103.00236 36.50055, -103.00233 37.0...",2020-01-21,2020-07-27,day
29,29,Tennessee,6651089,47,2020-03-05,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",93869.0,2539.0,965.0,10.0,"POLYGON ((-84.32182 34.98841, -88.20296 35.008...",2020-01-21,2020-07-27,day
30,30,Wyoming,581836,56,2020-03-11,2020-04-13,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2520.0,45.0,25.0,0.0,"POLYGON ((-111.05243 44.47841, -111.05456 45.0...",2020-01-21,2020-07-27,day
31,31,Hawaii,1422029,15,2020-03-06,2020-03-31,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1688.0,28.0,25.0,0.0,"MULTIPOLYGON (((-166.38653 23.84636, -166.3804...",2020-01-21,2020-07-27,day
32,32,North Dakota,752201,38,2020-03-11,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",5990.0,110.0,103.0,0.0,"POLYGON ((-104.04869 48.99959, -97.22872 49.00...",2020-01-21,2020-07-27,day
33,33,Kentucky,4440204,21,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",28250.0,568.0,726.0,8.0,"MULTIPOLYGON (((-89.48543 36.49749, -89.53923 ...",2020-01-21,2020-07-27,day
34,34,Virgin Islands,0,78,2020-03-14,2020-04-06,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",375.0,14.0,7.0,0.0,"MULTIPOLYGON (((-64.95671 17.67898, -64.93420 ...",2020-01-21,2020-07-27,day
35,35,Commonwealth of the Northern Mariana Islands,0,69,2020-03-28,2020-04-01,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",40.0,0.0,2.0,0.0,"MULTIPOLYGON (((145.55884 16.37415, 145.62500 ...",2020-01-21,2020-07-27,day
36,36,Guam,0,66,2020-03-15,2020-03-22,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1315.0,9.0,6.0,0.0,"POLYGON ((144.56343 13.44806, 144.61115 13.510...",2020-01-21,2020-07-27,day
37,37,Maine,1332813,23,2020-03-12,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3832.0,18.0,119.0,0.0,"POLYGON ((-71.08393 45.30548, -71.00849 45.319...",2020-01-21,2020-07-27,day
38,38,New York,19618453,36,2020-03-01,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",417056.0,613.0,32322.0,17.0,"MULTIPOLYGON (((-74.04729 40.69050, -74.04485 ...",2020-01-21,2020-07-27,day
39,39,Nevada,2922849,32,2020-03-05,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",43880.0,961.0,739.0,5.0,"POLYGON ((-117.02620 42.00019, -114.04148 41.9...",2020-01-21,2020-07-27,day
40,40,Alaska,738516,02,2020-03-12,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3204.0,104.0,19.0,1.0,"MULTIPOLYGON (((-170.92604 52.55864, -170.8654...",2020-01-21,2020-07-27,day
41,42,Michigan,9957488,26,2020-03-10,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",87329.0,579.0,6407.0,5.0,"POLYGON ((-89.95710 47.29110, -89.48338 48.013...",2020-01-21,2020-07-27,day
42,43,Arkansas,2990671,05,2020-03-11,2020-03-24,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",39447.0,824.0,408.0,7.0,"POLYGON ((-94.61792 36.49941, -90.15228 36.497...",2020-01-21,2020-07-27,day
43,44,Mississippi,2988762,28,2020-03-11,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",52957.0,653.0,1501.0,6.0,"POLYGON ((-90.30929 34.99569, -88.20003 34.995...",2020-01-21,2020-07-27,day
44,45,Missouri,6090062,29,2020-03-07,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",44813.0,1336.0,1245.0,14.0,"POLYGON ((-95.30829 40.00000, -95.41511 40.040...",2020-01-21,2020-07-27,day
45,46,Montana,1041732,30,2020-03-13,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3406.0,64.0,47.0,1.0,"POLYGON ((-116.04909 49.00085, -104.04869 48.9...",2020-01-21,2020-07-27,day
46,47,Kansas,2908776,20,2020-03-07,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",26439.0,790.0,338.0,3.0,"POLYGON ((-102.05174 40.00308, -95.30829 40.00...",2020-01-21,2020-07-27,day
47,48,Indiana,6637426,18,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",64417.0,536.0,2906.0,3.0,"POLYGON ((-87.20777 41.76096, -84.80589 41.760...",2020-01-21,2020-07-27,day
48,49,Puerto Rico,3386941,72,2020-03-13,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",15431.0,288.0,201.0,0.0,"MULTIPOLYGON (((-67.99869 18.17076, -67.94479 ...",2020-01-21,2020-07-27,day
49,50,South Dakota,864289,46,2020-03-10,2020-03-10,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",8444.0,49.0,123.0,0.0,"POLYGON ((-96.56367 45.93525, -96.58368 45.819...",2020-01-21,2020-07-27,day
50,51,Massachusetts,6830193,25,2020-02-01,2020-03-20,"0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",115926.0,289.0,8536.0,7.0,"POLYGON ((-71.79919 42.00805, -72.71456 42.036...",2020-01-21,2020-07-27,day
51,52,Virginia,8413774,51,2020-03-07,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",86072.0,1505.0,2082.0,4.0,"POLYGON ((-77.11976 38.93434, -77.03285 38.855...",2020-01-21,2020-07-27,day
52,53,District of Columbia,684498,11,2020-03-07,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",11858.0,78.0,582.0,1.0,"POLYGON ((-77.03901 38.79165, -77.03946 38.869...",2020-01-21,2020-07-27,day
53,54,Iowa,3132499,19,2020-03-08,2020-03-24,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",42696.0,339.0,836.0,7.0,"POLYGON ((-96.45326 43.50039, -91.21771 43.500...",2020-01-21,2020-07-27,day
54,55,Arizona,6946685,04,2020-01-26,2020-03-20,"0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",163918.0,1877.0,3320.0,7.0,"POLYGON ((-114.63349 35.00186, -114.60291 35.0...",2020-01-21,2020-07-27,day

In [75]:
final_df['change_ts'] = ""
for x in range(0, len(final_df)):
    newCaseList = [0]
    changeRateList = []
    caseStrList = final_df.loc[x,'cases_ts'].split(",")
    for i in range(1, len(caseStrList)):
        dailyNewCase = float(caseStrList[i]) - float(caseStrList[i-1])
        newCaseList.append(dailyNewCase)
    for i in range(0, len(newCaseList)):
        if i < 13:
            changeRate = 0
        else:
            currentWeekSum = 0
            previousWeekSum = 0
            for j in range(0,7):
                currentWeekSum = currentWeekSum + newCaseList[i-j]
            for k in range(7,14):
                previousWeekSum = previousWeekSum + newCaseList[i-k]
            if previousWeekSum == 0 and currentWeekSum == 0:
                changeRate = 0
            elif previousWeekSum == 0 and currentWeekSum != 0:
                changeRate = currentWeekSum
            else:
                changeRate = round(currentWeekSum/previousWeekSum-1,2)
        changeRateList.append(changeRate)
        changeRateStrList = list(map(str, changeRateList))
#     print(','.join(changeRateStrList))
    final_df.loc[x,'change_ts'] = ','.join(changeRateStrList)

final_df

,index,NAME,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,start,end,dt_unit,change_ts
0,0,West Virginia,1829054,54,2020-03-17,2020-03-29,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",6054.0,94.0,106.0,3.0,"POLYGON ((-80.51899 40.63880, -80.51934 39.721...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
1,1,Florida,20598139,12,2020-03-01,2020-03-06,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",432739.0,8892.0,5930.0,77.0,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
2,2,Illinois,12821497,17,2020-01-24,2020-03-17,"0,0,0,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",174442.0,1363.0,7619.0,24.0,"POLYGON ((-90.64284 42.50848, -87.01994 42.493...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,-1.0,-1...."
3,3,Minnesota,5527358,27,2020-03-06,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",51843.0,650.0,1616.0,2.0,"POLYGON ((-97.22872 49.00056, -95.15371 48.998...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
4,4,Maryland,6003435,24,2020-03-05,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",85436.0,1130.0,3447.0,7.0,"POLYGON ((-77.71952 39.32131, -77.76086 39.340...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
5,5,Rhode Island,1056611,44,2020-03-01,2020-03-28,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",18515.0,291.0,1004.0,2.0,"MULTIPOLYGON (((-71.67881 41.15891, -71.63497 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
6,6,Idaho,1687809,16,2020-03-13,2020-03-26,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",18836.0,574.0,159.0,9.0,"POLYGON ((-116.91607 45.99536, -116.98259 46.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
7,7,New Hampshire,1343622,33,2020-03-02,2020-03-23,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",6441.0,5.0,409.0,0.0,"POLYGON ((-71.50108 45.01335, -71.49804 45.070...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
8,8,North Carolina,10155624,37,2020-03-03,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",114689.0,1808.0,1815.0,8.0,"POLYGON ((-81.67749 36.58814, -80.12217 36.542...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
9,9,Vermont,624977,50,2020-03-07,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1402.0,2.0,56.0,0.0,"POLYGON ((-73.34312 45.01084, -71.46505 45.013...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
10,10,Connecticut,3581504,09,2020-03-08,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",48983.0,207.0,4418.0,5.0,"POLYGON ((-73.48732 42.04953, -72.81378 42.036...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
11,11,Delaware,949495,10,2020-03-11,2020-03-26,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",14406.0,116.0,579.0,0.0,"POLYGON ((-75.78860 39.72220, -75.61795 39.834...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
12,12,New Mexico,2092434,35,2020-03-11,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",19502.0,449.0,619.0,5.0,"POLYGON ((-103.00233 37.00015, -103.00229 36.5...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
13,13,California,39148760,06,2020-01-25,2020-03-04,"0,0,0,0,1,2,2,2,2,2,3,3,6,6,6,6,6,6,6,6,7,7,7,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",467103.0,7765.0,8544.0,93.0,"MULTIPOLYGON (((-119.63607 33.28071, -119.5992...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,0.0,..."
14,14,New Jersey,8881845,34,2020-03-04,2020-03-10,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",181732.0,449.0,15804.0,17.0,"MULTIPOLYGON (((-74.69491 41.35742, -73.89398 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
15,15,Wisconsin,5778394,55,2020-02-05,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",53323.0,638.0,905.0,4.0,"POLYGON ((-89.95710 47.29110, -90.41839 46.566...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,..."
16,16,Oregon,4081943,41,2020-02-28,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",17122.0,358.0,289.0,-2.0,"POLYGON ((-124.15955 46.26113, -124.03595 46.2...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
17,17,Nebraska,1904760,31,2020-02-17,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",24899.0,281.0,322.0,0.0,"POLYGON ((-104.05303 43.00059, -98.50036 42.99...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
18,18,Pennsylvania,12791181,42,2020-03-06,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",112995.0,1222.0,7174.0,4.0,"POLYGON ((-80.51985 42.32713, -80.08022 42.394...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
19,19,Washington,7294336,53,2020-01-21,2020-02-29,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",55548.0,1126.0,1611.0,15.0,"POLYGON ((-117.03235 48.99919, -117.03463 46.4...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
20,20,Louisiana,4663616,22,2020-03-09,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",110029.0,2343.0,3786.0,23.0,"POLYGON ((-91.16607 33.00411, -91.20705 32.914...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
21,21,Georgia,10297484,13,2020-03-02,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",155907.0,2431.0,3435.0,11.0,"POLYGON ((-85.60516 34.98468, -83.10247 34.996...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
22,22,Alabama,4864680,01,2020-03-13,2020-03-25,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",81115.0,1821.0,1491.0,18.0,"POLYGON ((-88.20006 34.99563, -88.20296 35.008...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
23,23,Utah,3045350,49,2020-02-25,2020-03-22,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",38439.0,466.0,285.0,7.0,"POLYGON ((-114.04148 41.99387, -111.04671 42.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
24,24,Ohio,11641879,39,2020-03-09,2020-03-20,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",85177.0,1104.0,3344.0,37.0,"POLYGON ((-84.80597 41.69612, -83.41585 41.733...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
25,25,Texas,27885195,48,2020-02-12,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",402295.0,6557.0,6292.0,1202.0,"POLYGON ((-103.00236 36.50055, -100.00041 36.4...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1...."
26,26,Colorado,5531141,08,2020-03-05,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",44723.0,359.0,1800.0,5.0,"POLYGON ((-109.05003 41.00069, -102.05172 41.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
27,27,South Carolina,4955925,45,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",82417.0,1218.0,1506.0,15.0,"POLYGON ((-83.10861 35.00066, -82.78484 35.085...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28,28,Oklahoma,3918137,40,2020-03-06,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",32529.0,1244.0,495.0,-1.0,"POLYGON ((-103.00236 36.50055, -103.00233 37.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
29,29,Tennessee,6651089,47,2020-03-05,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",93869.0,2539.0,965.0,10.0,"POLYGON ((-84.32182 34.98841, -88.20296 35.008...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
30,30,Wyoming,581836,56,2020-03-11,2020-04-13,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2520.0,45.0,25.0,0.0,"POLYGON ((-111.05243 44.47841, -111.05456 45.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
31,31,Hawaii,1422029,15,2020-03-06,2020-03-31,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1688.0,28.0,25.0,0.0,"MULTIPOLYGON (((-166.38653 23.84636, -166.3804...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32,32,North Dakota,752201,38,2020-03-11,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",5990.0,110.0,103.0,0.0,"POLYGON ((-104.04869 48.99959, -97.22872 49.00...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
33,33,Kentucky,4440204,21,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",28250.0,568.0,726.0,8.0,"MULTIPOLYGON (((-89.48543 36.49749, -89.53923 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
34,34,Virgin Islands,0,78,2020-03-14,2020-04-06,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",375.0,14.0,7.0,0.0,"MULTIPOLYGON (((-64.95671 17.67898, -64.93420 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
35,35,Commonwealth of the Northern Mariana Islands,0,69,2020-03-28,2020-04-01,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",40.0,0.0,2.0,0.0,"MULTIPOLYGON (((145.55884 16.37415, 145.62500 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
36,36,Guam,0,66,2020-03-15,2020-03-22,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",1315.0,9.0,6.0,0.0,"POLYGON ((144.56343 13.44806, 144.61115 13.510...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
37,37,Maine,1332813,23,2020-03-12,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3832.0,18.0,119.0,0.0,"POLYGON ((-71.08393 45.30548, -71.00849 45.319...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
38,38,New York,19618453,36,2020-03-01,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",417056.0,613.0,32322.0,17.0,"MULTIPOLYGON (((-74.04729 40.69050, -74.04485 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
39,39,Nevada,2922849,32,2020-03-05,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",43880.0,961.0,739.0,5.0,"POLYGON ((-117.02620 42.00019, -114.04148 41.9...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
40,40,Alaska,738516,02,2020-03-12,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3204.0,104.0,19.0,1.0,"MULTIPOLYGON (((-170.92604 52.55864, -170.8654...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
41,42,Michigan,9957488,26,2020-03-10,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",87329.0,579.0,6407.0,5.0,"POLYGON ((-89.95710 47.29110, -89.48338 48.013...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
42,43,Arkansas,2990671,05,2020-03-11,2020-03-24,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",39447.0,824.0,408.0,7.0,"POLYGON ((-94.61792 36.49941, -90.15228 36.497...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
43,44,Mississippi,2988762,28,2020-03-11,2020-03-19,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",52957.0,653.0,1501.0,6.0,"POLYGON ((-90.30929 34.99569, -88.20003 34.995...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
44,45,Missouri,6090062,29,2020-03-07,2020-03-18,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",44813.0,1336.0,1245.0,14.0,"POLYGON ((-95.30829 40.00000, -95.41511 40.040...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
45,46,Montana,1041732,30,2020-03-13,2020-03-27,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3406.0,64.0,47.0,1.0,"POLYGON ((-116.04909 49.00085, -104.04869 48.9...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
46,47,Kansas,2908776,20,2020-03-07,2020-03-12,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",26439.0,790.0,338.0,3.0,"POLYGON ((-102.05174 40.00308, -95.30829 40.00...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
47,48,Indiana,6637426,18,2020-03-06,2020-03-16,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",64417.0,536.0,2906.0,3.0,"POLYGON ((-87.20777 41.76096, -84.80589 41.760...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
48,49,Puerto Rico,3386941,72,2020-03-13,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",15431.0,288.0,201.0,0.0,"MULTIPOLYGON (((-67.99869 18.17076, -67.94479 ...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
49,50,South Dakota,864289,46,2020-03-10,2020-03-10,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",8444.0,49.0,123.0,0.0,"POLYGON ((-96.56367 45.93525, -96.58368 45.819...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
50,51,Massachusetts,6830193,25,2020-02-01,2020-03-20,"0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",115926.0,289.0,8536.0,7.0,"POLYGON ((-71.79919 42.00805, -72.71456 42.036...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,1.0,..."
51,52,Virginia,8413774,51,2020-03-07,2020-03-14,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",86072.0,1505.0,2082.0,4.0,"POLYGON ((-77.11976 38.93434, -77.03285 38.855...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
52,53,District of Columbia,684498,11,2020-03-07,2020-03-21,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",11858.0,78.0,582.0,1.0,"POLYGON ((-77.03901 38.79165, -77.03946 38.869...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
53,54,Iowa,3132499,19,2020-03-08,2020-03-24,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",42696.0,339.0,836.0,7.0,"POLYGON ((-96.45326 43.50039, -91.21771 43.500...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
54,55,Arizona,6946685,04,2020-01-26,2020-03-20,"0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",163918.0,1877.0,3320.0,7.0,"POLYGON ((-114.63349 35.00186, -114.60291 35.0...",2020-01-21,2020-07-27,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,-1.0,-1.0,-1.0,-1.0,..."

In [76]:
final_df.to_file(r"./nyt_states_data.geojson", driver='GeoJSON', encoding='utf-8')
print("done")

done

New Data Structure (Full version)

In [77]:
# pivot_states.columns = ['_'.join(col).strip() for col in pivot_states.columns.values]
# report_df_2 = pivot_states.reset_index()

In [78]:
# report_df_2.head(5)

In [79]:
# pivot_states.head(5)

In [80]:
# final_df_2 = pd.merge(old_states_geojson_df[["NAME", "population", "geometry"]], report_df_2, how='right', left_on=['NAME'], right_on = ['state'])
# final_df_2 = final_df_2.drop(['state'], axis = 1)
# final_df_2['dt_start'] = dt_start
# final_df_2['dt_end'] = dt_end
# final_df_2.head(5)

In [81]:
# final_df_2.to_file(r"./nyt_states_data_full.geojson", driver='GeoJSON', encoding='utf-8')
# print("done")