In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import geopandas as gpd

In [2]:
df_states_original = pd.read_csv("./us-states.csv", dtype={"date": np.string_,
                                                             "state": np.string_,
                                                             "fips": np.string_,
                                                            "cases": np.int32,
                                                            "deaths": np.int32})
df_states_original.sort_values("fips", ascending=True)
# #Replaces any nan to 0
# if df_states_original.isnull().values.any():
#     df_states_original.replace(np.nan, None)

            date           state fips  cases  deaths
1444  2020-03-29         Alabama   01    830       5
1554  2020-03-31         Alabama   01    999      13
2553  2020-04-18         Alabama   01   4723     147
2105  2020-04-10         Alabama   01   3008      80
1119  2020-03-23         Alabama   01    196       0
2161  2020-04-11         Alabama   01   3262      93
1499  2020-03-30         Alabama   01    947      11
2217  2020-04-12         Alabama   01   3583      93
2049  2020-04-09         Alabama   01   2838      78
1173  2020-03-24         Alabama   01    242       0
2273  2020-04-13         Alabama   01   3805     104
2329  2020-04-14         Alabama   01   3953     114
1389  2020-03-28         Alabama   01    720       4
1227  2020-03-25         Alabama   01    386       1
2497  2020-04-17         Alabama   01   4572     151
2385  2020-04-15         Alabama   01   4241     123
2833  2020-04-23         Alabama   01   5832     197
2665  2020-04-20         Alabama   01   5078     164
1065  2020-03-22         Alabama   01    157       0
2721  2020-04-21         Alabama   01   5327     186
586   2020-03-13         Alabama   01      6       0
1719  2020-04-03         Alabama   01   1535      38
849   2020-03-18         Alabama   01     51       0
2609  2020-04-19         Alabama   01   4903     160
1774  2020-04-04         Alabama   01   1633      44
795   2020-03-17         Alabama   01     39       0
1664  2020-04-02         Alabama   01   1270      32
1829  2020-04-05         Alabama   01   1841      45
957   2020-03-20         Alabama   01    106       0
742   2020-03-16         Alabama   01     29       0
...          ...             ...  ...    ...     ...
1005  2020-03-20  Virgin Islands   78      6       0
2323  2020-04-13  Virgin Islands   78     51       1
2491  2020-04-16  Virgin Islands   78     51       1
2379  2020-04-14  Virgin Islands   78     51       1
1548  2020-03-30  Virgin Islands   78     30       0
2043  2020-04-08  Virgin Islands   78     45       1
2099  2020-04-09  Virgin Islands   78     46       1
1603  2020-03-31  Virgin Islands   78     30       0
1493  2020-03-29  Virgin Islands   78     23       0
1658  2020-04-01  Virgin Islands   78     30       0
2659  2020-04-19  Virgin Islands   78     53       3
1713  2020-04-02  Virgin Islands   78     37       0
1438  2020-03-28  Virgin Islands   78     19       0
1768  2020-04-03  Virgin Islands   78     38       0
2603  2020-04-18  Virgin Islands   78     53       3
1383  2020-03-27  Virgin Islands   78     19       0
1823  2020-04-04  Virgin Islands   78     42       0
1329  2020-03-26  Virgin Islands   78     17       0
1275  2020-03-25  Virgin Islands   78     17       0
1221  2020-03-24  Virgin Islands   78     17       0
1878  2020-04-05  Virgin Islands   78     42       0
1167  2020-03-23  Virgin Islands   78     17       0
1933  2020-04-06  Virgin Islands   78     43       1
1988  2020-04-07  Virgin Islands   78     45       1
1113  2020-03-22  Virgin Islands   78     17       0
2827  2020-04-22  Virgin Islands   78     54       3
2715  2020-04-20  Virgin Islands   78     54       3
1059  2020-03-21  Virgin Islands   78      6       0
2547  2020-04-17  Virgin Islands   78     51       2
684   2020-03-14  Virgin Islands   78      1       0

[2889 rows x 5 columns]

In [3]:
pivot_states = pd.pivot_table(df_states_original , index=['state','fips'],
                       columns=['date'])
if pivot_states.isnull().values.any():
    pivot_states = pivot_states.replace(np.nan, 0)
pivot_states.head(5)

                         cases                                              \
date                2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state          fips
Alabama        01          0.0        0.0        0.0        0.0        0.0
Alaska         02          0.0        0.0        0.0        0.0        0.0
American Samoa 60          0.0        0.0        0.0        0.0        0.0
Arizona        04          0.0        0.0        0.0        0.0        0.0
Arkansas       05          0.0        0.0        0.0        0.0        0.0

                                                                            \
date                2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30
state          fips
Alabama        01          0.0        0.0        0.0        0.0        0.0
Alaska         02          0.0        0.0        0.0        0.0        0.0
American Samoa 60          0.0        0.0        0.0        0.0        0.0
Arizona        04          1.0        1.0        1.0        1.0        1.0
Arkansas       05          0.0        0.0        0.0        0.0        0.0

                     ...     deaths                                   \
date                 ... 2020-04-14 2020-04-15 2020-04-16 2020-04-17
state          fips  ...
Alabama        01    ...      114.0      123.0      137.0      151.0
Alaska         02    ...        7.0        7.0        7.0        7.0
American Samoa 60    ...        0.0        0.0        0.0        0.0
Arizona        04    ...      131.0      142.0      152.0      174.0
Arkansas       05    ...       32.0       34.0       37.0       37.0

                                                                            \
date                2020-04-18 2020-04-19 2020-04-20 2020-04-21 2020-04-22
state          fips
Alabama        01        147.0      160.0      164.0      186.0      201.0
Alaska         02          7.0        7.0        7.0        7.0        9.0
American Samoa 60          0.0        0.0        0.0        0.0        0.0
Arizona        04        181.0      188.0      191.0      213.0      236.0
Arkansas       05         38.0       39.0       42.0       43.0       44.0


date                2020-04-23
state          fips
Alabama        01        197.0
Alaska         02          9.0
American Samoa 60          0.0
Arizona        04        257.0
Arkansas       05         45.0

[5 rows x 188 columns]

Get Date Info

In [4]:
date= pivot_states['cases'].columns
date

Index(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
       '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
       '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
       '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10',
       '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
       '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30',
       '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
       '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14',
       '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23'],
      dtype='object', name='date')

In [5]:
date_str = np.sort(date)
dt_str_start=np.min(date_str)
dt_str_end=np.max(date_str)

In [6]:
dt_start = datetime.strptime(dt_str_start, "%Y-%m-%d")
dt_end = datetime.strptime(dt_str_end, "%Y-%m-%d")
dt_range = pd.date_range(start=dt_start,end=dt_end)
print(len(dt_range), dt_range)
dt_range_str = list(map(lambda x: x.strftime("%Y-%m-%d"), dt_range.tolist()))
print(len(dt_range_str), dt_range_str)

94 DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
               '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
               '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
               '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
               '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13',
               '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
               '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21',
               '2020-04-22', '2020-04-23'],
              dtype='datetime64[ns]', freq='D')
94 ['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23']

Add Cases Time Series, First Case Date, Death Time Series, First Death Date

In [7]:
# import json
# pivot_states['cases_ts'] = "'" + json.dumps({"values": pivot_states['cases'].values.tolist()[0]}) + "'"
# pivot_states['deaths_ts'] = "'" + json.dumps({"values": pivot_states['deaths'].values.tolist()[0]}) + "'"

pivot_states['cases_ts'] = pivot_states['cases'].values.tolist()
pivot_states['cases_ts'] = pivot_states['cases_ts'].apply(lambda x: ','.join(map(str, x)))
pivot_states['deaths_ts'] = pivot_states['deaths'].values.tolist()
pivot_states['deaths_ts'] = pivot_states['deaths_ts'].apply(lambda x: ','.join(map(str, x)))

In [8]:
yesterday = date.values[-2]
pivot_states['today_case'] = pivot_states['cases'][dt_str_end]
pivot_states['today_new_case'] = pivot_states['cases'][dt_str_end] - pivot_states['cases'][yesterday]
pivot_states['today_death'] = pivot_states['deaths'][dt_str_end]
pivot_states['today_new_death'] = pivot_states['deaths'][dt_str_end] - pivot_states['deaths'][yesterday]

In [9]:
pivot_states['dt_first_case'] = (pivot_states['cases'] > 0).idxmax(axis=1)
pivot_states['dt_first_death'] = (pivot_states['deaths'] > 0).idxmax(axis=1)
#For death reports, deal with no deaths counties
pivot_states.loc[pivot_states['deaths'].iloc[:, -1] <= 0, 'dt_first_death'] = np.nan
pivot_states.head(5)

                         cases                                              \
date                2020-01-21 2020-01-22 2020-01-23 2020-01-24 2020-01-25
state          fips
Alabama        01          0.0        0.0        0.0        0.0        0.0
Alaska         02          0.0        0.0        0.0        0.0        0.0
American Samoa 60          0.0        0.0        0.0        0.0        0.0
Arizona        04          0.0        0.0        0.0        0.0        0.0
Arkansas       05          0.0        0.0        0.0        0.0        0.0

                                                                            \
date                2020-01-26 2020-01-27 2020-01-28 2020-01-29 2020-01-30
state          fips
Alabama        01          0.0        0.0        0.0        0.0        0.0
Alaska         02          0.0        0.0        0.0        0.0        0.0
American Samoa 60          0.0        0.0        0.0        0.0        0.0
Arizona        04          1.0        1.0        1.0        1.0        1.0
Arkansas       05          0.0        0.0        0.0        0.0        0.0

                     ...     deaths             \
date                 ... 2020-04-22 2020-04-23
state          fips  ...
Alabama        01    ...      201.0      197.0
Alaska         02    ...        9.0        9.0
American Samoa 60    ...        0.0        0.0
Arizona        04    ...      236.0      257.0
Arkansas       05    ...       44.0       45.0

                                                              cases_ts  \
date
state          fips
Alabama        01    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
Alaska         02    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
American Samoa 60    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
Arizona        04    0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1....
Arkansas       05    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....

                                                             deaths_ts  \
date
state          fips
Alabama        01    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
Alaska         02    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
American Samoa 60    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
Arizona        04    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
Arkansas       05    0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....

                    today_case today_new_case today_death today_new_death  \
date
state          fips
Alabama        01       5832.0          222.0       197.0            -4.0
Alaska         02        337.0            2.0         9.0             0.0
American Samoa 60          0.0            0.0         0.0             0.0
Arizona        04       5769.0          310.0       257.0            21.0
Arkansas       05       2599.0          207.0        45.0             1.0

                    dt_first_case dt_first_death
date
state          fips
Alabama        01      2020-03-13     2020-03-25
Alaska         02      2020-03-12     2020-03-27
American Samoa 60      2020-01-21            NaN
Arizona        04      2020-01-26     2020-03-20
Arkansas       05      2020-03-11     2020-03-24

[5 rows x 196 columns]

In [10]:
pivot_states['today_case'].sum()

867706.0

Read County Boundary GeoJSON file

In [11]:
old_states_geojson_df = gpd.read_file(r"./states_update.geojson")
old_states_geojson_df.head(5)

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,...,d2020-03-19,d2020-03-20,d2020-03-21,d2020-03-22,d2020-03-23,d2020-03-24,d2020-03-25,d2020-03-26,population,geometry
0,3,5,54,01779805,54,WV,West Virginia,00,G4000,A,...,0,0,0,0,0,0,0,0,1829054,"POLYGON ((-80.51899 40.63880, -80.51934 39.721..."
1,3,5,12,00294478,12,FL,Florida,00,G4000,A,...,1,1,2,2,4,3,0,6,20598139,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ..."
2,2,3,17,01779784,17,IL,Illinois,00,G4000,A,...,3,1,1,1,5,4,3,7,12821497,"POLYGON ((-90.64284 42.50848, -87.01994 42.493..."
3,2,4,27,00662849,27,MN,Minnesota,00,G4000,A,...,0,0,1,0,0,0,0,1,5527358,"POLYGON ((-97.22872 49.00056, -95.15371 48.998..."
4,3,5,24,01714934,24,MD,Maryland,00,G4000,A,...,0,1,1,0,0,1,0,0,6003435,"POLYGON ((-77.71952 39.32131, -77.76086 39.340..."

In [12]:
old_states_geojson_df[['NAME','population','GEOID','geometry']]

,NAME,population,GEOID,geometry
0,West Virginia,1829054,54,"POLYGON ((-80.51899 40.63880, -80.51934 39.721..."
1,Florida,20598139,12,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ..."
2,Illinois,12821497,17,"POLYGON ((-90.64284 42.50848, -87.01994 42.493..."
3,Minnesota,5527358,27,"POLYGON ((-97.22872 49.00056, -95.15371 48.998..."
4,Maryland,6003435,24,"POLYGON ((-77.71952 39.32131, -77.76086 39.340..."
5,Rhode Island,1056611,44,"MULTIPOLYGON (((-71.67881 41.15891, -71.63497 ..."
6,Idaho,1687809,16,"POLYGON ((-116.91607 45.99536, -116.98259 46.0..."
7,New Hampshire,1343622,33,"POLYGON ((-71.50108 45.01335, -71.49804 45.070..."
8,North Carolina,10155624,37,"POLYGON ((-81.67749 36.58814, -80.12217 36.542..."
9,Vermont,624977,50,"POLYGON ((-73.34312 45.01084, -71.46505 45.013..."
10,Connecticut,3581504,09,"POLYGON ((-73.48732 42.04953, -72.81378 42.036..."
11,Delaware,949495,10,"POLYGON ((-75.78860 39.72220, -75.61795 39.834..."
12,New Mexico,2092434,35,"POLYGON ((-103.00233 37.00015, -103.00229 36.5..."
13,California,39148760,06,"MULTIPOLYGON (((-119.63607 33.28071, -119.5992..."
14,New Jersey,8881845,34,"MULTIPOLYGON (((-74.69491 41.35742, -73.89398 ..."
15,Wisconsin,5778394,55,"POLYGON ((-89.95710 47.29110, -90.41839 46.566..."
16,Oregon,4081943,41,"POLYGON ((-124.15955 46.26113, -124.03595 46.2..."
17,Nebraska,1904760,31,"POLYGON ((-104.05303 43.00059, -98.50036 42.99..."
18,Pennsylvania,12791181,42,"POLYGON ((-80.51985 42.32713, -80.08022 42.394..."
19,Washington,7294336,53,"POLYGON ((-117.03235 48.99919, -117.03463 46.4..."
20,Louisiana,4663616,22,"POLYGON ((-91.16607 33.00411, -91.20705 32.914..."
21,Georgia,10297484,13,"POLYGON ((-85.60516 34.98468, -83.10247 34.996..."
22,Alabama,4864680,01,"POLYGON ((-88.20006 34.99563, -88.20296 35.008..."
23,Utah,3045350,49,"POLYGON ((-114.04148 41.99387, -111.04671 42.0..."
24,Ohio,11641879,39,"POLYGON ((-84.80597 41.69612, -83.41585 41.733..."
25,Texas,27885195,48,"POLYGON ((-103.00236 36.50055, -100.00041 36.4..."
26,Colorado,5531141,08,"POLYGON ((-109.05003 41.00069, -102.05172 41.0..."
27,South Carolina,4955925,45,"POLYGON ((-83.10861 35.00066, -82.78484 35.085..."
28,Oklahoma,3918137,40,"POLYGON ((-103.00236 36.50055, -103.00233 37.0..."
29,Tennessee,6651089,47,"POLYGON ((-84.32182 34.98841, -88.20296 35.008..."
30,Wyoming,581836,56,"POLYGON ((-111.05243 44.47841, -111.05456 45.0..."
31,Hawaii,1422029,15,"MULTIPOLYGON (((-166.38653 23.84636, -166.3804..."
32,North Dakota,752201,38,"POLYGON ((-104.04869 48.99959, -97.22872 49.00..."
33,Kentucky,4440204,21,"MULTIPOLYGON (((-89.48543 36.49749, -89.53923 ..."
34,Virgin Islands,0,78,"MULTIPOLYGON (((-64.95671 17.67898, -64.93420 ..."
35,Commonwealth of the Northern Mariana Islands,0,69,"MULTIPOLYGON (((145.55884 16.37415, 145.62500 ..."
36,Guam,0,66,"POLYGON ((144.56343 13.44806, 144.61115 13.510..."
37,Maine,1332813,23,"POLYGON ((-71.08393 45.30548, -71.00849 45.319..."
38,New York,19618453,36,"MULTIPOLYGON (((-74.04729 40.69050, -74.04485 ..."
39,Nevada,2922849,32,"POLYGON ((-117.02620 42.00019, -114.04148 41.9..."
40,Alaska,738516,02,"MULTIPOLYGON (((-170.92604 52.55864, -170.8654..."
41,American Samoa,0,60,"MULTIPOLYGON (((-171.14118 -11.04661, -171.111..."
42,Michigan,9957488,26,"POLYGON ((-89.95710 47.29110, -89.48338 48.013..."
43,Arkansas,2990671,05,"POLYGON ((-94.61792 36.49941, -90.15228 36.497..."
44,Mississippi,2988762,28,"POLYGON ((-90.30929 34.99569, -88.20003 34.995..."
45,Missouri,6090062,29,"POLYGON ((-95.30829 40.00000, -95.41511 40.040..."
46,Montana,1041732,30,"POLYGON ((-116.04909 49.00085, -104.04869 48.9..."
47,Kansas,2908776,20,"POLYGON ((-102.05174 40.00308, -95.30829 40.00..."
48,Indiana,6637426,18,"POLYGON ((-87.20777 41.76096, -84.80589 41.760..."
49,Puerto Rico,3386941,72,"MULTIPOLYGON (((-67.99869 18.17076, -67.94479 ..."
50,South Dakota,864289,46,"POLYGON ((-96.56367 45.93525, -96.58368 45.819..."
51,Massachusetts,6830193,25,"POLYGON ((-71.79919 42.00805, -72.71456 42.036..."
52,Virginia,8413774,51,"POLYGON ((-77.11976 38.93434, -77.03285 38.855..."
53,District of Columbia,684498,11,"POLYGON ((-77.03901 38.79165, -77.03946 38.869..."
54,Iowa,3132499,19,"POLYGON ((-96.45326 43.50039, -91.21771 43.500..."
55,Arizona,6946685,04,"POLYGON ((-114.63349 35.00186, -114.60291 35.0..."

Old Data Structure

In [13]:
report_df = pivot_states[['cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']]
report_df = report_df.reset_index()
report_df.columns = ['state','fips','cases_ts','deaths_ts','dt_first_case','dt_first_death','today_case','today_new_case', 'today_death','today_new_death']
report_df.head(5)

,state,fips,cases_ts,deaths_ts,dt_first_case,dt_first_death,today_case,today_new_case,today_death,today_new_death
0,Alabama,01,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-13,2020-03-25,5832.0,222.0,197.0,-4.0
1,Alaska,02,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-12,2020-03-27,337.0,2.0,9.0,0.0
2,American Samoa,60,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-01-21,NaN,0.0,0.0,0.0,0.0
3,Arizona,04,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-01-26,2020-03-20,5769.0,310.0,257.0,21.0
4,Arkansas,05,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-11,2020-03-24,2599.0,207.0,45.0,1.0

In [14]:
report_df['state']

0                      Alabama
1                       Alaska
2               American Samoa
3                      Arizona
4                     Arkansas
5                   California
6                     Colorado
7                  Connecticut
8                     Delaware
9         District of Columbia
10                     Florida
11                     Georgia
12                        Guam
13                      Hawaii
14                       Idaho
15                    Illinois
16                     Indiana
17                        Iowa
18                      Kansas
19                    Kentucky
20                   Louisiana
21                       Maine
22                    Maryland
23               Massachusetts
24                    Michigan
25                   Minnesota
26                 Mississippi
27                    Missouri
28                     Montana
29                    Nebraska
30                      Nevada
31               New Hampshire
32                  New Jersey
33                  New Mexico
34                    New York
35              North Carolina
36                North Dakota
37    Northern Mariana Islands
38                        Ohio
39                    Oklahoma
40                      Oregon
41                Pennsylvania
42                 Puerto Rico
43                Rhode Island
44              South Carolina
45                South Dakota
46                   Tennessee
47                       Texas
48                        Utah
49                     Vermont
50              Virgin Islands
51                    Virginia
52                  Washington
53               West Virginia
54                   Wisconsin
55                     Wyoming
Name: state, dtype: object

In [15]:
report_df['today_case'].sum()
#truth value: 528405

867706.0

In [16]:
#Stay consistency with geojson states
report_df = report_df.replace('Northern Mariana Islands','Commonwealth of the Northern Mariana Islands')

In [17]:
final_df = pd.merge(old_states_geojson_df[["NAME", "population", "geometry"]], report_df, how='left', left_on=['NAME'], right_on = ['state'])
final_df.columns

Index(['NAME', 'population', 'geometry', 'state', 'fips', 'cases_ts',
       'deaths_ts', 'dt_first_case', 'dt_first_death', 'today_case',
       'today_new_case', 'today_death', 'today_new_death'],
      dtype='object')

In [18]:
final_df['NAME']

0                                    West Virginia
1                                          Florida
2                                         Illinois
3                                        Minnesota
4                                         Maryland
5                                     Rhode Island
6                                            Idaho
7                                    New Hampshire
8                                   North Carolina
9                                          Vermont
10                                     Connecticut
11                                        Delaware
12                                      New Mexico
13                                      California
14                                      New Jersey
15                                       Wisconsin
16                                          Oregon
17                                        Nebraska
18                                    Pennsylvania
19                                      Washington
20                                       Louisiana
21                                         Georgia
22                                         Alabama
23                                            Utah
24                                            Ohio
25                                           Texas
26                                        Colorado
27                                  South Carolina
28                                        Oklahoma
29                                       Tennessee
30                                         Wyoming
31                                          Hawaii
32                                    North Dakota
33                                        Kentucky
34                                  Virgin Islands
35    Commonwealth of the Northern Mariana Islands
36                                            Guam
37                                           Maine
38                                        New York
39                                          Nevada
40                                          Alaska
41                                  American Samoa
42                                        Michigan
43                                        Arkansas
44                                     Mississippi
45                                        Missouri
46                                         Montana
47                                          Kansas
48                                         Indiana
49                                     Puerto Rico
50                                    South Dakota
51                                   Massachusetts
52                                        Virginia
53                            District of Columbia
54                                            Iowa
55                                         Arizona
Name: NAME, dtype: object

In [19]:
final_df=final_df[["NAME", "population", "fips", "dt_first_case", "dt_first_death", "cases_ts", "deaths_ts", 'today_case','today_new_case', 'today_death','today_new_death', "geometry"]]
final_df['dt_start'] = dt_str_start
final_df['dt_end'] = dt_str_end
final_df['dt_unit'] = "day"
final_df.head(5)

,NAME,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,geometry,dt_start,dt_end,dt_unit
0,West Virginia,1829054,54,2020-03-17,2020-03-29,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",981.0,42.0,31.0,2.0,"POLYGON ((-80.51899 40.63880, -80.51934 39.721...",2020-01-21,2020-04-23,day
1,Florida,20598139,12,2020-03-01,2020-03-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",29640.0,1339.0,986.0,60.0,"MULTIPOLYGON (((-82.98748 24.62538, -82.89993 ...",2020-01-21,2020-04-23,day
2,Illinois,12821497,17,2020-01-24,2020-03-17,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",36935.0,1827.0,1696.0,119.0,"POLYGON ((-90.64284 42.50848, -87.01994 42.493...",2020-01-21,2020-04-23,day
3,Minnesota,5527358,27,2020-03-06,2020-03-21,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2942.0,221.0,200.0,21.0,"POLYGON ((-97.22872 49.00056, -95.15371 48.998...",2020-01-21,2020-04-23,day
4,Maryland,6003435,24,2020-03-05,2020-03-18,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",15737.0,962.0,680.0,48.0,"POLYGON ((-77.71952 39.32131, -77.76086 39.340...",2020-01-21,2020-04-23,day

In [20]:
final_df['today_case'].sum()
# result: 528405, same as truth

867706.0

In [21]:
final_df.to_file(r"./nyt_states_data.geojson", driver='GeoJSON', encoding='utf-8')
print("done")

done

New Data Structure (Full version)

In [22]:
# pivot_states.columns = ['_'.join(col).strip() for col in pivot_states.columns.values]
# report_df_2 = pivot_states.reset_index()

In [23]:
# report_df_2.head(5)

In [24]:
# pivot_states.head(5)

In [25]:
# final_df_2 = pd.merge(old_states_geojson_df[["NAME", "population", "geometry"]], report_df_2, how='right', left_on=['NAME'], right_on = ['state'])
# final_df_2 = final_df_2.drop(['state'], axis = 1)
# final_df_2['dt_start'] = dt_start
# final_df_2['dt_end'] = dt_end
# final_df_2.head(5)

In [26]:
# final_df_2.to_file(r"./nyt_states_data_full.geojson", driver='GeoJSON', encoding='utf-8')
# print("done")