In [25]:
import geopandas as gpd

In [26]:
geojson_df = gpd.read_file("World_Countries_Boundaries/World_Countries_Boundaries.shp")
geojson_df

,OBJECTID,CNTRY_NAME,geometry
0,1,Aruba,"POLYGON ((-69.88223 12.41111, -69.94695 12.436..."
1,2,Antigua and Barbuda,"MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ..."
2,3,Afghanistan,"POLYGON ((61.27656 35.60725, 61.29638 35.62853..."
3,4,Algeria,"POLYGON ((-5.15213 30.18047, -5.13917 30.19236..."
4,5,Azerbaijan,"MULTIPOLYGON (((45.02583 41.03055, 45.00999 41..."
...,...,...,...
246,247,Western Samoa,"MULTIPOLYGON (((-172.59650 -13.50911, -172.551..."
247,248,Swaziland,"POLYGON ((30.89944 -26.77195, 30.88028 -26.793..."
248,249,Yemen,"MULTIPOLYGON (((48.68639 14.03750, 48.61000 14..."
249,250,Zambia,"POLYGON ((30.21302 -14.98172, 30.21917 -15.096..."
250,251,Zimbabwe,"POLYGON ((32.48888 -21.34445, 32.46541 -21.325..."

In [27]:
geom_simp_series = geojson_df["geometry"].simplify(0.01)

In [28]:
geom_simp_df = geom_simp_series.to_frame(name="geometry")
geom_simp_df

                                              geometry
0    POLYGON ((-69.88223 12.41111, -69.94695 12.436...
1    MULTIPOLYGON (((-61.73889 17.54055, -61.81556 ...
2    POLYGON ((61.27656 35.60725, 61.29638 35.62853...
3    POLYGON ((-5.15213 30.18047, -5.08097 30.26236...
4    MULTIPOLYGON (((45.02583 41.03055, 44.98416 41...
..                                                 ...
246  MULTIPOLYGON (((-172.59650 -13.50911, -172.360...
247  POLYGON ((30.89944 -26.77195, 30.88028 -26.793...
248  MULTIPOLYGON (((48.68639 14.03750, 48.55388 14...
249  POLYGON ((30.21302 -14.98172, 30.21917 -15.096...
250  POLYGON ((32.48888 -21.34445, 32.41611 -21.307...

[251 rows x 1 columns]

In [29]:
geojson_df_simp = geojson_df.assign(geometry=geom_simp_df['geometry'])
geojson_df_simp

,OBJECTID,CNTRY_NAME,geometry
0,1,Aruba,"POLYGON ((-69.88223 12.41111, -69.94695 12.436..."
1,2,Antigua and Barbuda,"MULTIPOLYGON (((-61.73889 17.54055, -61.81556 ..."
2,3,Afghanistan,"POLYGON ((61.27656 35.60725, 61.29638 35.62853..."
3,4,Algeria,"POLYGON ((-5.15213 30.18047, -5.08097 30.26236..."
4,5,Azerbaijan,"MULTIPOLYGON (((45.02583 41.03055, 44.98416 41..."
...,...,...,...
246,247,Western Samoa,"MULTIPOLYGON (((-172.59650 -13.50911, -172.360..."
247,248,Swaziland,"POLYGON ((30.89944 -26.77195, 30.88028 -26.793..."
248,249,Yemen,"MULTIPOLYGON (((48.68639 14.03750, 48.55388 14..."
249,250,Zambia,"POLYGON ((30.21302 -14.98172, 30.21917 -15.096..."
250,251,Zimbabwe,"POLYGON ((32.48888 -21.34445, 32.41611 -21.307..."

In [30]:
geojson_df_simp.to_file("World_Countries_Boundaries.geojson", driver='GeoJSON')