In [11]:
import os
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from matplotlib.colors import ListedColormap

In [12]:
fileList = ["Chicago_Acc_2020-05-19", "Chicago_ACC_2020-05-20", "Chicago_ACC_2020-05-21",
           "Illinois_Acc_2020-05-19", "Illinois_ACC_2020-05-20", "Illinois_ACC_2020-05-21"]

def classify(a):
    if a >= 0 and a <= 0.2:
        return 0
    elif a > 0.2 and a <= 0.4:
        return 1
    elif a > 0.4 and a <= 0.6:
        return 2
    elif a > 0.6 and a <= 0.8:
        return 3
    else:
        return 4

for i in range(0, len(fileList)):
    chicagoACC = gpd.read_file("Chicago_Accessibility_Dissolve_Animation/"+fileList[i]+".shp")
    chicagoACC = chicagoACC.rename(columns={"normal_cov": "normal_val"})
    chicagoACC['category'] = chicagoACC.apply(lambda x: classify(x.normal_val), axis = 1)
    chicagoACC_dissolve = chicagoACC.dissolve(by='category', aggfunc = 'mean')
    # chicagoACC_dissolve = chicagoACC_dissolve.drop(columns=['id'])
    chicagoACC_dissolve["category"] = range(0, len(chicagoACC_dissolve))
    chicagoACC_dissolve = chicagoACC_dissolve.to_crs({'init': 'epsg:4326'})
    chicagoACC_dissolve.to_file(fileList[i]+"_dissolve.geojson", driver="GeoJSON")

print("done")

done

In [13]:
chicagoACC_dissolve

,geometry,id,normal_val,category
category,,,,
0,"POLYGON ((-89.87837 37.87735, -89.89388 37.854...",6172.138379,0.013964,0
1,"MULTIPOLYGON (((-88.87226 38.95647, -88.88831 ...",4962.344262,0.228761,1
2,"POLYGON ((-88.32566 39.12165, -88.34192 39.098...",7699.268293,0.524235,2
3,"MULTIPOLYGON (((-88.69178 39.07186, -88.67564 ...",4379.277778,0.705049,3
4,"POLYGON ((-90.35337 39.28362, -90.33560 39.261...",3113.833333,0.998657,4

In [14]:
# fig, ax = plt.subplots(figsize = (12,8))
# chicagoACC_dissolve.plot(column = 'category', edgecolor = "black", cmap='YlOrRd', ax=ax, legend = True)