In [23]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from matplotlib.colors import ListedColormap

In [24]:
chicagoACC0 = gpd.read_file("Chicago_Acc_2020-05-19_dissolve.geojson")
chicagoACC1 = gpd.read_file("Chicago_ACC_2020-05-20_dissolve.geojson")
chicagoACC2 = gpd.read_file("Chicago_ACC_2020-05-21_dissolve.geojson")

illinoisACC0 = gpd.read_file("Illinois_Acc_2020-05-19_dissolve.geojson")
illinoisACC1 = gpd.read_file("Illinois_ACC_2020-05-20_dissolve.geojson")
illinoisACC2 = gpd.read_file("Illinois_ACC_2020-05-21_dissolve.geojson")

In [25]:
chicagoACC0["date"] = "2020-05-19"
chicagoACC1["date"] = "2020-05-20"
chicagoACC2["date"] = "2020-05-21"

illinoisACC0["date"] = "2020-05-19"
illinoisACC1["date"] = "2020-05-20"
illinoisACC2["date"] = "2020-05-21"

In [26]:
chicagoACC = pd.concat( [chicagoACC0, chicagoACC1, chicagoACC2], axis=0 )
illinoisACC = pd.concat( [illinoisACC0, illinoisACC1, illinoisACC2], axis=0 )

In [27]:
chicagoACC = chicagoACC.reset_index()
illinoisACC = illinoisACC.reset_index()

In [28]:
chicagoACC["dt_start"]="2020-05-19"
chicagoACC["dt_end"]="2020-05-21"
chicagoACC["dt_unit"]="day"
chicagoACC["cases_ts"]="0,0,0"

illinoisACC["dt_start"]="2020-05-19"
illinoisACC["dt_end"]="2020-05-21"
illinoisACC["dt_unit"]="day"
illinoisACC["cases_ts"]="0,0,0"

In [29]:
chicagoACC

,index,normal_val,category,geometry,date,id,dt_start,dt_end,dt_unit,cases_ts
0,0,0.071656,0,"MULTIPOLYGON (((-87.74199 41.68227, -87.74028 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
1,1,0.300629,1,"MULTIPOLYGON (((-87.60877 41.89921, -87.60705 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
2,2,0.499803,2,"MULTIPOLYGON (((-87.60838 41.85869, -87.60667 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
3,3,0.705745,3,"MULTIPOLYGON (((-87.61934 41.91267, -87.61762 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
4,4,0.896388,4,"MULTIPOLYGON (((-87.63228 41.81352, -87.63400 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
5,0,0.008690,0,"MULTIPOLYGON (((-87.66365 41.65347, -87.66194 ...",2020-05-20,2631.514066,2020-05-19,2020-05-21,day,"0,0,0"
6,1,0.327946,1,"MULTIPOLYGON (((-87.66897 41.66470, -87.66726 ...",2020-05-20,5779.530337,2020-05-19,2020-05-21,day,"0,0,0"
7,2,0.510096,2,"MULTIPOLYGON (((-87.59774 41.83622, -87.59602 ...",2020-05-20,5211.413420,2020-05-19,2020-05-21,day,"0,0,0"
8,3,0.712988,3,"MULTIPOLYGON (((-87.77023 41.86897, -87.76852 ...",2020-05-20,4106.805529,2020-05-19,2020-05-21,day,"0,0,0"
9,4,0.888953,4,"POLYGON ((-87.63739 41.80224, -87.63910 41.799...",2020-05-20,4510.654506,2020-05-19,2020-05-21,day,"0,0,0"
10,0,0.008691,0,"MULTIPOLYGON (((-87.66365 41.65347, -87.66194 ...",2020-05-21,2631.514066,2020-05-19,2020-05-21,day,"0,0,0"
11,1,0.328056,1,"MULTIPOLYGON (((-87.66897 41.66470, -87.66726 ...",2020-05-21,5779.530337,2020-05-19,2020-05-21,day,"0,0,0"
12,2,0.510196,2,"MULTIPOLYGON (((-87.59774 41.83622, -87.59602 ...",2020-05-21,5211.413420,2020-05-19,2020-05-21,day,"0,0,0"
13,3,0.713406,3,"MULTIPOLYGON (((-87.77023 41.86897, -87.76852 ...",2020-05-21,4107.617647,2020-05-19,2020-05-21,day,"0,0,0"
14,4,0.889424,4,"POLYGON ((-87.63739 41.80224, -87.63910 41.799...",2020-05-21,4511.909385,2020-05-19,2020-05-21,day,"0,0,0"

In [30]:
illinoisACC

,index,normal_val,category,geometry,date,id,dt_start,dt_end,dt_unit,cases_ts
0,0,0.009398,0,"POLYGON ((-89.87837 37.87735, -89.89388 37.854...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
1,1,0.312396,1,"MULTIPOLYGON (((-89.56922 39.79906, -89.55154 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
2,2,0.494505,2,"MULTIPOLYGON (((-89.63056 40.51832, -89.59652 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
3,3,0.703131,3,"MULTIPOLYGON (((-89.55144 40.67773, -89.53523 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
4,4,0.865574,4,"MULTIPOLYGON (((-89.54631 40.54273, -89.52843 ...",2020-05-19,NaN,2020-05-19,2020-05-21,day,"0,0,0"
5,0,0.014089,0,"POLYGON ((-89.87837 37.87735, -89.89388 37.854...",2020-05-20,6172.138379,2020-05-19,2020-05-21,day,"0,0,0"
6,1,0.228763,1,"MULTIPOLYGON (((-88.87226 38.95647, -88.88831 ...",2020-05-20,4962.344262,2020-05-19,2020-05-21,day,"0,0,0"
7,2,0.524235,2,"POLYGON ((-88.32566 39.12165, -88.34192 39.098...",2020-05-20,7699.268293,2020-05-19,2020-05-21,day,"0,0,0"
8,3,0.705049,3,"MULTIPOLYGON (((-88.69178 39.07186, -88.67564 ...",2020-05-20,4379.277778,2020-05-19,2020-05-21,day,"0,0,0"
9,4,0.998657,4,"POLYGON ((-90.35337 39.28362, -90.33560 39.261...",2020-05-20,3113.833333,2020-05-19,2020-05-21,day,"0,0,0"
10,0,0.013964,0,"POLYGON ((-89.87837 37.87735, -89.89388 37.854...",2020-05-21,6172.138379,2020-05-19,2020-05-21,day,"0,0,0"
11,1,0.228761,1,"MULTIPOLYGON (((-88.87226 38.95647, -88.88831 ...",2020-05-21,4962.344262,2020-05-19,2020-05-21,day,"0,0,0"
12,2,0.524235,2,"POLYGON ((-88.32566 39.12165, -88.34192 39.098...",2020-05-21,7699.268293,2020-05-19,2020-05-21,day,"0,0,0"
13,3,0.705049,3,"MULTIPOLYGON (((-88.69178 39.07186, -88.67564 ...",2020-05-21,4379.277778,2020-05-19,2020-05-21,day,"0,0,0"
14,4,0.998657,4,"POLYGON ((-90.35337 39.28362, -90.33560 39.261...",2020-05-21,3113.833333,2020-05-19,2020-05-21,day,"0,0,0"

In [31]:
chicagoACC = chicagoACC.to_crs({'init': 'epsg:4326'})
illinoisACC = illinoisACC.to_crs({'init': 'epsg:4326'})

In [32]:
chicagoACC.to_file("Chicago_ACC_dissolve_animation.geojson", driver="GeoJSON")
illinoisACC.to_file("Illinois_ACC_dissolve_animation.geojson", driver="GeoJSON")