URL preparation

In [1]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

# Data URL
county_data_url = "http://www.dph.illinois.gov/sitefiles/CountyDemos.json?nocache=1"
zipcode_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDZip.json?nocache=1"
history_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDHistoricalTestResults.json?nocache=1"

In [2]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen

Download data

In [3]:
with urlopen(zipcode_data_url) as response:
    zipcode_dict = json.load(response)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [4]:
with urlopen(county_data_url) as response:
    county_dict = json.load(response)
    county_data = pd.DataFrame(county_dict['county_demographics'])

In [5]:
with urlopen(history_data_url) as response:
    history_dict = json.load(response)

In [6]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [7]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [8]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [9]:
county_gpd = county_geometry[['id','geometry']]

Zipcode Data generation

In [10]:
zipcode_data

,confirmed_cases,demographics,total_tested,zip
0,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",96,53142
1,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",407,60002
2,161,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1628,60004
3,85,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",492,60005
4,117,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",587,60007
5,144,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",446,60008
6,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",466,60010
7,56,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",162,60012
8,49,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",268,60013
9,88,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",654,60014
10,113,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",616,60015
11,663,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1923,60016
12,271,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",880,60018
13,19,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",170,60020
14,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",74,60021
15,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",194,60022
16,216,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1098,60025
17,89,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",382,60026
18,84,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",571,60030
19,167,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",752,60031
20,65,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",243,60033
21,162,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",853,60035
22,49,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",138,60040
23,24,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",139,60041
24,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",96,60042
25,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",90,60043
26,58,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",279,60044
27,93,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",481,60045
28,97,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",549,60046
29,95,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",457,60047
...,...,...,...,...
430,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",93,62471
431,77,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",516,62521
432,21,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",99,62522
433,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",222,62526
434,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",51,62565
435,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",201,62568
436,45,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",372,62618
437,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",230,62629
438,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",343,62650
439,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",338,62656
440,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",59,62664
441,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",245,62684
442,43,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",770,62702
443,39,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",577,62703
444,31,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",721,62704
445,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",144,62707
446,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",267,62711
447,46,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",457,62801
448,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",185,62832
449,74,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",494,62864
450,87,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",460,62901
451,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",65,62902
452,26,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",162,62906
453,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",37,62907
454,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",132,62918
455,17,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",74,62920
456,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",191,62948
457,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",432,62959
458,36,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",289,62966
459,19,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",49,62992

In [11]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [12]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [13]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [14]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

Static County Data Generation

In [15]:
county_static = pd.merge(county_gpd, county_data, how="left", left_on="id",right_on="County")

In [16]:
county_static

,id,geometry,County,confirmed_cases,demographics,total_tested
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,814,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4576
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,155,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",628
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,137,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1315
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,3333,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",17234
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,84,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1424
5,Bureau,"POLYGON ((-89.63155 41.58491, -89.64769 41.584...",Bureau,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",331
6,Henry,"POLYGON ((-89.86249 41.58401, -89.87517 41.584...",Henry,54,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",638
7,Grundy,"POLYGON ((-88.25217 41.46277, -88.27149 41.462...",Grundy,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",733
8,Mercer,"POLYGON ((-90.43382 41.32698, -90.45335 41.326...",Mercer,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",163
9,Putnam,"POLYGON ((-89.16353 41.30991, -89.16500 41.309...",Putnam,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",48
10,McLean,"POLYGON ((-88.92943 40.75330, -88.94863 40.752...",McLean,108,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3052
11,Tazewell,"POLYGON ((-89.26933 40.59450, -89.26948 40.601...",Tazewell,56,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1910
12,Fulton,"POLYGON ((-89.98606 40.71225, -90.00002 40.712...",Fulton,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",202
13,Adams,"POLYGON ((-91.50535 40.20029, -91.50436 40.198...",Adams,40,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1406
14,Champaign,"POLYGON ((-88.46003 40.39850, -88.46009 40.383...",Champaign,212,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4161
15,Logan,"POLYGON ((-89.60299 40.32011, -89.60273 40.305...",Logan,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",481
16,Piatt,"POLYGON ((-88.57476 40.28158, -88.58665 40.267...",Piatt,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",242
17,Stark,"POLYGON ((-89.85770 41.23450, -89.86772 41.234...",Stark,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",43
18,Knox,"POLYGON ((-89.98529 41.14944, -90.00422 41.149...",Knox,61,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",714
19,Marshall,"POLYGON ((-89.63903 41.14845, -89.63905 41.133...",Marshall,4,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",88
20,Livingston,"POLYGON ((-88.25174 41.11422, -88.26009 41.114...",Livingston,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",463
21,Henderson,"POLYGON ((-90.78527 41.06922, -90.80435 41.070...",Henderson,5,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",75
22,Warren,"POLYGON ((-90.43990 41.06383, -90.45876 41.063...",Warren,88,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",285
23,Iroquois,"POLYGON ((-87.52616 41.01035, -87.54231 41.010...",Iroquois,62,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",415
24,Peoria,"POLYGON ((-89.98593 40.97465, -89.98599 40.961...",Peoria,126,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2651
25,Woodford,"POLYGON ((-89.04765 40.92567, -89.06702 40.925...",Woodford,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",388
26,Carroll,"POLYGON ((-89.91979 42.19678, -89.93903 42.196...",Carroll,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",90
27,Kane,"POLYGON ((-88.58859 42.15366, -88.58852 42.139...",Kane,2332,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",9542
28,DeKalb,"POLYGON ((-88.70559 42.15355, -88.72510 42.153...",DeKalb,141,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1232
29,Cook,"POLYGON ((-88.23858 42.15425, -88.23865 42.139...",Cook,19316,"{'age': [{'age_group': 'Unknown', 'count': 25,...",89317
...,...,...,...,...,...,...
73,Hardin,"POLYGON ((-88.37538 37.59960, -88.39355 37.599...",Hardin,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",22
74,Massac,"POLYGON ((-88.92877 37.30294, -88.92877 37.302...",Massac,4,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",92
75,McDonough,"POLYGON ((-90.78961 40.63568, -90.78967 40.635...",McDonough,42,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",361
76,Vermilion,"POLYGON ((-87.93508 40.48596, -87.93473 40.471...",Vermilion,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",860
77,Macon,"POLYGON ((-89.14466 40.04885, -89.14459 40.034...",Macon,129,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1217
78,Sangamon,"POLYGON ((-89.21798 39.91706, -89.23638 39.916...",Sangamon,231,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4318
79,Edgar,"POLYGON ((-87.93761 39.87996, -87.93729 39.865...",Edgar,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",120
80,Morgan,"POLYGON ((-89.99438 39.87291, -90.01303 39.872...",Morgan,26,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",467
81,Christian,"POLYGON ((-89.21767 39.81320, -89.21788 39.813...",Christian,28,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",411
82,Moultrie,"POLYGON ((-88.74551 39.79203, -88.75854 39.792...",Moultrie,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",80
83,Scott,"POLYGON ((-90.58103 39.52172, -90.56211 39.521...",Scott,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",60
84,Coles,"POLYGON ((-88.47247 39.65162, -88.47201 39.637...",Coles,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",415
85,Shelby,"POLYGON ((-89.02552 39.65448, -89.02541 39.640...",Shelby,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",121
86,Montgomery,"POLYGON ((-89.70178 39.52331, -89.70144 39.508...",Montgomery,33,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",592
87,Macoupin,"POLYGON ((-89.92568 39.52239, -89.94431 39.522...",Macoupin,39,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",708
88,Clark,"POLYGON ((-87.96033 39.48136, -87.97896 39.481...",Clark,5,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",103
89,Crawford,"POLYGON ((-87.95037 39.17505, -87.95003 39.158...",Crawford,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",186
90,Jasper,"POLYGON ((-88.00774 39.17389, -88.02264 39.173...",Jasper,46,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",239
91,Bond,"POLYGON ((-89.25027 39.02822, -89.26896 39.028...",Bond,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",144
92,Madison,"POLYGON ((-89.63924 38.99914, -89.64215 38.999...",Madison,374,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2278
93,Fayette,"POLYGON ((-89.13957 39.21785, -89.15807 39.217...",Fayette,16,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",175
94,St. Clair,"POLYGON ((-89.70703 38.65503, -89.72531 38.655...",St. Clair,601,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3068
95,Wayne,"POLYGON ((-88.69830 38.60606, -88.69830 38.605...",Wayne,2,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",173
96,Monroe,"POLYGON ((-89.89905 38.22077, -89.89905 38.220...",Monroe,74,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",284
97,Jefferson,"POLYGON ((-89.14445 38.47387, -89.14462 38.460...",Jefferson,86,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",692
98,Lawrence,"POLYGON ((-87.90806 38.85013, -87.90819 38.835...",Lawrence,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",158
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,38,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",702
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",348
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",24
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,27440,"{'age': [{'age_group': 'Unknown', 'count': 20,...",112588

In [17]:
county_static.to_file('dph_county_static_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [18]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [19]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [ ]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [187]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])

In [188]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']

In [189]:
county_cases = county_cases.rename(columns=standardDate)

In [190]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']

In [194]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-04-07,2020-04-08,2020-04-09,2020-05-01,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,9.0,11.0,22.0,40.0,40.0,40.0,40.0,40.0,40.0,1.0

In [192]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [196]:
# reorder date
county_cases = county_cases[date]

In [197]:
# get case time series
cases_ts = county_cases.values.tolist()

In [198]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan

In [199]:
county_cases['cases_ts'] = cases_ts

In [200]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]

In [201]:
# Reformat
county_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]
county_report = county_report.reset_index()
county_report.columns = ['County','cases_ts','dt_first_case','today_case','today_new_case']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))

In [202]:
np.setdiff1d(county_report['County'],county_gpd['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Illinois', 'Out Of State', 'Suburban Cook'], dtype=object)

In [203]:
county_report = county_report[(county_report['County'] != 'Illinois') & (county_report['County'] != 'Out of State') & (county_report['County'] != 'Suburban Cook')]

In [204]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [205]:
county_report

,County,cases_ts,dt_first_case,today_case,today_new_case,dt_start,dt_end,dt_unit
0,Adams,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,40.0,0.0,2020-03-17,2020-05-06,day
1,Alexander,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,6.0,2.0,2020-03-17,2020-05-06,day
2,Bond,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,8.0,1.0,2020-03-17,2020-05-06,day
3,Boone,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,155.0,9.0,2020-03-17,2020-05-06,day
4,Brown,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,6.0,4.0,2020-03-17,2020-05-06,day
5,Bureau,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1....",2020-03-27,12.0,0.0,2020-03-17,2020-05-06,day
6,Calhoun,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,1.0,0.0,2020-03-17,2020-05-06,day
7,Carroll,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,10.0,0.0,2020-03-17,2020-05-06,day
8,Cass,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-20,48.0,6.0,2020-03-17,2020-05-06,day
9,Champaign,"1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,4.0,8.0,10.0,1...",2020-03-17,212.0,0.0,2020-03-17,2020-05-06,day
10,Chicago,"0.0,0.0,0.0,0.0,0.0,519.0,519.0,782.0,915.0,11...",2020-03-22,27440.0,834.0,2020-03-17,2020-05-06,day
11,Christian,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,28.0,0.0,2020-03-17,2020-05-06,day
12,Clark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,5.0,0.0,2020-03-17,2020-05-06,day
13,Clay,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-14,2.0,0.0,2020-03-17,2020-05-06,day
14,Clinton,"2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,5.0,5.0,5....",2020-03-17,116.0,1.0,2020-03-17,2020-05-06,day
15,Coles,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,22.0,0.0,2020-03-17,2020-05-06,day
16,Cook,"107.0,178.0,278.0,411.0,548.0,286.0,286.0,412....",2020-03-17,19249.0,632.0,2020-03-17,2020-05-06,day
17,Crawford,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,10.0,2.0,2020-03-17,2020-05-06,day
18,Cumberland,"1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-17,4.0,0.0,2020-03-17,2020-05-06,day
19,De Witt,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,3.0,0.0,2020-03-17,2020-05-06,day
20,DeKalb,"0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,4.0,4....",2020-03-21,141.0,9.0,2020-03-17,2020-05-06,day
21,Douglas,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1....",2020-03-25,20.0,0.0,2020-03-17,2020-05-06,day
22,DuPage,"26.0,45.0,54.0,57.0,65.0,79.0,79.0,103.0,131.0...",2020-03-17,4056.0,138.0,2020-03-17,2020-05-06,day
23,Edgar,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-06,day
24,Edwards,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-06,day
25,Effingham,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,5.0,0.0,2020-03-17,2020-05-06,day
26,Fayette,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,16.0,0.0,2020-03-17,2020-05-06,day
27,Ford,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-31,11.0,0.0,2020-03-17,2020-05-06,day
28,Franklin,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1....",2020-03-26,10.0,0.0,2020-03-17,2020-05-06,day
29,Fulton,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-10,3.0,0.0,2020-03-17,2020-05-06,day
...,...,...,...,...,...,...,...,...
75,Perry,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,35.0,3.0,2020-03-17,2020-05-06,day
76,Piatt,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,7.0,0.0,2020-03-17,2020-05-06,day
77,Pike,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-04,1.0,0.0,2020-03-17,2020-05-06,day
78,Pope,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-06,day
79,Pulaski,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,23.0,3.0,2020-03-17,2020-05-06,day
80,Putnam,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-06,day
81,Randolph,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,203.0,20.0,2020-03-17,2020-05-06,day
82,Richland,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,3.0,0.0,2020-03-17,2020-05-06,day
83,Rock Island,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,4.0,4.0,4....",2020-03-22,465.0,11.0,2020-03-17,2020-05-06,day
84,Saline,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,4.0,0.0,2020-03-17,2020-05-06,day
85,Sangamon,"3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,7.0,7.0,8....",2020-03-17,231.0,15.0,2020-03-17,2020-05-06,day
86,Schuyler,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,2.0,0.0,2020-03-17,2020-05-06,day
87,Scott,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-06,day
88,Shelby,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,10.0,0.0,2020-03-17,2020-05-06,day
89,St. Clair,"2.0,3.0,3.0,3.0,3.0,3.0,3.0,7.0,7.0,13.0,15.0,...",2020-03-17,601.0,22.0,2020-03-17,2020-05-06,day
90,Stark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,1.0,0.0,2020-03-17,2020-05-06,day
91,Stephenson,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,2.0,2.0,2....",2020-03-22,72.0,2.0,2020-03-17,2020-05-06,day
93,Tazewell,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,3....",2020-03-26,53.0,5.0,2020-03-17,2020-05-06,day
94,Union,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,48.0,16.0,2020-03-17,2020-05-06,day
95,Vermilion,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,22.0,-1.0,2020-03-17,2020-05-06,day
96,Wabash,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-06,1.0,0.0,2020-03-17,2020-05-06,day
97,Warren,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,88.0,3.0,2020-03-17,2020-05-06,day
98,Washington,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-19,15.0,1.0,2020-03-17,2020-05-06,day
99,Wayne,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-17,2.0,0.0,2020-03-17,2020-05-06,day
100,White,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-20,2.0,0.0,2020-03-17,2020-05-06,day
101,Whiteside,"1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2....",2020-03-17,98.0,4.0,2020-03-17,2020-05-06,day
102,Will,"2.0,3.0,9.0,10.0,12.0,21.0,21.0,28.0,40.0,67.0...",2020-03-17,3332.0,182.0,2020-03-17,2020-05-06,day
103,Williamson,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1....",2020-03-19,40.0,3.0,2020-03-17,2020-05-06,day
104,Winnebago,"1.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,7.0,8.0,8.0,9....",2020-03-17,696.0,47.0,2020-03-17,2020-05-06,day
105,Woodford,"1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3....",2020-03-17,15.0,2.0,2020-03-17,2020-05-06,day

In [206]:
county_final_gpd = pd.merge(county_gpd, county_report, how="left", left_on="id", right_on="County")

In [207]:
county_final_gpd['population'] = 1

In [208]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done