URL preparation

In [68]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

# Data URL
county_data_url = "http://www.dph.illinois.gov/sitefiles/CountyDemos.json?nocache=1"
zipcode_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDZip.json?nocache=1"
history_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDHistoricalTestResults.json?nocache=1"

In [69]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen

Download data

In [70]:
with urlopen(zipcode_data_url) as response:
    zipcode_dict = json.load(response)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [71]:
with urlopen(county_data_url) as response:
    county_dict = json.load(response)
    county_data = pd.DataFrame(county_dict['county_demographics'])

In [72]:
with urlopen(history_data_url) as response:
    history_dict = json.load(response)

In [73]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [74]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [75]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [76]:
county_gpd = county_geometry[['id','geometry']]

Zipcode Data generation

In [77]:
zipcode_data

,confirmed_cases,demographics,total_tested,zip
0,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",96,53142
1,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",407,60002
2,161,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1628,60004
3,85,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",492,60005
4,117,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",587,60007
5,144,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",446,60008
6,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",466,60010
7,56,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",162,60012
8,49,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",268,60013
9,88,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",654,60014
10,113,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",616,60015
11,663,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1923,60016
12,271,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",880,60018
13,19,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",170,60020
14,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",74,60021
15,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",194,60022
16,216,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1098,60025
17,89,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",382,60026
18,84,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",571,60030
19,167,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",752,60031
20,65,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",243,60033
21,162,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",853,60035
22,49,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",138,60040
23,24,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",139,60041
24,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",96,60042
25,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",90,60043
26,58,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",279,60044
27,93,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",481,60045
28,97,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",549,60046
29,95,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",457,60047
...,...,...,...,...
430,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",93,62471
431,77,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",516,62521
432,21,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",99,62522
433,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",222,62526
434,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",51,62565
435,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",201,62568
436,45,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",372,62618
437,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",230,62629
438,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",343,62650
439,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",338,62656
440,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",59,62664
441,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",245,62684
442,43,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",770,62702
443,39,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",577,62703
444,31,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",721,62704
445,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",144,62707
446,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",267,62711
447,46,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",457,62801
448,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",185,62832
449,74,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",494,62864
450,87,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",460,62901
451,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",65,62902
452,26,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",162,62906
453,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",37,62907
454,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",132,62918
455,17,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",74,62920
456,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",191,62948
457,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",432,62959
458,36,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",289,62966
459,19,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",49,62992

In [78]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [79]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [80]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [81]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

Static County Data Generation

In [82]:
county_static = pd.merge(county_gpd, county_data, how="left", left_on="id",right_on="County")

In [100]:
county_static

,id,geometry,County,confirmed_cases,demographics,total_tested
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,814,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4576
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,155,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",628
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,137,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1315
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,3333,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",17234
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,84,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1424
5,Bureau,"POLYGON ((-89.63155 41.58491, -89.64769 41.584...",Bureau,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",331
6,Henry,"POLYGON ((-89.86249 41.58401, -89.87517 41.584...",Henry,54,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",638
7,Grundy,"POLYGON ((-88.25217 41.46277, -88.27149 41.462...",Grundy,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",733
8,Mercer,"POLYGON ((-90.43382 41.32698, -90.45335 41.326...",Mercer,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",163
9,Putnam,"POLYGON ((-89.16353 41.30991, -89.16500 41.309...",Putnam,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",48
10,McLean,"POLYGON ((-88.92943 40.75330, -88.94863 40.752...",McLean,108,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3052
11,Tazewell,"POLYGON ((-89.26933 40.59450, -89.26948 40.601...",Tazewell,56,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1910
12,Fulton,"POLYGON ((-89.98606 40.71225, -90.00002 40.712...",Fulton,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",202
13,Adams,"POLYGON ((-91.50535 40.20029, -91.50436 40.198...",Adams,40,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1406
14,Champaign,"POLYGON ((-88.46003 40.39850, -88.46009 40.383...",Champaign,212,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4161
15,Logan,"POLYGON ((-89.60299 40.32011, -89.60273 40.305...",Logan,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",481
16,Piatt,"POLYGON ((-88.57476 40.28158, -88.58665 40.267...",Piatt,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",242
17,Stark,"POLYGON ((-89.85770 41.23450, -89.86772 41.234...",Stark,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",43
18,Knox,"POLYGON ((-89.98529 41.14944, -90.00422 41.149...",Knox,61,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",714
19,Marshall,"POLYGON ((-89.63903 41.14845, -89.63905 41.133...",Marshall,4,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",88
20,Livingston,"POLYGON ((-88.25174 41.11422, -88.26009 41.114...",Livingston,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",463
21,Henderson,"POLYGON ((-90.78527 41.06922, -90.80435 41.070...",Henderson,5,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",75
22,Warren,"POLYGON ((-90.43990 41.06383, -90.45876 41.063...",Warren,88,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",285
23,Iroquois,"POLYGON ((-87.52616 41.01035, -87.54231 41.010...",Iroquois,62,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",415
24,Peoria,"POLYGON ((-89.98593 40.97465, -89.98599 40.961...",Peoria,126,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2651
25,Woodford,"POLYGON ((-89.04765 40.92567, -89.06702 40.925...",Woodford,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",388
26,Carroll,"POLYGON ((-89.91979 42.19678, -89.93903 42.196...",Carroll,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",90
27,Kane,"POLYGON ((-88.58859 42.15366, -88.58852 42.139...",Kane,2332,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",9542
28,DeKalb,"POLYGON ((-88.70559 42.15355, -88.72510 42.153...",DeKalb,141,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1232
29,Cook,"POLYGON ((-88.23858 42.15425, -88.23865 42.139...",Cook,19316,"{'age': [{'age_group': 'Unknown', 'count': 25,...",89317
...,...,...,...,...,...,...
73,Hardin,"POLYGON ((-88.37538 37.59960, -88.39355 37.599...",Hardin,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",22
74,Massac,"POLYGON ((-88.92877 37.30294, -88.92877 37.302...",Massac,4,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",92
75,McDonough,"POLYGON ((-90.78961 40.63568, -90.78967 40.635...",McDonough,42,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",361
76,Vermilion,"POLYGON ((-87.93508 40.48596, -87.93473 40.471...",Vermilion,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",860
77,Macon,"POLYGON ((-89.14466 40.04885, -89.14459 40.034...",Macon,129,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1217
78,Sangamon,"POLYGON ((-89.21798 39.91706, -89.23638 39.916...",Sangamon,231,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4318
79,Edgar,"POLYGON ((-87.93761 39.87996, -87.93729 39.865...",Edgar,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",120
80,Morgan,"POLYGON ((-89.99438 39.87291, -90.01303 39.872...",Morgan,26,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",467
81,Christian,"POLYGON ((-89.21767 39.81320, -89.21788 39.813...",Christian,28,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",411
82,Moultrie,"POLYGON ((-88.74551 39.79203, -88.75854 39.792...",Moultrie,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",80
83,Scott,"POLYGON ((-90.58103 39.52172, -90.56211 39.521...",Scott,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",60
84,Coles,"POLYGON ((-88.47247 39.65162, -88.47201 39.637...",Coles,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",415
85,Shelby,"POLYGON ((-89.02552 39.65448, -89.02541 39.640...",Shelby,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",121
86,Montgomery,"POLYGON ((-89.70178 39.52331, -89.70144 39.508...",Montgomery,33,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",592
87,Macoupin,"POLYGON ((-89.92568 39.52239, -89.94431 39.522...",Macoupin,39,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",708
88,Clark,"POLYGON ((-87.96033 39.48136, -87.97896 39.481...",Clark,5,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",103
89,Crawford,"POLYGON ((-87.95037 39.17505, -87.95003 39.158...",Crawford,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",186
90,Jasper,"POLYGON ((-88.00774 39.17389, -88.02264 39.173...",Jasper,46,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",239
91,Bond,"POLYGON ((-89.25027 39.02822, -89.26896 39.028...",Bond,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",144
92,Madison,"POLYGON ((-89.63924 38.99914, -89.64215 38.999...",Madison,374,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2278
93,Fayette,"POLYGON ((-89.13957 39.21785, -89.15807 39.217...",Fayette,16,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",175
94,St. Clair,"POLYGON ((-89.70703 38.65503, -89.72531 38.655...",St. Clair,601,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3068
95,Wayne,"POLYGON ((-88.69830 38.60606, -88.69830 38.605...",Wayne,2,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",173
96,Monroe,"POLYGON ((-89.89905 38.22077, -89.89905 38.220...",Monroe,74,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",284
97,Jefferson,"POLYGON ((-89.14445 38.47387, -89.14462 38.460...",Jefferson,86,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",692
98,Lawrence,"POLYGON ((-87.90806 38.85013, -87.90819 38.835...",Lawrence,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",158
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,38,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",702
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",348
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",24
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,27440,"{'age': [{'age_group': 'Unknown', 'count': 20,...",112588

In [83]:
county_static.to_file('dph_county_static_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [84]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [85]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [86]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])

In [87]:
# get case time series
county_pivot['cases_ts'] = county_pivot['confirmed_cases'].values.tolist()

In [88]:
# get first case date
county_pivot['dt_first_case'] = (county_pivot['confirmed_cases'] > 0).idxmax(axis=1)
county_pivot.loc[county_pivot['confirmed_cases'].iloc[:, -1] <= 0, 'dt_first_case'] = np.nan

In [89]:
# Get date information
date = county_pivot['confirmed_cases'].columns
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [90]:
date

Index(['3/17/2020', '3/18/2020', '3/19/2020', '3/20/2020', '3/21/2020',
       '3/22/2020', '3/24/2020', '3/25/2020', '3/26/2020', '3/27/2020',
       '3/28/2020', '3/29/2020', '3/30/2020', '3/31/2020', '4/1/2020',
       '4/10/2020', '4/11/2020', '4/12/2020', '4/13/2020', '4/14/2020',
       '4/15/2020', '4/16/2020', '4/17/2020', '4/18/2020', '4/19/2020',
       '4/2/2020', '4/20/2020', '4/21/2020', '4/22/2020', '4/23/2020',
       '4/24/2020', '4/25/2020', '4/26/2020', '4/27/2020', '4/28/2020',
       '4/29/2020', '4/3/2020', '4/30/2020', '4/4/2020', '4/5/2020',
       '4/6/2020', '4/7/2020', '4/8/2020', '4/9/2020', '5/1/2020', '5/2/2020',
       '5/3/2020', '5/4/2020', '5/5/2020', '5/6/2020'],
      dtype='object', name='date')

In [91]:
# Add today_case and today_new_case columns
county_pivot['today_case'] = county_pivot['confirmed_cases'][dt_today]
county_pivot['today_new_case'] = county_pivot['confirmed_cases'][dt_today] - county_pivot['confirmed_cases'][dt_yesterday]

In [92]:
# Reformat
county_report = county_pivot[['cases_ts','dt_first_case','today_case','today_new_case']]
county_report = county_report.reset_index()
county_report.columns = ['County','cases_ts','dt_first_case','today_case','today_new_case']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))

In [93]:
np.setdiff1d(county_report['County'],county_gpd['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Illinois', 'Out Of State', 'Suburban Cook'], dtype=object)

In [94]:
county_report = county_report[(county_report['County'] != 'Illinois') & (county_report['County'] != 'Out of State') & (county_report['County'] != 'Suburban Cook')]

In [95]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [96]:
county_report['dt_first_case'] = county_report['dt_first_case'].apply(lambda x: standardDate(x) if type(x) == str else x)
county_report['dt_start'] = standardDate(dt_first)
county_report['dt_end'] = standardDate(dt_today)
county_report['dt_unit'] = 'day'

In [97]:
county_final_gpd = pd.merge(county_gpd, county_report, how="left", left_on="id", right_on="County")

In [98]:
county_final_gpd['population'] = 1

In [99]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done