URL preparation

In [171]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

# Data URL
county_data_url = "http://www.dph.illinois.gov/sitefiles/CountyDemos.json?nocache=1"
zipcode_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDZip.json?nocache=1"
history_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDHistoricalTestResults.json?nocache=1"

In [172]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen

Download data

In [173]:
with urlopen(zipcode_data_url) as response:
    zipcode_dict = json.load(response)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [174]:
# with urlopen(county_data_url) as response:
#     county_dict = json.load(response)
#     county_data = pd.DataFrame(county_dict['county_demographics'])

In [175]:
with urlopen(history_data_url) as response:
    history_dict = json.load(response)

In [176]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [177]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [178]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [179]:
county_gpd = county_geometry[['id','geometry']]

Zipcode Data generation

In [180]:
zipcode_data

,confirmed_cases,demographics,total_tested,zip
0,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",145,53142
1,68,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",549,60002
2,205,"{'age': [{'age_group': 'Unknown', 'count': 6, ...",2416,60004
3,113,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",734,60005
4,181,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",877,60007
5,200,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",898,60008
6,72,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",749,60010
7,68,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",238,60012
8,63,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",409,60013
9,130,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1020,60014
10,137,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",790,60015
11,792,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2671,60016
12,379,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1274,60018
13,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",268,60020
14,16,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",100,60021
15,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",239,60022
16,256,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1472,60025
17,107,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",503,60026
18,123,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",916,60030
19,219,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1245,60031
20,100,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",410,60033
21,180,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1102,60035
22,88,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",229,60040
23,33,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",209,60041
24,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",160,60042
25,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",106,60043
26,70,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",379,60044
27,103,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",648,60045
28,135,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",809,60046
29,140,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",767,60047
...,...,...,...,...
466,26,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",290,62568
467,55,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",469,62618
468,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",373,62629
469,27,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",536,62650
470,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",490,62656
471,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",93,62664
472,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",174,62675
473,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",134,62681
474,69,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",340,62684
475,61,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1203,62702
476,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1049,62703
477,37,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1118,62704
478,16,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",214,62707
479,19,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",523,62711
480,50,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",658,62801
481,16,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",254,62832
482,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",270,62837
483,82,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",679,62864
484,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",82,62882
485,96,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",691,62901
486,13,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",101,62902
487,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",427,62906
488,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",50,62907
489,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",36,62912
490,13,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",221,62918
491,54,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",190,62920
492,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",262,62948
493,24,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",632,62959
494,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",440,62966
495,32,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",111,62992

In [181]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [182]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [183]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [184]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

Static County Data Generation

In [185]:
county_static_data = pd.DataFrame(history_dict['characteristics_by_county']['values'])

In [186]:
county_static = pd.merge(county_gpd, county_static_data, how="left", left_on="id",right_on="County")

In [187]:
county_static = county_static.rename(columns={'id':'NAME'})

In [188]:
county_static.to_file('dph_county_static_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [189]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [190]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [191]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [192]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])

In [193]:
county_pivot['deaths'].iloc[2]

date
3/17/2020    0.0
3/18/2020    0.0
3/19/2020    0.0
3/20/2020    0.0
3/21/2020    0.0
3/22/2020    0.0
3/24/2020    0.0
3/25/2020    0.0
3/26/2020    0.0
3/27/2020    0.0
3/28/2020    0.0
3/29/2020    0.0
3/30/2020    0.0
3/31/2020    0.0
4/1/2020     0.0
4/10/2020    0.0
4/11/2020    0.0
4/12/2020    0.0
4/13/2020    0.0
4/14/2020    0.0
4/15/2020    0.0
4/16/2020    1.0
4/17/2020    1.0
4/18/2020    1.0
4/19/2020    1.0
4/2/2020     0.0
4/20/2020    1.0
4/21/2020    1.0
4/22/2020    1.0
4/23/2020    1.0
4/24/2020    1.0
4/25/2020    1.0
4/26/2020    1.0
4/27/2020    1.0
4/28/2020    1.0
4/29/2020    1.0
4/3/2020     0.0
4/30/2020    1.0
4/4/2020     0.0
4/5/2020     0.0
4/6/2020     0.0
4/7/2020     0.0
4/8/2020     0.0
4/9/2020     0.0
5/1/2020     1.0
5/10/2020    1.0
5/11/2020    1.0
5/12/2020    1.0
5/13/2020    1.0
5/14/2020    1.0
5/15/2020    1.0
5/2/2020     1.0
5/3/2020     1.0
5/4/2020     1.0
5/5/2020     1.0
5/6/2020     1.0
5/7/2020     1.0
5/8/2020     1.0
5/9/2020     1.0
Name: Bond, dtype: float64

In [194]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']
county_deaths = county_pivot['deaths']

In [195]:
county_cases = county_cases.rename(columns=standardDate)
county_deaths = county_deaths.rename(columns=standardDate)

In [196]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']
county_deaths['2020-03-23'] = county_deaths['2020-03-22']

In [197]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-05-15,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,42.0,40.0,40.0,40.0,40.0,40.0,40.0,41.0,41.0,1.0

In [198]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [199]:
from datetime import datetime
from datetime import timedelta

In [200]:
def find_missing_date(date):
    dt_range = datetime.strptime(date[-1], "%Y-%m-%d") - datetime.strptime(date[0], "%Y-%m-%d")
    if len(date) != dt_range.days + 1:
        print('Alert! Missing Date or Redundant date')
        for x in range(len(date) - 1):
            if (datetime.strptime(date[x + 1], "%Y-%m-%d") - datetime.strptime(date[x], "%Y-%m-%d")).days != 1:
                missing_date = datetime.strptime(date[x], "%Y-%m-%d") + timedelta(days=1)
                print('Missing Date:')
                print(missing_date)

In [201]:
# Looking for missing dates
find_missing_date(date)

In [202]:
# reorder date
county_cases = county_cases[date]
county_deaths = county_deaths[date]

In [203]:
# get case time series
cases_ts = county_cases.values.tolist()
deaths_ts = county_deaths.values.tolist()

In [204]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan
county_deaths['dt_first_death'] = (county_deaths > 0).idxmax(axis=1)
county_deaths.loc[county_deaths.iloc[:, -2] <= 0, 'dt_first_death'] = np.nan

In [205]:
county_cases['cases_ts'] = cases_ts
county_deaths['deaths_ts'] = deaths_ts

In [206]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]
county_deaths['today_death'] = county_deaths[dt_today]
county_deaths['today_new_death'] = county_deaths[dt_today] - county_deaths[dt_yesterday]

In [207]:
case_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]

In [208]:
death_report = county_deaths[['deaths_ts','dt_first_death','today_death','today_new_death']]

In [209]:
county_report = case_report.join(death_report, how="outer")

In [210]:
county_report = county_report.reset_index()
county_report.columns = ['NAME','cases_ts','dt_first_case','today_case','today_new_case','deaths_ts','dt_first_death','today_death','today_new_death']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))
county_report['deaths_ts'] = county_report['deaths_ts'].apply(lambda x: ','.join(map(str,x)))

In [211]:
np.setdiff1d(county_report['NAME'],county_gpd['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Illinois', 'Out Of State', 'Suburban Cook'], dtype=object)

In [212]:
county_report = county_report[(county_report['NAME'] != 'Illinois') & (county_report['NAME'] != 'Out of State') & (county_report['NAME'] != 'Suburban Cook')]

In [213]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [214]:
county_report

,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,dt_start,dt_end,dt_unit
0,Adams,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,42.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,1.0,0.0,2020-03-17,2020-05-15,day
1,Alexander,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,8.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
2,Bond,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,11.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,1.0,0.0,2020-03-17,2020-05-15,day
3,Boone,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,274.0,6.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,14.0,1.0,2020-03-17,2020-05-15,day
4,Brown,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,9.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
5,Bureau,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1....",2020-03-27,15.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,1.0,0.0,2020-03-17,2020-05-15,day
6,Calhoun,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
7,Carroll,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,12.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,2.0,0.0,2020-03-17,2020-05-15,day
8,Cass,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-20,67.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
9,Champaign,"1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,4.0,8.0,10.0,1...",2020-03-17,344.0,20.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,7.0,1.0,2020-03-17,2020-05-15,day
10,Chicago,"0.0,0.0,0.0,0.0,0.0,519.0,519.0,782.0,915.0,11...",2020-03-22,35183.0,842.0,"0.0,0.0,0.0,0.0,0.0,4.0,4.0,5.0,5.0,9.0,9.0,12...",2020-03-22,1606.0,54.0,2020-03-17,2020-05-15,day
11,Christian,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,30.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,4.0,0.0,2020-03-17,2020-05-15,day
12,Clark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,9.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
13,Clay,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-14,2.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
14,Clinton,"2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,5.0,5.0,5....",2020-03-17,159.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-24,13.0,0.0,2020-03-17,2020-05-15,day
15,Coles,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,67.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-25,4.0,0.0,2020-03-17,2020-05-15,day
16,Cook,"107.0,178.0,278.0,411.0,548.0,286.0,286.0,412....",2020-03-17,24722.0,606.0,"1.0,1.0,2.0,3.0,4.0,2.0,2.0,7.0,8.0,9.0,11.0,1...",2020-03-17,1156.0,33.0,2020-03-17,2020-05-15,day
17,Crawford,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,11.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
18,Cumberland,"1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-17,8.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
19,De Witt,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,4.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
20,DeKalb,"0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,4.0,4....",2020-03-21,229.0,12.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-06,2.0,0.0,2020-03-17,2020-05-15,day
21,Douglas,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1....",2020-03-25,22.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
22,DuPage,"26.0,45.0,54.0,57.0,65.0,79.0,79.0,103.0,131.0...",2020-03-17,5634.0,181.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,6.0,6....",2020-03-24,287.0,8.0,2020-03-17,2020-05-15,day
23,Edgar,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-15,1.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
24,Edwards,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-13,2.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
25,Effingham,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-03,6.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,1.0,0.0,2020-03-17,2020-05-15,day
26,Fayette,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,19.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-13,2.0,0.0,2020-03-17,2020-05-15,day
27,Ford,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-31,16.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,1.0,0.0,2020-03-17,2020-05-15,day
28,Franklin,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1....",2020-03-26,11.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
29,Fulton,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-10,6.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
...,...,...,...,...,...,...,...,...,...,...,...,...
75,Perry,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,38.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
76,Piatt,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,8.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
77,Pike,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-04,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
78,Pope,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-08,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
79,Pulaski,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,40.0,7.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
80,Putnam,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
81,Randolph,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,234.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-17,3.0,0.0,2020-03-17,2020-05-15,day
82,Richland,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,3.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
83,Rock Island,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,4.0,4.0,4....",2020-03-22,563.0,20.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,18.0,1.0,2020-03-17,2020-05-15,day
84,Saline,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,6.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
85,Sangamon,"3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,7.0,7.0,8....",2020-03-17,299.0,10.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,25.0,1.0,2020-03-17,2020-05-15,day
86,Schuyler,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-09,7.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
87,Scott,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
88,Shelby,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,12.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-29,1.0,0.0,2020-03-17,2020-05-15,day
89,St. Clair,"2.0,3.0,3.0,3.0,3.0,3.0,3.0,7.0,7.0,13.0,15.0,...",2020-03-17,765.0,6.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,63.0,2.0,2020-03-17,2020-05-15,day
90,Stark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
91,Stephenson,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,2.0,2.0,2....",2020-03-22,135.0,16.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
93,Tazewell,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,3....",2020-03-26,62.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,3.0,0.0,2020-03-17,2020-05-15,day
94,Union,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,117.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,4.0,3.0,2020-03-17,2020-05-15,day
95,Vermilion,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,29.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-29,1.0,0.0,2020-03-17,2020-05-15,day
96,Wabash,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-06,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
97,Warren,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,105.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
98,Washington,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-19,17.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
99,Wayne,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-17,8.0,-3.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-14,1.0,0.0,2020-03-17,2020-05-15,day
100,White,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-20,2.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day
101,Whiteside,"1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2....",2020-03-17,113.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,8.0,0.0,2020-03-17,2020-05-15,day
102,Will,"2.0,3.0,9.0,10.0,12.0,21.0,21.0,28.0,40.0,67.0...",2020-03-17,4277.0,187.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,4....",2020-03-20,237.0,6.0,2020-03-17,2020-05-15,day
103,Williamson,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1....",2020-03-19,51.0,-1.0,"0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-19,1.0,0.0,2020-03-17,2020-05-15,day
104,Winnebago,"1.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,7.0,8.0,8.0,9....",2020-03-17,1390.0,53.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,33.0,1.0,2020-03-17,2020-05-15,day
105,Woodford,"1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3....",2020-03-17,14.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-21,1.0,0.0,2020-03-17,2020-05-15,day

In [216]:
county_final_gpd = pd.merge(county_gpd, county_report, how="left", left_on="id", right_on="NAME")

In [218]:
county_final_gpd['population'] = 1

In [222]:
county_final_gpd

,id,geometry,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,dt_start,dt_end,dt_unit,population
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,"2.0,4.0,6.0,8.0,11.0,12.0,12.0,14.0,19.0,27.0,...",2020-03-17,1123.0,40.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2....",2020-03-26,62.0,5.0,2020-03-17,2020-05-15,day,1
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,274.0,6.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,14.0,1.0,2020-03-17,2020-05-15,day,1
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-31,165.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,2.0,0.0,2020-03-17,2020-05-15,day,1
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,"2.0,3.0,9.0,10.0,12.0,21.0,21.0,28.0,40.0,67.0...",2020-03-17,4277.0,187.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,4....",2020-03-20,237.0,6.0,2020-03-17,2020-05-15,day,1
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3....",2020-03-19,117.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,7.0,2.0,2020-03-17,2020-05-15,day,1
5,Bureau,"POLYGON ((-89.63155 41.58491, -89.64769 41.584...",Bureau,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1....",2020-03-27,15.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,1.0,0.0,2020-03-17,2020-05-15,day,1
6,Henry,"POLYGON ((-89.86249 41.58401, -89.87517 41.584...",Henry,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2....",2020-03-27,64.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
7,Grundy,"POLYGON ((-88.25217 41.46277, -88.27149 41.462...",Grundy,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2.0,2....",2020-03-24,73.0,8.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-08,1.0,0.0,2020-03-17,2020-05-15,day,1
8,Mercer,"POLYGON ((-90.43382 41.32698, -90.45335 41.326...",Mercer,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,14.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
9,Putnam,"POLYGON ((-89.16353 41.30991, -89.16500 41.309...",Putnam,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
10,McLean,"POLYGON ((-88.92943 40.75330, -88.94863 40.752...",McLean,"0.0,0.0,0.0,4.0,6.0,6.0,6.0,7.0,7.0,7.0,10.0,1...",2020-03-20,132.0,2.0,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-22,4.0,1.0,2020-03-17,2020-05-15,day,1
11,Tazewell,"POLYGON ((-89.26933 40.59450, -89.26948 40.601...",Tazewell,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,3....",2020-03-26,62.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,3.0,0.0,2020-03-17,2020-05-15,day,1
12,Fulton,"POLYGON ((-89.98606 40.71225, -90.00002 40.712...",Fulton,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-10,6.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
13,Adams,"POLYGON ((-91.50535 40.20029, -91.50436 40.198...",Adams,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,42.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,1.0,0.0,2020-03-17,2020-05-15,day,1
14,Champaign,"POLYGON ((-88.46003 40.39850, -88.46009 40.383...",Champaign,"1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,4.0,8.0,10.0,1...",2020-03-17,344.0,20.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,7.0,1.0,2020-03-17,2020-05-15,day,1
15,Logan,"POLYGON ((-89.60299 40.32011, -89.60273 40.305...",Logan,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,10.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
16,Piatt,"POLYGON ((-88.57476 40.28158, -88.58665 40.267...",Piatt,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,8.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
17,Stark,"POLYGON ((-89.85770 41.23450, -89.86772 41.234...",Stark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
18,Knox,"POLYGON ((-89.98529 41.14944, -90.00422 41.149...",Knox,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,84.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
19,Marshall,"POLYGON ((-89.63903 41.14845, -89.63905 41.133...",Marshall,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1....",2020-03-25,5.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
20,Livingston,"POLYGON ((-88.25174 41.11422, -88.26009 41.114...",Livingston,"0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,2....",2020-03-22,25.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-20,1.0,0.0,2020-03-17,2020-05-15,day,1
21,Henderson,"POLYGON ((-90.78527 41.06922, -90.80435 41.070...",Henderson,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-17,7.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
22,Warren,"POLYGON ((-90.43990 41.06383, -90.45876 41.063...",Warren,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,105.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
23,Iroquois,"POLYGON ((-87.52616 41.01035, -87.54231 41.010...",Iroquois,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2....",2020-03-27,111.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-04,3.0,0.0,2020-03-17,2020-05-15,day,1
24,Peoria,"POLYGON ((-89.98593 40.97465, -89.98599 40.961...",Peoria,"1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,5.0,6.0,7....",2020-03-17,156.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,6.0,0.0,2020-03-17,2020-05-15,day,1
25,Woodford,"POLYGON ((-89.04765 40.92567, -89.06702 40.925...",Woodford,"1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3....",2020-03-17,14.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-21,1.0,0.0,2020-03-17,2020-05-15,day,1
26,Carroll,"POLYGON ((-89.91979 42.19678, -89.93903 42.196...",Carroll,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,12.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,2.0,0.0,2020-03-17,2020-05-15,day,1
27,Kane,"POLYGON ((-88.58859 42.15366, -88.58852 42.139...",Kane,"3.0,4.0,6.0,8.0,8.0,13.0,13.0,24.0,38.0,57.0,7...",2020-03-17,4159.0,164.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,4....",2020-03-25,107.0,3.0,2020-03-17,2020-05-15,day,1
28,DeKalb,"POLYGON ((-88.70559 42.15355, -88.72510 42.153...",DeKalb,"0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,4.0,4....",2020-03-21,229.0,12.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-06,2.0,0.0,2020-03-17,2020-05-15,day,1
29,Cook,"POLYGON ((-88.23858 42.15425, -88.23865 42.139...",Cook,"107.0,178.0,278.0,411.0,548.0,286.0,286.0,412....",2020-03-17,24722.0,606.0,"1.0,1.0,2.0,3.0,4.0,2.0,2.0,7.0,8.0,9.0,11.0,1...",2020-03-17,1156.0,33.0,2020-03-17,2020-05-15,day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Hardin,"POLYGON ((-88.37538 37.59960, -88.39355 37.599...",Hardin,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-21,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
74,Massac,"POLYGON ((-88.92877 37.30294, -88.92877 37.302...",Massac,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,6.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
75,McDonough,"POLYGON ((-90.78961 40.63568, -90.78967 40.635...",McDonough,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-11,58.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-02,2.0,0.0,2020-03-17,2020-05-15,day,1
76,Vermilion,"POLYGON ((-87.93508 40.48596, -87.93473 40.471...",Vermilion,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,29.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-29,1.0,0.0,2020-03-17,2020-05-15,day,1
77,Macon,"POLYGON ((-89.14466 40.04885, -89.14459 40.034...",Macon,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,159.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,17.0,1.0,2020-03-17,2020-05-15,day,1
78,Sangamon,"POLYGON ((-89.21798 39.91706, -89.23638 39.916...",Sangamon,"3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,7.0,7.0,8....",2020-03-17,299.0,10.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,25.0,1.0,2020-03-17,2020-05-15,day,1
79,Edgar,"POLYGON ((-87.93761 39.87996, -87.93729 39.865...",Edgar,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-15,1.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
80,Morgan,"POLYGON ((-89.99438 39.87291, -90.01303 39.872...",Morgan,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3....",2020-03-25,35.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-31,1.0,0.0,2020-03-17,2020-05-15,day,1
81,Christian,"POLYGON ((-89.21767 39.81320, -89.21788 39.813...",Christian,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,30.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,4.0,0.0,2020-03-17,2020-05-15,day,1
82,Moultrie,"POLYGON ((-88.74551 39.79203, -88.75854 39.792...",Moultrie,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,7.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
83,Scott,"POLYGON ((-90.58103 39.52172, -90.56211 39.521...",Scott,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
84,Coles,"POLYGON ((-88.47247 39.65162, -88.47201 39.637...",Coles,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,67.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-25,4.0,0.0,2020-03-17,2020-05-15,day,1
85,Shelby,"POLYGON ((-89.02552 39.65448, -89.02541 39.640...",Shelby,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,12.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-29,1.0,0.0,2020-03-17,2020-05-15,day,1
86,Montgomery,"POLYGON ((-89.70178 39.52331, -89.70144 39.508...",Montgomery,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,36.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,1.0,0.0,2020-03-17,2020-05-15,day,1
87,Macoupin,"POLYGON ((-89.92568 39.52239, -89.94431 39.522...",Macoupin,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,41.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,1.0,0.0,2020-03-17,2020-05-15,day,1
88,Clark,"POLYGON ((-87.96033 39.48136, -87.97896 39.481...",Clark,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,9.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
89,Crawford,"POLYGON ((-87.95037 39.17505, -87.95003 39.158...",Crawford,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,11.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
90,Jasper,"POLYGON ((-88.00774 39.17389, -88.02264 39.173...",Jasper,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-04,45.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-13,7.0,0.0,2020-03-17,2020-05-15,day,1
91,Bond,"POLYGON ((-89.25027 39.02822, -89.26896 39.028...",Bond,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,11.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,1.0,0.0,2020-03-17,2020-05-15,day,1
92,Madison,"POLYGON ((-89.63924 38.99914, -89.64215 38.999...",Madison,"0.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,6.0,8.0,10...",2020-03-18,464.0,3.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,38.0,3.0,2020-03-17,2020-05-15,day,1
93,Fayette,"POLYGON ((-89.13957 39.21785, -89.15807 39.217...",Fayette,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1....",2020-03-28,19.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-13,2.0,0.0,2020-03-17,2020-05-15,day,1
94,St. Clair,"POLYGON ((-89.70703 38.65503, -89.72531 38.655...",St. Clair,"2.0,3.0,3.0,3.0,3.0,3.0,3.0,7.0,7.0,13.0,15.0,...",2020-03-17,765.0,6.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,63.0,2.0,2020-03-17,2020-05-15,day,1
95,Wayne,"POLYGON ((-88.69830 38.60606, -88.69830 38.605...",Wayne,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-17,8.0,-3.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-14,1.0,0.0,2020-03-17,2020-05-15,day,1
96,Monroe,"POLYGON ((-89.89905 38.22077, -89.89905 38.220...",Monroe,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,3.0,3....",2020-03-24,83.0,1.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,11.0,0.0,2020-03-17,2020-05-15,day,1
97,Jefferson,"POLYGON ((-89.14445 38.47387, -89.14462 38.460...",Jefferson,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,98.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-22,17.0,0.0,2020-03-17,2020-05-15,day,1
98,Lawrence,"POLYGON ((-87.90806 38.85013, -87.90819 38.835...",Lawrence,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-07,4.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,47.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,117.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,4.0,3.0,2020-03-17,2020-05-15,day,1
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-08,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2020-03-17,2020-05-15,day,1
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,"0.0,0.0,0.0,0.0,0.0,519.0,519.0,782.0,915.0,11...",2020-03-22,35183.0,842.0,"0.0,0.0,0.0,0.0,0.0,4.0,4.0,5.0,5.0,9.0,9.0,12...",2020-03-22,1606.0,54.0,2020-03-17,2020-05-15,day,1

In [219]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done