URL preparation

In [340]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

In [341]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen
import shapely.wkt

Download data

In [342]:
with open("./idph_COVIDZip.json") as f:
    zipcode_dict = json.load(f)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [343]:
with open("./idph_COVIDHistoricalTestResults.json") as f:
    history_dict = json.load(f)

In [344]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [345]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [346]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [347]:
county_geometry

,id,OBJECTID,County,Percent_1,Shape__Area,Shape__Length,geometry
0,McHenry,1,McHenry County,27.7,17027625788.537001,522324.305015,"POLYGON ((-88.70742 42.49352, -88.70741 42.493..."
1,Boone,2,Boone County,33.7,7862723082.688600,375171.144577,"POLYGON ((-88.70742 42.49352, -88.70750 42.493..."
2,Ogle,3,Ogle County,31.2,21284584781.190300,651729.421361,"POLYGON ((-89.68809 42.19950, -89.68807 42.184..."
3,Will,4,Will County,28.0,23669428994.175301,779085.214831,"POLYGON ((-88.26146 41.72439, -88.26103 41.708..."
4,LaSalle,5,LaSalle County,27.1,32008439057.989899,825360.163913,"POLYGON ((-88.93885 41.62837, -88.93891 41.628..."
...,...,...,...,...,...,...,...
98,Lawrence,99,Lawrence County,28.9,10426836159.952499,442943.679766,"POLYGON ((-87.90806 38.85013, -87.90819 38.835..."
99,Marion,100,Marion County,33.5,16056558800.880800,509529.795774,"POLYGON ((-89.13844 38.73633, -89.13847 38.721..."
100,Union,101,Union County,28.2,11769540678.443001,489617.647490,"POLYGON ((-89.04143 37.59650, -89.06017 37.597..."
101,Pope,102,Pope County,29.5,10432553057.307899,537878.380731,"POLYGON ((-88.70860 37.59926, -88.70876 37.584..."
102,Chicago,103,Chicago,28.2,6450276623.31,845282.931362,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ..."

In [348]:
county_gpd = county_geometry[['id','geometry']]

In [349]:
polygon1 = shapely.wkt.loads('POLYGON ((-89.6536529004544 39.7828177522233, -89.6536529004544 39.7799814663649, -89.64987635016143 39.7799814663649, -89.64987635016143 39.7828177522233, -89.6536529004544 39.7828177522233))')
polygon2 = shapely.wkt.loads('POLYGON ((-89.64923261999786 39.78268583454302, -89.64923261999786 39.7799814663649, -89.64575647711456 39.7799814663649, -89.64575647711456 39.78268583454302, -89.64923261999786 39.78268583454302))')

In [350]:
# county_gpd_static = county_gpd.append([{'id':"Out Of State", 'geometry':polygon1}], ignore_index=True)
# county_gpd_static = county_gpd_static.append([{'id':"Unassigned", 'geometry':polygon2}], ignore_index=True)
county_gpd_static = county_gpd.append([{'id':"Illinois", 'geometry':polygon2}], ignore_index=True)

In [351]:
county_gpd_static

           id                                           geometry
0     McHenry  POLYGON ((-88.70742 42.49352, -88.70741 42.493...
1       Boone  POLYGON ((-88.70742 42.49352, -88.70750 42.493...
2        Ogle  POLYGON ((-89.68809 42.19950, -89.68807 42.184...
3        Will  POLYGON ((-88.26146 41.72439, -88.26103 41.708...
4     LaSalle  POLYGON ((-88.93885 41.62837, -88.93891 41.628...
..        ...                                                ...
99     Marion  POLYGON ((-89.13844 38.73633, -89.13847 38.721...
100     Union  POLYGON ((-89.04143 37.59650, -89.06017 37.597...
101      Pope  POLYGON ((-88.70860 37.59926, -88.70876 37.584...
102   Chicago  MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...
103  Illinois  POLYGON ((-89.64923 39.78269, -89.64923 39.779...

[104 rows x 2 columns]

Zipcode Data generation

In [352]:
zipcode_data

,zip,confirmed_cases,total_tested,demographics
0,60002,117,1518,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
1,60004,371,7465,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
2,60005,211,3472,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
3,60007,369,3196,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
4,60008,351,3820,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
...,...,...,...,...
572,62952,12,277,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
573,62959,49,2522,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
574,62960,7,773,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
575,62966,103,1470,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
576,62992,59,230,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."

In [353]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [354]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [355]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [356]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [362]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [363]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [364]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [365]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])

In [366]:
county_pivot['deaths'].iloc[2]

date
3/17/2020    0.0
3/18/2020    0.0
3/19/2020    0.0
3/20/2020    0.0
3/21/2020    0.0
            ...
6/5/2020     1.0
6/6/2020     1.0
6/7/2020     1.0
6/8/2020     1.0
6/9/2020     1.0
Name: Bond, Length: 104, dtype: float64

In [367]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']
county_deaths = county_pivot['deaths']
county_tested = county_pivot['total_tested']

In [368]:
county_cases = county_cases.rename(columns=standardDate)
county_deaths = county_deaths.rename(columns=standardDate)
county_tested = county_tested.rename(columns=standardDate)

In [369]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']
county_deaths['2020-03-23'] = county_deaths['2020-03-22']
county_tested['2020-03-23'] = county_tested['2020-03-22']

In [370]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-06-28,2020-06-29,2020-06-03,2020-06-04,2020-06-05,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,83.0,88.0,44.0,44.0,44.0,46.0,46.0,45.0,45.0,1.0

In [371]:
county_tested

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-06-28,2020-06-29,2020-06-03,2020-06-04,2020-06-05,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8084.0,8221.0,4398.0,4461.0,4526.0,4555.0,4586.0,4623.0,4655.0,0.0
Alexander,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,495.0,508.0,227.0,231.0,250.0,253.0,256.0,258.0,260.0,0.0
Bond,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,818.0,849.0,368.0,387.0,403.0,410.0,433.0,439.0,450.0,0.0
Boone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5207.0,5250.0,3387.0,3441.0,3493.0,3597.0,3712.0,3759.0,3806.0,0.0
Brown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,507.0,510.0,402.0,404.0,408.0,408.0,408.0,411.0,415.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whiteside,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3933.0,3979.0,2192.0,2241.0,2311.0,2328.0,2437.0,2455.0,2537.0,0.0
Will,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,72278.0,73240.0,44426.0,45556.0,46412.0,47974.0,49128.0,49630.0,50778.0,0.0
Williamson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5432.0,5577.0,2547.0,2656.0,2735.0,2921.0,3093.0,3171.0,3243.0,0.0
Winnebago,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31753.0,32108.0,21267.0,21855.0,22268.0,22714.0,23203.0,23480.0,23812.0,0.0
Woodford,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2362.0,2402.0,1254.0,1411.0,1497.0,1524.0,1543.0,1557.0,1576.0,0.0

In [372]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [373]:
from datetime import datetime
from datetime import timedelta

In [374]:
def find_missing_date(date):
    dt_range = datetime.strptime(date[-1], "%Y-%m-%d") - datetime.strptime(date[0], "%Y-%m-%d")
    if len(date) != dt_range.days + 1:
        print('Alert! Missing Date or Redundant date')
        for x in range(len(date) - 1):
            if (datetime.strptime(date[x + 1], "%Y-%m-%d") - datetime.strptime(date[x], "%Y-%m-%d")).days != 1:
                missing_date = datetime.strptime(date[x], "%Y-%m-%d") + timedelta(days=1)
                print('Missing Date:')
                print(missing_date)

In [375]:
# Looking for missing dates
find_missing_date(date)

In [376]:
# reorder date
county_cases = county_cases[date]
county_deaths = county_deaths[date]
county_tested = county_tested[date]

In [377]:
# get case time series
cases_ts = county_cases.values.tolist()
deaths_ts = county_deaths.values.tolist()
tested_ts = county_tested.values.tolist()

In [378]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan
county_deaths['dt_first_death'] = (county_deaths > 0).idxmax(axis=1)
county_deaths.loc[county_deaths.iloc[:, -2] <= 0, 'dt_first_death'] = np.nan

In [379]:
county_cases['cases_ts'] = cases_ts
county_deaths['deaths_ts'] = deaths_ts

In [380]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]
county_deaths['today_death'] = county_deaths[dt_today]
county_deaths['today_new_death'] = county_deaths[dt_today] - county_deaths[dt_yesterday]
county_tested['today_tested'] = county_tested[dt_today]
county_tested['today_new_tested'] = county_tested[dt_today] - county_tested[dt_yesterday]

C:\Users\lymin\Anaconda3\envs\wherecovid19\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lymin\Anaconda3\envs\wherecovid19\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [381]:
case_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]

In [382]:
death_report = county_deaths[['deaths_ts','dt_first_death','today_death','today_new_death']]

In [383]:
tested_report = county_tested[['today_tested','today_new_tested']]

In [384]:
county_report = case_report.join(death_report, how="outer").join(tested_report, how="outer")

In [385]:
county_report = county_report.reset_index()
county_report.columns = ['NAME','cases_ts','dt_first_case','today_case','today_new_case','deaths_ts','dt_first_death','today_death','today_new_death','today_tested','today_new_tested']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))
county_report['deaths_ts'] = county_report['deaths_ts'].apply(lambda x: ','.join(map(str,x)))

In [386]:
# county_gpd_dynamic = county_gpd_static

In [387]:
np.setdiff1d(county_report['NAME'],county_gpd_dynamic['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Out Of State', 'Suburban Cook'], dtype=object)

In [388]:
county_report = county_report[(county_report['NAME'] != 'Out Of State') & (county_report['NAME'] != 'Suburban Cook')]

In [389]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [390]:
county_report

,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit
0,Adams,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1....",2020-03-20,88.0,5.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,1.0,0.0,8221.0,137.0,2020-03-17,2020-06-29,day
1,Alexander,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,22.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,508.0,13.0,2020-03-17,2020-06-29,day
2,Bond,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,13.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-16,1.0,0.0,849.0,31.0,2020-03-17,2020-06-29,day
3,Boone,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,579.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,21.0,0.0,5250.0,43.0,2020-03-17,2020-06-29,day
4,Brown,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-01,10.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,510.0,3.0,2020-03-17,2020-06-29,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Whiteside,"1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2....",2020-03-17,183.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-02,15.0,0.0,3979.0,46.0,2020-03-17,2020-06-29,day
102,Will,"2.0,3.0,9.0,10.0,12.0,21.0,21.0,28.0,40.0,67.0...",2020-03-17,6635.0,27.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,4....",2020-03-20,319.0,0.0,73240.0,962.0,2020-03-17,2020-06-29,day
103,Williamson,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1....",2020-03-19,114.0,1.0,"0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-19,4.0,0.0,5577.0,145.0,2020-03-17,2020-06-29,day
104,Winnebago,"1.0,1.0,1.0,2.0,4.0,5.0,5.0,5.0,7.0,8.0,8.0,9....",2020-03-17,3014.0,10.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-01,92.0,0.0,32108.0,355.0,2020-03-17,2020-06-29,day
105,Woodford,"1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3....",2020-03-17,33.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-21,2.0,0.0,2402.0,40.0,2020-03-17,2020-06-29,day

In [391]:
county_final_gpd = pd.merge(county_gpd_dynamic, county_report, how="left", left_on="id", right_on="NAME")

In [392]:
county_final_gpd['population'] = 1

In [394]:
county_final_gpd

,id,geometry,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit,population
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,"2.0,4.0,6.0,8.0,11.0,12.0,12.0,14.0,19.0,27.0,...",2020-03-17,2010.0,11.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2....",2020-03-26,97.0,0.0,23110.0,393.0,2020-03-17,2020-06-29,day,1
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-05,579.0,2.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-08,21.0,0.0,5250.0,43.0,2020-03-17,2020-06-29,day,1
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-31,256.0,4.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,4.0,0.0,3990.0,194.0,2020-03-17,2020-06-29,day,1
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,"2.0,3.0,9.0,10.0,12.0,21.0,21.0,28.0,40.0,67.0...",2020-03-17,6635.0,27.0,"0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,4....",2020-03-20,319.0,0.0,73240.0,962.0,2020-03-17,2020-06-29,day,1
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,"0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3....",2020-03-19,208.0,3.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-29,17.0,0.0,7706.0,298.0,2020-03-17,2020-06-29,day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-03-30,65.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,2967.0,124.0,2020-03-17,2020-06-29,day,1
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-04-15,184.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-05,19.0,0.0,2147.0,97.0,2020-03-17,2020-06-29,day,1
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",2020-05-08,1.0,0.0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",NaN,0.0,0.0,152.0,3.0,2020-03-17,2020-06-29,day,1
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,"0.0,0.0,0.0,0.0,0.0,519.0,519.0,782.0,915.0,11...",2020-03-22,52150.0,200.0,"0.0,0.0,0.0,0.0,0.0,4.0,4.0,5.0,5.0,9.0,9.0,12...",2020-03-22,2593.0,11.0,403848.0,6666.0,2020-03-17,2020-06-29,day,1
103,Illinois,"POLYGON ((-89.64923 39.78269, -89.64923 39.779...",Illinois,"160.0,288.0,422.0,585.0,753.0,1049.0,1049.0,15...",2020-03-17,142461.0,738.0,"0.0,1.0,3.0,5.0,6.0,9.0,9.0,16.0,19.0,26.0,34....",2020-03-18,6902.0,14.0,1571896.0,26918.0,2020-03-17,2020-06-29,day,1

In [395]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done