URL preparation

In [2]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

# Data URL
county_data_url = "http://www.dph.illinois.gov/sitefiles/CountyDemos.json?nocache=1"
zipcode_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDZip.json?nocache=1"
history_data_url = "http://www.dph.illinois.gov/sitefiles/COVIDHistoricalTestResults.json?nocache=1"

In [3]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen

Download data

In [4]:
with urlopen(zipcode_data_url) as response:
    zipcode_dict = json.load(response)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [5]:
with urlopen(county_data_url) as response:
    county_dict = json.load(response)
    county_data = pd.DataFrame(county_dict['county_demographics'])

In [6]:
with urlopen(history_data_url) as response:
    history_dict = json.load(response)

In [7]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [8]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [9]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [10]:
county_gpd = county_geometry[['id','geometry']]

Zipcode Data generation

In [11]:
zipcode_data

,confirmed_cases,demographics,total_tested,zip
0,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",111,53142
1,65,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",443,60002
2,178,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1723,60004
3,90,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",522,60005
4,125,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",643,60007
5,161,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",499,60008
6,54,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",524,60010
7,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",174,60012
8,53,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",295,60013
9,99,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",717,60014
10,117,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",660,60015
11,707,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2086,60016
12,306,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",956,60018
13,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",192,60020
14,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",78,60021
15,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",203,60022
16,227,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1180,60025
17,93,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",403,60026
18,97,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",645,60030
19,189,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",878,60031
20,73,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",269,60033
21,167,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",901,60035
22,55,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",169,60040
23,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",153,60041
24,18,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",110,60042
25,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",93,60043
26,61,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",299,60044
27,97,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",520,60045
28,111,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",589,60046
29,105,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",526,60047
...,...,...,...,...
441,84,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",557,62521
442,21,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",109,62522
443,24,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",253,62526
444,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",56,62565
445,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",216,62568
446,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",409,62618
447,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",263,62629
448,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",385,62650
449,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",369,62656
450,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",71,62664
451,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",130,62675
452,63,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",262,62684
453,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",880,62702
454,41,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",700,62703
455,32,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",842,62704
456,11,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",168,62707
457,17,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",318,62711
458,50,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",509,62801
459,14,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",196,62832
460,77,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",525,62864
461,89,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",508,62901
462,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",71,62902
463,30,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",206,62906
464,12,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",42,62907
465,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",147,62918
466,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",83,62920
467,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",204,62948
468,23,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",480,62959
469,40,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",324,62966
470,20,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",54,62992

In [12]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [13]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [14]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [15]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

Static County Data Generation

In [16]:
county_static = pd.merge(county_gpd, county_data, how="left", left_on="id",right_on="County")

In [17]:
county_static

,id,geometry,County,confirmed_cases,demographics,total_tested
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,897,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",5052
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,177,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",702
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,141,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1381
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,3561,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",18707
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,93,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1548
5,Bureau,"POLYGON ((-89.63155 41.58491, -89.64769 41.584...",Bureau,13,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",366
6,Henry,"POLYGON ((-89.86249 41.58401, -89.87517 41.584...",Henry,59,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",692
7,Grundy,"POLYGON ((-88.25217 41.46277, -88.27149 41.462...",Grundy,55,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",773
8,Mercer,"POLYGON ((-90.43382 41.32698, -90.45335 41.326...",Mercer,11,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",184
9,Putnam,"POLYGON ((-89.16353 41.30991, -89.16500 41.309...",Putnam,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",55
10,McLean,"POLYGON ((-88.92943 40.75330, -88.94863 40.752...",McLean,112,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3309
11,Tazewell,"POLYGON ((-89.26933 40.59450, -89.26948 40.601...",Tazewell,58,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2357
12,Fulton,"POLYGON ((-89.98606 40.71225, -90.00002 40.712...",Fulton,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",251
13,Adams,"POLYGON ((-91.50535 40.20029, -91.50436 40.198...",Adams,41,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1474
14,Champaign,"POLYGON ((-88.46003 40.39850, -88.46009 40.383...",Champaign,247,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4682
15,Logan,"POLYGON ((-89.60299 40.32011, -89.60273 40.305...",Logan,9,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",532
16,Piatt,"POLYGON ((-88.57476 40.28158, -88.58665 40.267...",Piatt,7,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",275
17,Stark,"POLYGON ((-89.85770 41.23450, -89.86772 41.234...",Stark,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",52
18,Knox,"POLYGON ((-89.98529 41.14944, -90.00422 41.149...",Knox,69,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",846
19,Marshall,"POLYGON ((-89.63903 41.14845, -89.63905 41.133...",Marshall,4,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",106
20,Livingston,"POLYGON ((-88.25174 41.11422, -88.26009 41.114...",Livingston,24,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",494
21,Henderson,"POLYGON ((-90.78527 41.06922, -90.80435 41.070...",Henderson,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",97
22,Warren,"POLYGON ((-90.43990 41.06383, -90.45876 41.063...",Warren,93,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",320
23,Iroquois,"POLYGON ((-87.52616 41.01035, -87.54231 41.010...",Iroquois,85,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",508
24,Peoria,"POLYGON ((-89.98593 40.97465, -89.98599 40.961...",Peoria,132,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3273
25,Woodford,"POLYGON ((-89.04765 40.92567, -89.06702 40.925...",Woodford,15,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",457
26,Carroll,"POLYGON ((-89.91979 42.19678, -89.93903 42.196...",Carroll,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",96
27,Kane,"POLYGON ((-88.58859 42.15366, -88.58852 42.139...",Kane,2668,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",10772
28,DeKalb,"POLYGON ((-88.70559 42.15355, -88.72510 42.153...",DeKalb,160,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1410
29,Cook,"POLYGON ((-88.23858 42.15425, -88.23865 42.139...",Cook,20716,"{'age': [{'age_group': 'Unknown', 'count': 26,...",98370
...,...,...,...,...,...,...
73,Hardin,"POLYGON ((-88.37538 37.59960, -88.39355 37.599...",Hardin,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",24
74,Massac,"POLYGON ((-88.92877 37.30294, -88.92877 37.302...",Massac,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",95
75,McDonough,"POLYGON ((-90.78961 40.63568, -90.78967 40.635...",McDonough,48,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",475
76,Vermilion,"POLYGON ((-87.93508 40.48596, -87.93473 40.471...",Vermilion,25,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",929
77,Macon,"POLYGON ((-89.14466 40.04885, -89.14459 40.034...",Macon,138,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",1320
78,Sangamon,"POLYGON ((-89.21798 39.91706, -89.23638 39.916...",Sangamon,253,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",4942
79,Edgar,"POLYGON ((-87.93761 39.87996, -87.93729 39.865...",Edgar,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",131
80,Morgan,"POLYGON ((-89.99438 39.87291, -90.01303 39.872...",Morgan,28,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",529
81,Christian,"POLYGON ((-89.21767 39.81320, -89.21788 39.813...",Christian,29,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",447
82,Moultrie,"POLYGON ((-88.74551 39.79203, -88.75854 39.792...",Moultrie,6,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",92
83,Scott,"POLYGON ((-90.58103 39.52172, -90.56211 39.521...",Scott,0,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",70
84,Coles,"POLYGON ((-88.47247 39.65162, -88.47201 39.637...",Coles,22,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",441
85,Shelby,"POLYGON ((-89.02552 39.65448, -89.02541 39.640...",Shelby,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",130
86,Montgomery,"POLYGON ((-89.70178 39.52331, -89.70144 39.508...",Montgomery,34,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",634
87,Macoupin,"POLYGON ((-89.92568 39.52239, -89.94431 39.522...",Macoupin,38,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",757
88,Clark,"POLYGON ((-87.96033 39.48136, -87.97896 39.481...",Clark,5,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",113
89,Crawford,"POLYGON ((-87.95037 39.17505, -87.95003 39.158...",Crawford,10,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",190
90,Jasper,"POLYGON ((-88.00774 39.17389, -88.02264 39.173...",Jasper,46,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",250
91,Bond,"POLYGON ((-89.25027 39.02822, -89.26896 39.028...",Bond,8,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",157
92,Madison,"POLYGON ((-89.63924 38.99914, -89.64215 38.999...",Madison,401,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",2455
93,Fayette,"POLYGON ((-89.13957 39.21785, -89.15807 39.217...",Fayette,17,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",189
94,St. Clair,"POLYGON ((-89.70703 38.65503, -89.72531 38.655...",St. Clair,648,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",3353
95,Wayne,"POLYGON ((-88.69830 38.60606, -88.69830 38.605...",Wayne,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",183
96,Monroe,"POLYGON ((-89.89905 38.22077, -89.89905 38.220...",Monroe,79,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",295
97,Jefferson,"POLYGON ((-89.14445 38.47387, -89.14462 38.460...",Jefferson,89,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",738
98,Lawrence,"POLYGON ((-87.90806 38.85013, -87.90819 38.835...",Lawrence,3,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",168
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,41,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",768
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,58,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",430
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,1,"{'age': [{'age_group': 'Unknown', 'count': 0, ...",26
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,29535,"{'age': [{'age_group': 'Unknown', 'count': 24,...",122700

In [18]:
county_static.to_file('dph_county_static_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [19]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [20]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [21]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [22]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])

In [23]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']

In [24]:
county_cases = county_cases.rename(columns=standardDate)

In [25]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']

In [26]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-04-09,2020-05-01,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,22.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,41.0,1.0

In [27]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [51]:
from datetime import datetime
from datetime import timedelta

In [60]:
def find_missing_date(date):
    dt_range = datetime.strptime(date[-1], "%Y-%m-%d") - datetime.strptime(date[0], "%Y-%m-%d")
    if len(date) != dt_range.days + 1:
        print('Alert! Missing Date or Redundant date')
        for x in range(len(date) - 1):
            if (datetime.strptime(date[x + 1], "%Y-%m-%d") - datetime.strptime(date[x], "%Y-%m-%d")).days != 1:
                missing_date = datetime.strptime(date[x], "%Y-%m-%d") + timedelta(days=1)
                print('Missing Date:')
                print(missing_date)

In [64]:
# Looking for missing dates
find_missing_date(date)

In [ ]:
# reorder date
county_cases = county_cases[date]

In [ ]:
# get case time series
cases_ts = county_cases.values.tolist()

In [ ]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan

In [ ]:
county_cases['cases_ts'] = cases_ts

In [ ]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]

In [ ]:
# Reformat
county_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]
county_report = county_report.reset_index()
county_report.columns = ['County','cases_ts','dt_first_case','today_case','today_new_case']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))

In [ ]:
np.setdiff1d(county_report['County'],county_gpd['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

In [ ]:
county_report = county_report[(county_report['County'] != 'Illinois') & (county_report['County'] != 'Out of State') & (county_report['County'] != 'Suburban Cook')]

In [ ]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [ ]:
county_report

In [ ]:
county_final_gpd = pd.merge(county_gpd, county_report, how="left", left_on="id", right_on="County")

In [ ]:
county_final_gpd['population'] = 1

In [ ]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')