URL preparation

In [22]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

In [23]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen
import shapely.wkt

Download data

In [24]:
with open("./idph_COVIDZip.json") as f:
    zipcode_dict = json.load(f)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [25]:
with open("./idph_COVIDHistoricalTestResults.json") as f:
    history_dict = json.load(f)

In [26]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [27]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [28]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [29]:
county_geometry

,id,OBJECTID,County,Percent_1,Shape__Area,Shape__Length,geometry
0,McHenry,1,McHenry County,27.7,17027625788.537001,522324.305015,"POLYGON ((-88.70742 42.49352, -88.70741 42.493..."
1,Boone,2,Boone County,33.7,7862723082.688600,375171.144577,"POLYGON ((-88.70742 42.49352, -88.70750 42.493..."
2,Ogle,3,Ogle County,31.2,21284584781.190300,651729.421361,"POLYGON ((-89.68809 42.19950, -89.68807 42.184..."
3,Will,4,Will County,28.0,23669428994.175301,779085.214831,"POLYGON ((-88.26146 41.72439, -88.26103 41.708..."
4,LaSalle,5,LaSalle County,27.1,32008439057.989899,825360.163913,"POLYGON ((-88.93885 41.62837, -88.93891 41.628..."
...,...,...,...,...,...,...,...
98,Lawrence,99,Lawrence County,28.9,10426836159.952499,442943.679766,"POLYGON ((-87.90806 38.85013, -87.90819 38.835..."
99,Marion,100,Marion County,33.5,16056558800.880800,509529.795774,"POLYGON ((-89.13844 38.73633, -89.13847 38.721..."
100,Union,101,Union County,28.2,11769540678.443001,489617.647490,"POLYGON ((-89.04143 37.59650, -89.06017 37.597..."
101,Pope,102,Pope County,29.5,10432553057.307899,537878.380731,"POLYGON ((-88.70860 37.59926, -88.70876 37.584..."
102,Chicago,103,Chicago,28.2,6450276623.31,845282.931362,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ..."

In [30]:
county_gpd = county_geometry[['id','geometry']]

In [31]:
polygon1 = shapely.wkt.loads('POLYGON ((-89.6536529004544 39.7828177522233, -89.6536529004544 39.7799814663649, -89.64987635016143 39.7799814663649, -89.64987635016143 39.7828177522233, -89.6536529004544 39.7828177522233))')
polygon2 = shapely.wkt.loads('POLYGON ((-89.64923261999786 39.78268583454302, -89.64923261999786 39.7799814663649, -89.64575647711456 39.7799814663649, -89.64575647711456 39.78268583454302, -89.64923261999786 39.78268583454302))')

In [32]:
# county_gpd_dynamic = county_gpd.append([{'id':"Out Of State", 'geometry':polygon1}], ignore_index=True)
# county_gpd_dynamic = county_gpd_dynamic.append([{'id':"Unassigned", 'geometry':polygon2}], ignore_index=True)
county_gpd_dynamic = county_gpd.append([{'id':"Illinois", 'geometry':polygon2}], ignore_index=True)

In [33]:
county_gpd_dynamic

           id                                           geometry
0     McHenry  POLYGON ((-88.70742 42.49352, -88.70741 42.493...
1       Boone  POLYGON ((-88.70742 42.49352, -88.70750 42.493...
2        Ogle  POLYGON ((-89.68809 42.19950, -89.68807 42.184...
3        Will  POLYGON ((-88.26146 41.72439, -88.26103 41.708...
4     LaSalle  POLYGON ((-88.93885 41.62837, -88.93891 41.628...
..        ...                                                ...
99     Marion  POLYGON ((-89.13844 38.73633, -89.13847 38.721...
100     Union  POLYGON ((-89.04143 37.59650, -89.06017 37.597...
101      Pope  POLYGON ((-88.70860 37.59926, -88.70876 37.584...
102   Chicago  MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...
103  Illinois  POLYGON ((-89.64923 39.78269, -89.64923 39.779...

[104 rows x 2 columns]

Zipcode Data generation

In [34]:
zipcode_data

,zip,confirmed_cases,total_tested,demographics
0,53142,8,145,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
1,60002,68,549,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
2,60004,205,2416,"{'age': [{'age_group': 'Unknown', 'count': 6, ..."
3,60005,113,734,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
4,60007,181,877,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
...,...,...,...,...
491,62920,54,190,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
492,62948,8,262,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
493,62959,24,632,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
494,62966,48,440,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
495,62992,32,111,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."

In [35]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [36]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [37]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [38]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [39]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    testDate = case['testDate']
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

In [40]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [41]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [42]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])
county_pivot = county_pivot.replace(np.nan, 0).astype(int)

In [43]:
county_pivot['deaths'].iloc[2]

date
3/17/2020    0
3/18/2020    0
3/19/2020    0
3/20/2020    0
3/21/2020    0
3/22/2020    0
3/24/2020    0
3/25/2020    0
3/26/2020    0
3/27/2020    0
3/28/2020    0
3/29/2020    0
3/30/2020    0
3/31/2020    0
4/1/2020     0
4/10/2020    0
4/11/2020    0
4/12/2020    0
4/13/2020    0
4/14/2020    0
4/15/2020    0
4/16/2020    1
4/17/2020    1
4/18/2020    1
4/19/2020    1
4/2/2020     0
4/20/2020    1
4/21/2020    1
4/22/2020    1
4/23/2020    1
4/24/2020    1
4/25/2020    1
4/26/2020    1
4/27/2020    1
4/28/2020    1
4/29/2020    1
4/3/2020     0
4/30/2020    1
4/4/2020     0
4/5/2020     0
4/6/2020     0
4/7/2020     0
4/8/2020     0
4/9/2020     0
5/1/2020     1
5/10/2020    1
5/11/2020    1
5/12/2020    1
5/13/2020    1
5/14/2020    1
5/15/2020    1
5/2/2020     1
5/3/2020     1
5/4/2020     1
5/5/2020     1
5/6/2020     1
5/7/2020     1
5/8/2020     1
5/9/2020     1
Name: Bond, dtype: int32

In [44]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']
county_deaths = county_pivot['deaths']
county_tested = county_pivot['total_tested']

In [45]:
county_cases = county_cases.rename(columns=standardDate)
county_deaths = county_deaths.rename(columns=standardDate)
county_tested = county_tested.rename(columns=standardDate)

In [46]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']
county_deaths['2020-03-23'] = county_deaths['2020-03-22']
county_tested['2020-03-23'] = county_tested['2020-03-22']

In [47]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-05-15,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,1,1,1,1,1,1,1,...,42,40,40,40,40,40,40,41,41,1

In [48]:
county_tested

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-05-15,2020-05-02,2020-05-03,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,0,0,0,0,0,0,0,...,3045,0,0,1309,1380,1405,1414,1472,1537,0
Alexander,0,0,0,0,0,0,0,0,0,0,...,100,0,0,48,48,58,58,65,72,0
Bond,0,0,0,0,0,0,0,0,0,0,...,210,0,0,135,136,141,148,154,156,0
Boone,0,0,0,0,0,0,0,0,0,0,...,1496,0,0,578,601,627,658,701,742,0
Brown,0,0,0,0,0,0,0,0,0,0,...,266,0,0,40,40,44,62,139,206,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whiteside,0,0,0,0,0,0,0,0,0,0,...,1453,0,0,1058,1088,1111,1139,1177,1209,0
Will,0,0,0,0,0,0,0,0,0,0,...,24074,0,0,15910,16424,17222,17868,18689,19277,0
Williamson,0,0,0,0,0,0,0,0,0,0,...,1481,0,0,956,962,1007,1046,1106,1141,0
Winnebago,0,0,0,0,0,0,0,0,0,0,...,10857,0,0,4377,4540,4813,5150,5592,6058,0
Woodford,0,0,0,0,0,0,0,0,0,0,...,661,0,0,362,367,387,417,456,477,0

In [49]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [50]:
from datetime import datetime
from datetime import timedelta

In [51]:
def find_missing_date(date):
    dt_range = datetime.strptime(date[-1], "%Y-%m-%d") - datetime.strptime(date[0], "%Y-%m-%d")
    if len(date) != dt_range.days + 1:
        print('Alert! Missing Date or Redundant date')
        for x in range(len(date) - 1):
            if (datetime.strptime(date[x + 1], "%Y-%m-%d") - datetime.strptime(date[x], "%Y-%m-%d")).days != 1:
                missing_date = datetime.strptime(date[x], "%Y-%m-%d") + timedelta(days=1)
                print('Missing Date:')
                print(missing_date)

In [52]:
# Looking for missing dates
find_missing_date(date)

In [53]:
# reorder date
county_cases = county_cases[date]
county_deaths = county_deaths[date]
county_tested = county_tested[date]

In [54]:
# get case time series
cases_ts = county_cases.values.tolist()
deaths_ts = county_deaths.values.tolist()
tested_ts = county_tested.values.tolist()

In [55]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan
county_deaths['dt_first_death'] = (county_deaths > 0).idxmax(axis=1)
county_deaths.loc[county_deaths.iloc[:, -2] <= 0, 'dt_first_death'] = np.nan

In [56]:
county_cases['cases_ts'] = cases_ts
county_deaths['deaths_ts'] = deaths_ts

In [57]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]
county_deaths['today_death'] = county_deaths[dt_today]
county_deaths['today_new_death'] = county_deaths[dt_today] - county_deaths[dt_yesterday]
county_tested['today_tested'] = county_tested[dt_today]
county_tested['today_new_tested'] = county_tested[dt_today] - county_tested[dt_yesterday]

C:\Users\lymin\Anaconda3\envs\wherecovid19\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lymin\Anaconda3\envs\wherecovid19\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [58]:
case_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]

In [59]:
death_report = county_deaths[['deaths_ts','dt_first_death','today_death','today_new_death']]

In [60]:
tested_report = county_tested[['today_tested','today_new_tested']]

In [61]:
county_report = case_report.join(death_report, how="outer").join(tested_report, how="outer")

In [62]:
county_report = county_report.reset_index()
county_report.columns = ['NAME','cases_ts','dt_first_case','today_case','today_new_case','deaths_ts','dt_first_death','today_death','today_new_death','today_tested','today_new_tested']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))
county_report['deaths_ts'] = county_report['deaths_ts'].apply(lambda x: ','.join(map(str,x)))

In [63]:
np.setdiff1d(county_report['NAME'],county_gpd_dynamic['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Out Of State', 'Suburban Cook'], dtype=object)

In [64]:
county_report = county_report[(county_report['NAME'] != 'Out Of State') & (county_report['NAME'] != 'Suburban Cook')]

In [65]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [66]:
county_report

,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit
0,Adams,"0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,8,9,11...",2020-03-20,42,1,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-01,1,0,3045,437,2020-03-17,2020-05-15,day
1,Alexander,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-16,8,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,100,5,2020-03-17,2020-05-15,day
2,Bond,"0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,3,3,3,3,3,3,3,...",2020-03-29,11,1,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-16,1,0,210,16,2020-03-17,2020-05-15,day
3,Boone,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,4,6,7,...",2020-04-05,274,6,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...",2020-04-08,14,1,1496,65,2020-03-17,2020-05-15,day
4,Brown,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-01,9,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,266,26,2020-03-17,2020-05-15,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Whiteside,"1,1,1,1,1,1,1,1,1,1,2,2,3,4,5,5,6,9,15,18,18,2...",2020-03-17,113,2,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,...",2020-04-02,8,0,1453,43,2020-03-17,2020-05-15,day
102,Will,"2,3,9,10,12,21,21,28,40,67,104,127,182,223,228...",2020-03-17,4277,187,"0,0,0,1,1,1,1,1,2,3,3,4,4,5,8,9,8,10,11,12,19,...",2020-03-20,237,6,24074,1203,2020-03-17,2020-05-15,day
103,Williamson,"0,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,2,3,3,3,8,9,...",2020-03-19,51,-1,"0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-03-19,1,0,1481,65,2020-03-17,2020-05-15,day
104,Winnebago,"1,1,1,2,4,5,5,5,7,8,8,9,12,13,15,18,24,28,36,4...",2020-03-17,1390,53,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,3,3,...",2020-04-01,33,1,10857,607,2020-03-17,2020-05-15,day
105,Woodford,"1,1,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,4,6,6,6,7,7,...",2020-03-17,14,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-21,1,0,661,30,2020-03-17,2020-05-15,day

In [67]:
county_final_gpd = pd.merge(county_gpd_dynamic, county_report, how="left", left_on="id", right_on="NAME")

In [68]:
county_final_gpd['population'] = 1

In [69]:
county_final_gpd

,id,geometry,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit,population
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,"2,4,6,8,11,12,12,14,19,27,45,47,52,52,63,69,81...",2020-03-17,1123,40,"0,0,0,0,0,0,0,0,0,1,1,2,2,2,2,2,3,3,3,3,3,4,5,...",2020-03-26,62,5,7054,252,2020-03-17,2020-05-15,day,1
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,4,6,7,...",2020-04-05,274,6,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...",2020-04-08,14,1,1496,65,2020-03-17,2020-05-15,day,1
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,4,5,7,10,1...",2020-03-31,165,2,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-15,2,0,1677,63,2020-03-17,2020-05-15,day,1
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,"2,3,9,10,12,21,21,28,40,67,104,127,182,223,228...",2020-03-17,4277,187,"0,0,0,1,1,1,1,1,2,3,3,4,4,5,8,9,8,10,11,12,19,...",2020-03-20,237,6,24074,1203,2020-03-17,2020-05-15,day,1
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,"0,0,1,1,1,1,1,3,3,3,3,3,4,5,5,6,6,6,7,8,11,12,...",2020-03-19,117,4,"0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,...",2020-03-29,7,2,2096,78,2020-03-17,2020-05-15,day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,"0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,3,3,3,3,3,4,...",2020-03-30,47,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,1000,40,2020-03-17,2020-05-15,day,1
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-15,117,4,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-05,4,3,842,39,2020-03-17,2020-05-15,day,1
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-08,1,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,36,0,2020-03-17,2020-05-15,day,1
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,"0,0,0,0,0,519,519,782,915,1161,1364,1610,2026,...",2020-03-22,35183,842,"0,0,0,0,0,4,4,5,5,9,9,12,16,16,21,39,41,57,76,...",2020-03-22,1606,54,155725,7144,2020-03-17,2020-05-15,day,1
103,Illinois,"POLYGON ((-89.64923 39.78269, -89.64923 39.779...",Illinois,"160,288,422,585,753,1049,1049,1535,1865,2538,3...",2020-03-17,90369,2432,"0,1,3,5,6,9,9,16,19,26,34,47,65,72,98,141,157,...",2020-03-18,4058,130,538602,26565,2020-03-17,2020-05-15,day,1

In [70]:
county_final_gpd['geometry'] = county_final_gpd.apply(lambda x: shapely.wkt.loads(shapely.wkt.dumps(x.geometry, rounding_precision=8)).simplify(0), axis = 1)

In [71]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done