URL preparation

In [89]:
# Geometry URL
zipcode_geometry_url = "http://www.dph.illinois.gov/sites/default/files/COVID19/il_illinois_zip_codes.json?nocache=1"
county_geometry_url = "http://www.dph.illinois.gov/sites/default/files/Illinois_County_Geo_ch.json"

In [90]:
import pandas as pd
import json
import numpy as np
import geopandas as gpd
from urllib.request import urlopen
import shapely.wkt

Download data

In [91]:
with open("./idph_COVIDZip.json") as f:
    zipcode_dict = json.load(f)
    zipcode_data = pd.DataFrame(zipcode_dict['zip_values'])

In [92]:
with open("./idph_COVIDHistoricalTestResults.json") as f:
    history_dict = json.load(f)

In [93]:
zipcode_geometry = gpd.read_file(zipcode_geometry_url)
county_geometry = gpd.read_file(county_geometry_url)

In [94]:
with urlopen(zipcode_geometry_url) as response:
    tmp = json.load(response)
    zipcode_gpd = gpd.GeoDataFrame(tmp['features'])

In [95]:
zipcode_gpd['geometry'] = zipcode_geometry
zipcode_gpd = zipcode_gpd[['id','geometry']]
zipcode_gpd['id'] = zipcode_gpd['id'].astype(str)

In [96]:
county_geometry

,id,OBJECTID,County,Percent_1,Shape__Area,Shape__Length,geometry
0,McHenry,1,McHenry County,27.7,17027625788.537001,522324.30501520802,"POLYGON ((-88.70742 42.49352, -88.70741 42.493..."
1,Boone,2,Boone County,33.7,7862723082.6885996,375171.14457663603,"POLYGON ((-88.70742 42.49352, -88.70750 42.493..."
2,Ogle,3,Ogle County,31.2,21284584781.1903,651729.42136120505,"POLYGON ((-89.68809 42.19950, -89.68807 42.184..."
3,Will,4,Will County,28.0,23669428994.175301,779085.21483073698,"POLYGON ((-88.26146 41.72439, -88.26103 41.708..."
4,LaSalle,5,LaSalle County,27.1,32008439057.989899,825360.16391267197,"POLYGON ((-88.93885 41.62837, -88.93891 41.628..."
...,...,...,...,...,...,...,...
98,Lawrence,99,Lawrence County,28.9,10426836159.952499,442943.67976590397,"POLYGON ((-87.90806 38.85013, -87.90819 38.835..."
99,Marion,100,Marion County,33.5,16056558800.8808,509529.79577371402,"POLYGON ((-89.13844 38.73633, -89.13847 38.721..."
100,Union,101,Union County,28.2,11769540678.443001,489617.64749037399,"POLYGON ((-89.04143 37.59650, -89.06017 37.597..."
101,Pope,102,Pope County,29.5,10432553057.307899,537878.380730576,"POLYGON ((-88.70860 37.59926, -88.70876 37.584..."
102,Chicago,103,Chicago,28.2,6450276623.31,845282.931362,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ..."

In [97]:
county_gpd = county_geometry[['id','geometry']]

In [98]:
polygon1 = shapely.wkt.loads('POLYGON ((-89.6536529004544 39.7828177522233, -89.6536529004544 39.7799814663649, -89.64987635016143 39.7799814663649, -89.64987635016143 39.7828177522233, -89.6536529004544 39.7828177522233))')
polygon2 = shapely.wkt.loads('POLYGON ((-89.64923261999786 39.78268583454302, -89.64923261999786 39.7799814663649, -89.64575647711456 39.7799814663649, -89.64575647711456 39.78268583454302, -89.64923261999786 39.78268583454302))')

In [99]:
# county_gpd_dynamic = county_gpd.append([{'id':"Out Of State", 'geometry':polygon1}], ignore_index=True)
# county_gpd_dynamic = county_gpd_dynamic.append([{'id':"Unassigned", 'geometry':polygon2}], ignore_index=True)
county_gpd_dynamic = county_gpd.append([{'id':"Illinois", 'geometry':polygon2}], ignore_index=True)

In [100]:
county_gpd_dynamic

           id                                           geometry
0     McHenry  POLYGON ((-88.70742 42.49352, -88.70741 42.493...
1       Boone  POLYGON ((-88.70742 42.49352, -88.70750 42.493...
2        Ogle  POLYGON ((-89.68809 42.19950, -89.68807 42.184...
3        Will  POLYGON ((-88.26146 41.72439, -88.26103 41.708...
4     LaSalle  POLYGON ((-88.93885 41.62837, -88.93891 41.628...
..        ...                                                ...
99     Marion  POLYGON ((-89.13844 38.73633, -89.13847 38.721...
100     Union  POLYGON ((-89.04143 37.59650, -89.06017 37.597...
101      Pope  POLYGON ((-88.70860 37.59926, -88.70876 37.584...
102   Chicago  MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...
103  Illinois  POLYGON ((-89.64923 39.78269, -89.64923 39.779...

[104 rows x 2 columns]

Zipcode Data generation

In [101]:
zipcode_data

,zip,confirmed_cases,total_tested,demographics
0,60002,118,1569,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
1,60004,371,7732,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
2,60005,218,3683,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
3,60007,373,3316,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
4,60008,353,3914,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
...,...,...,...,...
580,62952,13,285,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
581,62959,51,2822,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
582,62960,8,793,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
583,62966,104,1521,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."
584,62992,59,235,"{'age': [{'age_group': 'Unknown', 'count': 0, ..."

In [102]:
zipcode_gpd.dtypes

id            object
geometry    geometry
dtype: object

In [103]:
zipcode_final_gpd = pd.merge(zipcode_gpd,zipcode_data, how = 'left', left_on=['id'], right_on=['zip'])

In [104]:
zipcode_final_gpd['confirmed_cases'] = zipcode_final_gpd['confirmed_cases'].replace(np.nan,0)
zipcode_final_gpd['total_tested'] = zipcode_final_gpd['total_tested'].replace(np.nan,0)
zipcode_final_gpd = zipcode_final_gpd[['id','confirmed_cases','total_tested','geometry']]

In [105]:
zipcode_final_gpd.to_file('dph_zipcode_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done

County Data generation

In [106]:
# transform to new york times format
county_history = pd.DataFrame(history_dict['historical_county']['values'])
l = []
for case in history_dict['historical_county']['values']:
    if 'testDate' in case:
        testDate = case['testDate']
    else:
        # Exception for 7/3/2020
        testDate = case['testdate']
    print(testDate)
    values = case['values']
    for x in values:
        x['date'] = testDate
        l.append(x)
county_history = pd.DataFrame(l)

7/5/2020
7/4/2020
7/3/2020
7/2/2020
7/1/2020
6/30/2020
6/29/2020
6/28/2020
6/27/2020
6/26/2020
6/25/2020
6/24/2020
6/23/2020
6/22/2020
6/21/2020
6/20/2020
6/19/2020
6/18/2020
6/17/2020
6/16/2020
6/15/2020
6/14/2020
6/13/2020
6/12/2020
6/11/2020
6/10/2020
6/9/2020
6/8/2020
6/7/2020
6/6/2020
6/5/2020
6/4/2020
6/3/2020
6/2/2020
6/1/2020
5/31/2020
5/30/2020
5/29/2020
5/28/2020
5/27/2020
5/26/2020
5/25/2020
5/24/2020
5/23/2020
5/22/2020
5/21/2020
5/20/2020
5/19/2020
5/18/2020
5/17/2020
5/16/2020
5/15/2020
5/14/2020
5/13/2020
5/12/2020
5/11/2020
5/10/2020
5/9/2020
5/8/2020
5/7/2020
5/6/2020
5/5/2020
5/4/2020
5/3/2020
5/2/2020
5/1/2020
4/30/2020
4/29/2020
4/28/2020
4/27/2020
4/26/2020
4/25/2020
4/24/2020
4/23/2020
4/22/2020
4/21/2020
4/20/2020
4/19/2020
4/18/2020
4/17/2020
4/16/2020
4/15/2020
4/14/2020
4/13/2020
4/12/2020
4/11/2020
4/11/2020
4/10/2020
4/9/2020
4/8/2020
4/7/2020
4/6/2020
4/5/2020
4/4/2020
4/3/2020
4/2/2020
4/1/2020
3/31/2020
3/30/2020
3/29/2020
3/28/2020
3/27/2020
3/26/2020
3/25/2020
3/24/2020
3/22/2020
3/21/2020
3/20/2020
3/19/2020
3/18/2020
3/17/2020

In [107]:
# eliminate unassigned data
county_history = county_history[county_history['County'] != 'Unassigned']

In [108]:
def standardDate(str):
    l = str.split('/')
    month = l[0]
    day = l[1]
    year = l[2]
    if len(month) < 2:
        month = '0' + month
    if len(day) < 2:
        day = '0' + day
    return year + '-' + month + '-' + day

In [109]:
# pivot table
county_pivot = pd.pivot_table(county_history, index=['County'],columns=['date'])
county_pivot = county_pivot.replace(np.nan, 0).astype(int)

In [110]:
county_pivot['deaths'].iloc[2]

date
3/17/2020    0
3/18/2020    0
3/19/2020    0
3/20/2020    0
3/21/2020    0
            ..
7/1/2020     1
7/2/2020     1
7/3/2020     1
7/4/2020     1
7/5/2020     1
Name: Bond, Length: 110, dtype: int64

In [111]:
# Standardized Date Format
county_cases = county_pivot['confirmed_cases']
county_deaths = county_pivot['deaths']
county_tested = county_pivot['total_tested']

In [112]:
county_cases = county_cases.rename(columns=standardDate)
county_deaths = county_deaths.rename(columns=standardDate)
county_tested = county_tested.rename(columns=standardDate)

In [113]:
# Add missing 03/23 data with 03/22
county_cases['2020-03-23'] = county_cases['2020-03-22']
county_deaths['2020-03-23'] = county_deaths['2020-03-22']
county_tested['2020-03-23'] = county_tested['2020-03-22']

In [114]:
county_cases.head(1)

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-07-01,2020-07-02,2020-07-03,2020-07-04,2020-07-05,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,1,1,1,1,1,1,1,...,46,46,45,45,93,100,106,113,122,1

In [115]:
county_tested

date,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-24,2020-03-25,2020-03-26,2020-03-27,...,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-07-01,2020-07-02,2020-07-03,2020-07-04,2020-07-05,2020-03-23
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,0,0,0,0,0,0,0,...,4555,4586,4623,4655,8373,8512,8645,8733,8825,0
Alexander,0,0,0,0,0,0,0,0,0,0,...,253,256,258,260,517,521,527,528,529,0
Bond,0,0,0,0,0,0,0,0,0,0,...,410,433,439,450,909,938,974,1019,1058,0
Boone,0,0,0,0,0,0,0,0,0,0,...,3597,3712,3759,3806,5389,5426,5479,5547,5692,0
Brown,0,0,0,0,0,0,0,0,0,0,...,408,408,411,415,516,523,526,528,528,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whiteside,0,0,0,0,0,0,0,0,0,0,...,2328,2437,2455,2537,4175,4268,4318,4365,4486,0
Will,0,0,0,0,0,0,0,0,0,0,...,47974,49128,49630,50778,76237,77559,78849,80150,81099,0
Williamson,0,0,0,0,0,0,0,0,0,0,...,2921,3093,3171,3243,6101,6184,6288,6374,6500,0
Winnebago,0,0,0,0,0,0,0,0,0,0,...,22714,23203,23480,23812,33249,33524,34049,34659,35115,0
Woodford,0,0,0,0,0,0,0,0,0,0,...,1524,1543,1557,1576,2487,2550,2615,2661,2705,0

In [116]:
# Get date information
date = county_cases.columns.tolist()
date.sort()
dt_first = date[0]
dt_today = date[-1]
dt_yesterday = date[-2]

In [117]:
from datetime import datetime
from datetime import timedelta

In [118]:
def find_missing_date(date):
    dt_range = datetime.strptime(date[-1], "%Y-%m-%d") - datetime.strptime(date[0], "%Y-%m-%d")
    if len(date) != dt_range.days + 1:
        print('Alert! Missing Date or Redundant date')
        for x in range(len(date) - 1):
            if (datetime.strptime(date[x + 1], "%Y-%m-%d") - datetime.strptime(date[x], "%Y-%m-%d")).days != 1:
                missing_date = datetime.strptime(date[x], "%Y-%m-%d") + timedelta(days=1)
                print('Missing Date:')
                print(missing_date)

In [119]:
# Looking for missing dates
find_missing_date(date)

In [120]:
# reorder date
county_cases = county_cases[date]
county_deaths = county_deaths[date]
county_tested = county_tested[date]

In [121]:
# get case time series
cases_ts = county_cases.values.tolist()
deaths_ts = county_deaths.values.tolist()
tested_ts = county_tested.values.tolist()

In [122]:
# get first case date
county_cases['dt_first_case'] = (county_cases > 0).idxmax(axis=1)
county_cases.loc[county_cases.iloc[:, -2] <= 0, 'dt_first_case'] = np.nan
county_deaths['dt_first_death'] = (county_deaths > 0).idxmax(axis=1)
county_deaths.loc[county_deaths.iloc[:, -2] <= 0, 'dt_first_death'] = np.nan

In [123]:
county_cases['cases_ts'] = cases_ts
county_deaths['deaths_ts'] = deaths_ts

In [124]:
# Add today_case and today_new_case columns
county_cases['today_case'] = county_cases[dt_today]
county_cases['today_new_case'] = county_cases[dt_today] - county_cases[dt_yesterday]
county_deaths['today_death'] = county_deaths[dt_today]
county_deaths['today_new_death'] = county_deaths[dt_today] - county_deaths[dt_yesterday]
county_tested['today_tested'] = county_tested[dt_today]
county_tested['today_new_tested'] = county_tested[dt_today] - county_tested[dt_yesterday]

<ipython-input-124-4277f609183d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_tested['today_tested'] = county_tested[dt_today]
<ipython-input-124-4277f609183d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_tested['today_new_tested'] = county_tested[dt_today] - county_tested[dt_yesterday]

In [125]:
case_report = county_cases[['cases_ts','dt_first_case','today_case','today_new_case']]

In [126]:
death_report = county_deaths[['deaths_ts','dt_first_death','today_death','today_new_death']]

In [127]:
tested_report = county_tested[['today_tested','today_new_tested']]

In [128]:
county_report = case_report.join(death_report, how="outer").join(tested_report, how="outer")

In [129]:
county_report = county_report.reset_index()
county_report.columns = ['NAME','cases_ts','dt_first_case','today_case','today_new_case','deaths_ts','dt_first_death','today_death','today_new_death','today_tested','today_new_tested']
county_report['cases_ts'] = county_report['cases_ts'].apply(lambda x: ','.join(map(str,x)))
county_report['deaths_ts'] = county_report['deaths_ts'].apply(lambda x: ','.join(map(str,x)))

In [130]:
np.setdiff1d(county_report['NAME'],county_gpd_dynamic['id'])
# Illinois, Out of State and Suburban Cook is not in geometry

array(['Out Of State', 'Suburban Cook'], dtype=object)

In [131]:
county_report = county_report[(county_report['NAME'] != 'Out Of State') & (county_report['NAME'] != 'Suburban Cook')]

In [132]:
county_report['dt_start'] = dt_first
county_report['dt_end'] = dt_today
county_report['dt_unit'] = 'day'

In [133]:
county_report

,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit
0,Adams,"0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,8,9,11...",2020-03-20,122,9,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-01,1,0,8825,92,2020-03-17,2020-07-05,day
1,Alexander,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-16,22,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,529,1,2020-03-17,2020-07-05,day
2,Bond,"0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,3,3,3,3,3,3,3,...",2020-03-29,16,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-16,1,0,1058,39,2020-03-17,2020-07-05,day
3,Boone,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,4,6,7,...",2020-04-05,608,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...",2020-04-08,21,0,5692,145,2020-03-17,2020-07-05,day
4,Brown,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-01,10,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,528,0,2020-03-17,2020-07-05,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Whiteside,"1,1,1,1,1,1,1,1,1,1,2,2,3,4,5,5,6,9,15,18,18,2...",2020-03-17,195,2,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,...",2020-04-02,15,0,4486,121,2020-03-17,2020-07-05,day
102,Will,"2,3,9,10,12,21,21,28,40,67,104,127,182,223,228...",2020-03-17,6923,40,"0,0,0,1,1,1,1,1,2,3,3,4,4,5,8,9,8,10,11,12,19,...",2020-03-20,320,0,81099,949,2020-03-17,2020-07-05,day
103,Williamson,"0,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,2,3,3,3,8,9,...",2020-03-19,132,6,"0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-03-19,4,0,6500,126,2020-03-17,2020-07-05,day
104,Winnebago,"1,1,1,2,4,5,5,5,7,8,8,9,12,13,15,18,24,28,36,4...",2020-03-17,3091,7,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,3,3,...",2020-04-01,96,0,35115,456,2020-03-17,2020-07-05,day
105,Woodford,"1,1,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,4,6,6,6,7,7,...",2020-03-17,35,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-21,2,0,2705,44,2020-03-17,2020-07-05,day

In [134]:
county_final_gpd = pd.merge(county_gpd_dynamic, county_report, how="left", left_on="id", right_on="NAME")

In [135]:
county_final_gpd['population'] = 1

In [136]:
county_final_gpd

,id,geometry,NAME,cases_ts,dt_first_case,today_case,today_new_case,deaths_ts,dt_first_death,today_death,today_new_death,today_tested,today_new_tested,dt_start,dt_end,dt_unit,population
0,McHenry,"POLYGON ((-88.70742 42.49352, -88.70741 42.493...",McHenry,"2,4,6,8,11,12,12,14,19,27,45,47,52,52,63,69,81...",2020-03-17,2115,12,"0,0,0,0,0,0,0,0,0,1,1,2,2,2,2,2,3,3,3,3,3,4,5,...",2020-03-26,97,0,25822,409,2020-03-17,2020-07-05,day,1
1,Boone,"POLYGON ((-88.70742 42.49352, -88.70750 42.493...",Boone,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,4,6,7,...",2020-04-05,608,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,...",2020-04-08,21,0,5692,145,2020-03-17,2020-07-05,day,1
2,Ogle,"POLYGON ((-89.68809 42.19950, -89.68807 42.184...",Ogle,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,4,5,7,10,1...",2020-03-31,271,2,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-15,4,0,4589,217,2020-03-17,2020-07-05,day,1
3,Will,"POLYGON ((-88.26146 41.72439, -88.26103 41.708...",Will,"2,3,9,10,12,21,21,28,40,67,104,127,182,223,228...",2020-03-17,6923,40,"0,0,0,1,1,1,1,1,2,3,3,4,4,5,8,9,8,10,11,12,19,...",2020-03-20,320,0,81099,949,2020-03-17,2020-07-05,day,1
4,LaSalle,"POLYGON ((-88.93885 41.62837, -88.93891 41.628...",LaSalle,"0,0,1,1,1,1,1,3,3,3,3,3,4,5,5,6,6,6,7,8,11,12,...",2020-03-19,226,1,"0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,...",2020-03-29,17,0,8920,125,2020-03-17,2020-07-05,day,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Marion,"POLYGON ((-89.13844 38.73633, -89.13847 38.721...",Marion,"0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,2,3,3,3,3,3,4,...",2020-03-30,69,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,3195,17,2020-03-17,2020-07-05,day,1
100,Union,"POLYGON ((-89.04143 37.59650, -89.06017 37.597...",Union,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-04-15,195,1,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-05,19,0,2330,30,2020-03-17,2020-07-05,day,1
101,Pope,"POLYGON ((-88.70860 37.59926, -88.70876 37.584...",Pope,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",2020-05-08,1,0,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,0,0,161,1,2020-03-17,2020-07-05,day,1
102,Chicago,"MULTIPOLYGON (((-87.93514 42.00089, -87.93521 ...",Chicago,"0,0,0,0,0,519,519,782,915,1161,1364,1610,2026,...",2020-03-22,53531,156,"0,0,0,0,0,4,4,5,5,9,9,12,16,16,21,39,41,57,76,...",2020-03-22,2634,3,448260,7218,2020-03-17,2020-07-05,day,1
103,Illinois,"POLYGON ((-89.64923 39.78269, -89.64923 39.779...",Illinois,"160,288,422,585,753,1049,1049,1535,1865,2538,3...",2020-03-17,147251,639,"0,1,3,5,6,9,9,16,19,26,34,47,65,72,98,141,157,...",2020-03-18,7020,6,1761706,27235,2020-03-17,2020-07-05,day,1

In [137]:
county_final_gpd['geometry'] = county_final_gpd.apply(lambda x: shapely.wkt.loads(shapely.wkt.dumps(x.geometry, rounding_precision=8)).simplify(0), axis = 1)

In [138]:
county_final_gpd.to_file('dph_county_data.geojson', driver='GeoJSON', encoding='utf-8')
print('done')

done